[2017-07-12 14:11] b-admike commented on #100
I have verified that this issue no longer exists. Steps taken:
1) Create a Customer model with a hasMany relationship to Order model
2) Create 2 instances of customer. First one with an order, and second one without.
3) Find all orders on each instance. For the one without any orders, an empty array is returned.
[code]

Version info:
[code]
Sandbox app: https://github.com/b-admike/loopback-sandbox

[2017-07-12 14:12] #100 closed

[2017-07-12 14:21] ssh24 commented on #307
@ssageghi What version of the mysql connector are you using?

[2017-07-12 14:58] ssh24 commented on #101
Can confirm this is not an issue anymore with the latest mysql connector.

`loopback-connector-mysql@4.2.0`

Here is a sample reproduction:

**model-definition.json**
[code]

**boot-script.js**
[code]

**output**
[code]

Closing this issue as a result. Feel free to reopen if needed.

[2017-07-12 14:58] #101 closed

[2017-07-12 15:32] ssh24 commented on #127
@donny08 You can use `db.discoverAndBuildModels` function to discover the relationships passing it down as a flag **relations: true**.

[code]

Please refer to the [apidocs](https://apidocs.strongloop.com/loopback-datasource-juggler/#datasource-prototype-discoverandbuildmodels) for more information.

Closing this issue as resolved. Feel free to reopen if needed.

[2017-07-12 15:32] #127 closed

[2017-07-13 01:33] dhmlau commented on #289
@mikafri , thanks for testing out the new mysql node module.  Is everything working the same in `mysql2` comparing to `mysql`?
Regarding Protocol 41, are you referring to this? https://simple.wikipedia.org/wiki/Protocol_41
And `mysql2` does not support Protocol 41?

[2017-07-13 05:13] ssageghi commented on #307
V3.0.0

[2017-07-13 05:26] ssageghi commented on #307
@ssh24 I update to version 5 and now it's working fine.
thanks for your help :)

[2017-07-13 17:49] davidsandoz commented on #36
@b-admike Did you try to reproduce with tables using `utf-8mb4`? For me it still happens with this encoding. I was able to solve the issue by doing this change: https://github.com/davidsandoz/loopback-connector-mysql/commit/6029a8e3729e523c3ae1a7e730f674ed1ed8997c

[2017-07-14 14:42] lehni commented on #57
@ariskemper did you see my proposal above? This already works for me...

[2017-07-14 14:49] lehni commented on #57
One more thought:

I am not sure if `model` is the right name, since it's also affecting column names. What else could it be?

[2017-07-15 06:43] mikafri commented on #289
The problem was with Azure Paas Mysql and problem with node-mysql, it was already figured out in Azure side, and node is waiting for PR to be merged. I haven't yet started trying to take mysql2 in to use, will let you know once tested it.

[2017-07-15 14:13] Undrium commented on #36
utf-8mb4 still doesn't work for AccessToken's ID.

[2017-07-18 02:14] haotangio commented on #105
I don't think this connector need to support the master-slave config.

Simply put, this is just an ORM, master-slave or any high availability settings should be operation & deployment concern, not development concern.

How do you think?

[2017-07-18 11:24] haotangio opened #309 "Like-query with keyword having space"
`http://localhost:3000/api/boards?filter[where][name][like]=%word1 word2%`

The above query always return empty, even if there is a record with name="abc word1 word2 xyz" inside DB.

How to make the API call return proper value as expected?

[2017-07-18 13:03] b-admike commented on #106
@bajtos @bekoli I have started working on this issue and so far tried to use the following solutions:

 - Use [REPLACE](https://dev.mysql.com/doc/refman/5.6/en/replace.html) statements for `replaceOrCreate`(PUT) method in the connector. Unfortunately, we run into a similar issue where affected rows are 1 for a CREATE (if row doesn't exist) and a REPLACE with same values for the row. Thus, we canno

[2017-07-18 14:32] bajtos commented on #106
First of all, I think `isNewInstance: undefined` is appropriate inside a "before save" hook, because the `save()` operation cannot reliably tell whether a new record is going to be created. Please correct me if I am wrong.

As for "after save" hook, I believe other connectors are able to provide this information, thus the task here is to figure out how to get this data from MySQL.

If the connecto

[2017-07-18 16:44] b-admike commented on #106
@bajtos I agree that "before save" hook should definitely be undefined for `save()`. I will look into how other connectors provide the same information, and pursue turning off `CLIENT_FOUND_ROWS` further. So far, the proper channels IMO to get the information from MySQL have not been reliable, so we might end up reporting `undefined` for "after save" hook.

[2017-07-18 18:59] ssh24 commented on #309
@haotangio What version of the connector are you using?

I cannot reproduce this with **loopback-connector-mysql@5.0.0**

Here is a sample reproduction:

**model-definition.json**

[code]

**boot-script.js**

[code]

**output**

[code]

Similarly it works fine on the explorer:

**Request URL**
[code]

**Response Body**
[code]

[2017-07-20 11:55] CoderRathore commented on #210
Hello,

I am getting following error randomly when I run try to restart my web. Not able to figure out how can I fix it. Can someone please assist me to resolve this error?

C:\Users\User\Desktop\20-7-2017\webservice_cron\webservice_cron\webservice\app.js:140
      if (err) throw err;
               ^

Error: connect ETIMEDOUT
    at Connection._handleConnectTimeout (C:\Users\User\Desktop\20-7-201

[2017-07-20 12:06] CoderRathore opened #310 "I am getting following error randomly when I run try to restart my web. Not able to figure out how can I fix it. Can someone please assist me to resolve this error?"
Hello,

C:\Users\User\Desktop\20-7-2017\webservice_cron\webservice_cron\webservice\app.js:140
if (err) throw err;
^

Error: connect ETIMEDOUT
at Connection._handleConnectTimeout (C:\Users\User\Desktop\20-7-2017\webservice_cron\webservice_cron\webservice\node_modules\mysql\lib\Connection.js:425:13)
at Socket.g (events.js:291:16)
at emitNone (events.js:86:13)
at Socket.emit (events.js:185:7)
at Sock

[2017-07-20 15:17] jshanman commented on #105
@haotangio I disagree.  When developing against a high availability cluster, it is often necessary to indicate that certain queries should be against the master while allowing other queries to default to potentially lagged replicated readers.  For example, if you run an update statement (which should be directed to the master of course), then attempt to read that update immediately, if replication

[2017-07-20 16:59] stringbeans commented on #105
thanks @jshanman i was about to reply with a similar response. there are ways around the update-read situation by using transactions, but that could just introduce unnecessary complexity.

this is perhaps a segway into another discussion but is there any reason why loopback does not just use an already available off-the-shelf ORM? that way loopback doesn't need to reinvent the wheel when it comes

[2017-07-20 23:20] ssh24 commented on #310
Are you sure your database server is up and running when you start your app? The error looks like it failed to connect to your db server.

[2017-07-20 23:20] #309 closed

[2017-07-21 05:35] haotangio commented on #309
I believe this issue is due to connector version as I'm still using the old one.

Thank you for your help

[2017-07-24 14:49] ssh24 commented on #310
Closing this issue due to inactivity. Feel free to reopen if needed.

[2017-07-24 14:49] #310 closed

[2017-07-25 13:03] FredLackeyOfficial opened #312 "char(1) field detected as boolean"
The following JSON is the result of performing...

[code]

The following snippet was taken from the resulting JSON file.  Notice the type ID is Boolean where the MySQL type remains char(1)...

[code]

darwin x64 6.11.1
loopback-example-database@2.0.0 /Users/flackey/Source/GitHub/StrongLoop/loopback-example-database
├── loopback@3.9.0
├── loopback-boot@2.25.0
├── loopback-component-explorer@2.7.0
├

[2017-07-25 15:07] b-admike commented on #36
I did not try to reproduce using `utf-8mb4` encoding. Re-opening this issue.

[2017-07-26 13:58] b-admike commented on #312
@FredLackeyOfficial Thank you for bringing this up. What you are seeing is the default behaviour as of v3.0.0 of this connector. If you would like your `CHAR(1)` column to be treated as a `String` instead of a `Boolean` LoopBack type, then you need to set `treatCHAR1AsString` to true as part of your options to `discoverSchema()` like so:
[code]
Result:
[code]

[2017-07-26 14:41] #312 closed

[2017-07-26 15:09] FredLackeyOfficial commented on #312
Interesting.  I'd love to understand the logic behind switching the data types from char(1) to boolean as a default.

[2017-07-27 01:44] #106 closed

[2017-07-27 02:25] b-admike commented on #106
@notbrain Unfortunately, we cannot reliably tell whether a new row was created or an existing one was updating from MySQL, so I've disabled support for `ctx.isNewInstance` for 'after save' operation hook on `save()` for this connector.

[2017-07-27 02:46] b-admike commented on #36
@davidsandoz @Undrium How did you set `utf8mb4` encoding? I used the following properties in my datasource config, but still seeing the same results after automigrating the models:
[code]

[2017-07-27 17:09] davidsandoz commented on #36
@b-admike: I set it when I manually create the MySQL database.

I believe that setting `charset` and `collation` when defining the datasource is simply telling LoopBack what charset/collation is used for the database, but it doesn't set them for the database.

Also, I don't think that the collation can just be `utf8mb4`. I have it set to `utf8mb4_general_ci`.

[2017-07-27 17:26] b-admike commented on #312
You can have a look at #232.

[2017-07-27 18:00] b-admike commented on #36
@davidsandoz Thank you. I created the database manually as well using the proper encoding and set `collation` to `utf8mb4_general_ci` in my datasource config, but I am still not able to reproduce. Can you share the versions of LoopBack you are using as I did in https://github.com/strongloop/loopback-connector-mysql/issues/36#issuecomment-314621803?

[code]
After doing automigrate successfully, her

[2017-07-27 18:46] davidsandoz commented on #36
@b-admike: Also make sure that MySQL tables are using the InnoDB engine.

Versions used:

[code]

[2017-07-27 20:46] b-admike commented on #36
Yeah it looks like the tables are using the InnoDB engine:
[code]

[2017-07-28 12:39] henkosch opened #315 "autoupdate() fails when adding new required date field with defaultFn: now"
# Description/Steps to reproduce

I have extended a custom loopback model with a new required property with type date (defaultFn: "now").

[code]

Then I used autoupdate() to extend the mysql table schema with the new field, but the table had some existing data in it, which it could not handle properly.

The autoupdate failed with the following error:
`Error: ER_TRUNCATED_WRONG_VALUE: Incorrect da

[2017-07-28 15:51] davidsandoz commented on #36
Could you also try with the AccessToken model provided by LoopBack?

It seems to be the index in this table that triggers the issue and I'm not sure how different it is with the model you used in your example.

[2017-07-29 21:51] ssh24 commented on #315
@henkosch Sorry, I was not able to follow your reproduction steps correctly to reproduce this issue. From my understanding, you had some existing data on your database and then you decided to add a new field **date** which has the property `"defaultFn": "now"` set to it. If that is correct, then I was not able to reproduce your issue.

Here is sample scripts that breaks down the reproduction step:

[2017-08-01 03:01] henkosch commented on #315
Hello,

Thank you for your detailed steps for reproduction. However you are missing one key element.

I also added the **required: true** flag to the newly added date field, so it cannot be NULL in the database. This needs the field to have a default value in the schema definition which should be set to the current date.

So step 4. should be:

[code]

Please note that there cannot be NULL values

[2017-08-01 16:02] cheese10yun commented on #213
@iamfrntdv

thank you `datasources.json` change

[2017-08-03 18:21] ericdowell opened #318 "Use MySQL DEFAULT Clause/Constant"
# Description/Steps to reproduce
Adding the ability to use the built in MySQL `DEFAULT` Constraint.

[code]

# Expected result
[code]

[2017-08-04 11:05] ssh24 commented on #315
I can confirm this is a bug. Adding to the backlog.

[2017-08-09 00:37] ssh24 opened #320 "Discover `DEFAULT` values on model properties"
# Description

As per discussion in [here](https://github.com/strongloop/loopback-connector-mysql/pull/319#issuecomment-320130581) we should be able to discover the default values on a model definition if a default value is specified.

The feature to allow creation (automigrate/autoupdate) of default was done as part of [this story](https://github.com/strongloop/loopback-connector-mysql/issues/318

[2017-08-09 00:40] #318 closed

[2017-08-14 19:47] #135 closed

[2017-08-14 19:48] loay commented on #135
Issue is fixed ...
If you are still running into the same problem, please leave a comment .. Thanks

[2017-08-14 19:53] b-admike commented on #112
Tracked in https://github.com/strongloop/loopback-connector-mysql/issues/320.

[2017-08-14 19:53] #112 closed

[2017-08-23 15:44] ssh24 commented on #315
@henkosch After a lot of digging and a [recent PR](https://github.com/strongloop/loopback-connector-mysql/pull/319) to allow default values in MySQL that persists the default value in the database, I figured out it is not a bug.

The way the **required** flag works in LoopBack, it enforces on creation of an instance, the property to be specified. Hence, if you specify both **a default value** for

[2017-08-23 15:44] #315 closed

[2017-09-07 13:41] regevbr commented on #104
Can't believe this wasn't fixed yet...

[2017-09-07 14:06] Amir-61 commented on #104
I'm not on LoopBack project anymore; however you may see @kjdelisle's comment in this regard: https://github.com/strongloop/loopback/issues/683#issuecomment-322298462

[2017-09-07 14:06] #104 closed

[2017-09-09 09:07] donno13 opened #324 "store access tokens"
hie everyone, I am making an application using loopback where I have a client model which has a base as in built User model . I am using  mysql database to  store accesstoken when i login from either user or client.is it possible to store the access tokens seperately i.e if I login from user it will store access token in accesstoken table but if i login from client it will store the access tokens

[2017-09-10 19:40] yonghongren opened #325 "MySQL BIT(1) is mapped to 'buffer' not bool as the document states"
The documentation (version 5.1.0) states MySQL BIT is mapped to 'buffer' and BIT(1) is mapped to  boolean. But testing shows that BIT(1) is actually mapped to 'buffer'.

Also, the documentation doesn't mention how MySQL 'BOOL' is mapped. Testing suggests it's mapped to number. Shouldn't it be mapped as boolean?  BOOL is what I am really looking to use in both MySQL schema and loopback model.

# De

[2017-09-13 12:38] lehni commented on #57
@kjdelisle @bajtos I think this should be addressed. It's a valid point, and I am not super keen on keeping my workaround in https://github.com/strongloop/loopback-connector-mysql/issues/57#issuecomment-313635186

I can take care of it, but would be interested in hearing your thoughts.

[2017-09-13 22:52] ssh24 commented on #324
You could have two models `accesstoken` which will store the access tokens if logged in as an user and `myaccesstoken` if logged in as a client, and upon login (i.e let's say clicking the login button) your front-end UI needs to perform with the scope of those two models to store the access token for that user with an unique id.

[2017-09-14 04:35] donno13 commented on #324
thanks for your reply ,i did exactly  same as i have two model one is accesstoken for user and another is myaccesstoken for client.but to get login and logout properties i made base  of client as user instead of persistedModel. so no matter from where i login either from client or user it is storing the accesstokens into accesstoken table only.i dont know how to configure that .plzz help

[2017-09-14 05:21] donno13 commented on #324
I mean how to make my ui that is loopback explorer behave in tht way

[2017-09-14 09:38] bajtos commented on #57
@lehni your proposal looks reasonable to me, at least as far as I can tell from my limited knowledge of this part of LoopBack codebase.

IIUC, the new datasource/connector config option `namingStrategy` can be implemented in a backward-compatible way where `undefined` means "use the default behavior as of 2017-09-14", therefore existing applications won't be affected and any possible shortcomings

[2017-09-16 21:13] emilio-martinez commented on #114
I think this should be kept alive.

[2017-09-18 21:19] rogerlopz opened #326 "Remote method with SQL not working"
# Description/Steps to reproduce

Hi guys, i created a test api and a model based on the User model that comes with loopback and configured ACL for any unauthenticated to access a remote method.

This is my model:
`common/models/distribuidor.json`
[code]

My remote method (based from [here](https://loopback.io/doc/en/lb3/Remote-methods.html), [here](https://loopback.io/doc/en/lb3/Executing-native-

[2017-09-18 21:27] jshanman commented on #105
@haotangio can you see my and @stringbeans comments and let us know if this will ever get on the roadmap?

[2017-09-19 01:18] haotangio commented on #105
@jshanman I understood your idea now. Loopback should consider supporting it. Btw, I agree with @stringbeans about using currently available ORM instead of re-invent the code.

Looks like loopback team do not take care of Github issues so actively these days. A lot of issues were auto-closed.

[2017-09-20 05:30] lehni commented on #57
@kjdelisle I am curious to hear your thoughts on this. I'd like to start addressing this, as my component fix above has other problems, mainly that mixins get initiated before components, so at that point, `dbName()` is still the wrong version.

I would suggest to simply call the field `naming` to keep things simple, perhaps?

And we still need to discuss, which possible values it should support.

[2017-09-20 05:35] lehni commented on #57
And we could decide to implement this in`loopback` also. Here is how I have it currently implemented as a monkey-patch of `app.dataSource()`:

#### server.js
[code]

#### datasources.json
[code]

[2017-09-20 09:49] lehni commented on #57
One last observation: Adding this to `app.dataSource()` in `loopback` may be easier than to `Connector.prototype.dbName()` in `loopback-connector`, since some connectors already define their own to have a different default behaviour (e.g. ` loopback-connector-postgresql`), and `loopback-connector` doesn't define a default `dbName()`. If we now added this functionality in `Connector.prototype.dbNam

[2017-09-23 19:34] #305 closed

[2017-09-23 20:34] #207 closed

[2017-09-23 20:34] #206 closed

[2017-09-23 20:34] #172 closed

[2017-09-23 20:34] #159 closed

[2017-09-23 20:34] #150 closed

[2017-09-23 22:34] #304 closed

[2017-09-27 07:24] #289 closed

[2017-10-03 09:50] mamartins opened #328 "validatesInclusionOf do not work if the creation of the object do not have that field set"
# Description/Steps to reproduce
if I had a ``` validatesInclusionOf ```  with ``` allowNull ``` on my mysql model it does not allow me to create the object without setting that value
eg:
```     OrderGroup.validatesInclusionOf('status', { in: status.getAll(), allowNull: true, allowUndefined: true }); ```

Error: ``` The `OrderGroup` instance is not valid. Details: `status` is blank (value: undefi

[2017-10-03 09:53] mamartins opened #329 "ENUM documentation misses examples"
Can someone add a real example of using the ENUM function in MYSQL? The example is vague.

[2017-10-10 16:56] #36 closed

[2017-10-13 07:27] kamilml commented on #150
I have the same problem... I need two ForeignKey for the same model in the same relation :(

[2017-11-04 19:19] #320 closed

[2017-11-06 21:24] svershin commented on #294
So after a considerable amount of time spent reading this and related threads, I finally figured out how to get a set of models to auto-migrate/update to a live MySQL database:

1. Make sure to include the `foreignKeys` property in the model definition file (HOT TIP: take care to not have duplicate foreign key names across your models).
2. Drop all tables, otherwise there might be errors when perf

[2017-11-07 07:08] mrnetforge commented on #294
I have pretty good solution that i use for some time, you dont need to drop all tables.

Just use auto-update every time you want to update foreignKeys, but before that remove all foreignKeys from model definition run auto-update, then add new foreignKeys definition and run auto-update.

When run auto-update you need to specify which model you want to update

[2017-11-07 10:34] svershin commented on #294
It's easier to drop the tables when you are getting it set-up for the first time. But I suppose deleting the foreign keys will work just the same.

BTW, Loopback's built-in objects (AccessToken, ACL, Role, and RoleMapping) still don't have their foreign keys inserted, since they do not have the `foreignKeys` property in their model definition files. Yes, I suppose one could manually insert the for

[2017-11-07 20:54] zmetcalf opened #336 "PersistedModel DestroyAll - or: [] destroys all."
# Description/Steps to reproduce

With this code:
[code]
It deletes all records in the table in MySQL, but it deletes nothing in the in-memory database.

# Expected result

Expected to not delete anything like the regular in-memory database.

However, it deletes everything in the referenced table..

[2017-11-10 21:25] andrewferk commented on #181
No, it is not wrong, this is how foreign keys work.
`loopback-connector-mysql` is doing it correctly. The foreign key should be on the target table. In your example, `Attempt` has one `Review` (implied `Review` belongs to `Attempt`), the `Review` table should have a foreign key to the primary key of the `Attempt` table.

[code]

[2017-11-11 05:15] tommedema commented on #181
@andrewferk I see. Thanks a lot for elaborating, much appreciated

[2017-11-15 11:51] buokae commented on #135
I followed exactly the steps mentioned here: https://loopback.io/doc/en/lb3/MySQL-connector.html#auto-migrateauto-update-models-with-foreign-keys

The Book and Author tables are nicely created, but the foreign key is not. So I currently still run into this problem.

[2017-11-15 13:43] buokae commented on #80
I cannot get this to work. I defined
    "indexes": {
      "RANDOM_UNIQUE_INDEX": {
        "columns": "account,order,filename",
        "kind": "unique"
      }
    },
in my model and on autoupdate I get an error:
ErrorError: ER_PARSE_ERROR: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order,filename)' at l

[2017-11-20 11:06] ketansp commented on #57
+1 for this feature

[2017-11-20 18:07] dhmlau opened #338 "Testing GH issue"
testing

[2017-11-20 18:09] #338 closed

[2017-11-20 18:11] dhmlau commented on #329
@mamartins , are you referring to the README?  https://github.com/strongloop/loopback-connector-mysql#enum
Would you like to help us to improve our documentation by submitting a PR?

[2017-11-21 18:08] lintiwen commented on #172
We had the same issue and we end up having to manually specify a connecting Model like:
[code]

Any plan on what to do next for this issue?

[2017-11-24 11:34] mandadimuralidharreddy opened #339 "How to get cursor for mysql find query?"
Hi there,
Am trying to use cursor on find query but
cursor.hasNext() is returning error.
Below is code

[code]

PS: Same thing working properly with mongodb.

[2017-11-27 06:24] #324 closed

[2017-11-29 21:41] #114 closed

[2017-12-01 22:10] #326 closed

[2017-12-02 02:10] #105 closed

[2017-12-11 06:06] xinbenlv commented on #122
I am seeing this ignoring the limit too

[2017-12-11 06:25] xinbenlv commented on #122
I dig into the code, and here is what i found.
If you look at [this file](https://github.com/strongloop/loopback-connector-mysql/blob/28d63b8dca65fd2d55408d747de68ad4605dd9cf/lib/mysql.js) you will find that

It is ignoring the connectionLimit and other options if url is provided.
I am going to submit a pull request to fix this.

[code]

[2017-12-11 06:34] xinbenlv commented on #122
@tkrugg actually, I found that you can add "connectionLimit" to the url directly like this
https://github.com/mysqljs/mysql/blob/master/test/unit/test-PoolConfig.js?line=33#L33

[2017-12-13 04:40] phuttipong opened #340 "Loopback process exit if JSON.parse throw error"
# Description/Steps to reproduce

From [sandbox](https://github.com/phuttipong/loopback-sandbox/tree/feature/fix_issues_121)
1. run 'setup.mysql.sh' script to create mysql docker container.
2. start loopback by `npm start`
3. goto http://localhost:3000/explorer/#!/message/message_create and POST new message with `{"body":"text"}`
4. open /server/models/message.json and change 'body' property type

[2017-12-13 04:41] phuttipong commented on #340
let me post my solution here.

in /lib/sql.js at line 1422
[code]

[2017-12-14 10:47] xinbenlv opened #341 "Geolocation filtering is ignored?"
I try to add `{ location: {near: here}}` to the where filter, seems the MySQL connector is ignoring this where statement, is anyone experiencing similar thing?

[2017-12-16 11:24] #328 closed

[2018-01-07 20:00] yongzhi-chen commented on #151
still getting <Buffer 01> when it is converting mysql to model property (in this function MySQL.prototype.fromColumnValue)

[2018-01-12 16:27] Overdrivr opened #343 "ER_PARSE_ERROR You have an error in your SQL syntax ; on PATCH Clients/id"
# Description/Steps to reproduce

I am facing the error `ER_PARSE_ERROR You have an error in your SQL syntax` when performing a PATCH/PUT `User/{id}` **without any payload**.

To reproduce:
1. Scaffold a loopback app 2.X (Haven't tested in 3.x yet)
2. Add Client extends User
3. Configure a local mysql database (version 5.5)
4. perform the following REST call : `PATCH /api/Clients/:id or PUT /api/C

[2018-01-16 13:11] juan-ferrer-toribio opened #344 "Schema ignored in model definition file"
When i define a model via JSON file, the "schema" option is ignored by loopback. It always tries to locate the table in the schema defined in the datasource.

models/model-x.json:

[code]

datasources.json:

[code]

If I try to call the find() method, it throwns an error:

[2018-01-19 12:04] ketansp commented on #57
To unmark it as stale

[2018-01-19 19:46] akki-ng opened #345 "Error in hitting queries with LB_LAZYCONNECT_DATASOURCES option as true"
Loopback provides an option of lazy connect to datasource by setiing ```LB_LAZYCONNECT_DATASOURCES```.

While the same works on ```loopback-connector-mongo```, but ```loopback-connector-mysql``` gives the error.
[code]

[2018-01-20 21:44] #336 closed

[2018-01-25 01:45] alterx commented on #45
Hey, guys, for the sake of completeness, as of MySQL 5.7.6. you can use the `ST_Distance_Sphere` function which achieves the same result:
[code]

[2018-02-01 02:01] blacktrue commented on #343
I have same problem.

¿Have you fix it?

[2018-02-01 08:42] Overdrivr commented on #343
Haven't worked on this yet, but you can easily fix this by implementing a
beforeRemote hook to reject the request if the body is empty.

Le 1 févr. 2018 03:01, "Cesar Aguilera" <notifications@github.com> a écrit :

[2018-02-01 11:19] fahmie78 opened #347 "Establishing MySQL connection over SSL"
# Description/Steps to reproduce

Feature: Establishing MySQL connection over SSL. It would be nice if there are parameters to enable MySQL over SSL in datasource.json. Loopback:connector:Mongodb already has one.

# Link to reproduction sandbox

n/a

# Expected result
Able to establish MySQL over SSL by configuring parameter in datasource.json with or without supplying cert parameters.

# Addition

[2018-02-02 18:18] #329 closed

[2018-02-06 13:25] #339 closed

[2018-02-07 09:20] Sturgelose opened #348 "[Feature] Filter on level 2 propierties"
# Description/Steps to reproduce

Based on : https://github.com/strongloop/loopback/issues/517

As a user I would like to filter models with parameters of included child models..
For example:
`/someResource?filter[where][field.subField][like]=abc`

At the moment you can filter parent and child models independently, but if you filter child, you still get a list with all the parents included, which

[2018-02-07 20:10] CaseyMichael opened #349 "Loopback Mixed Transaction Bug"
Should having mixed transactions in loopback have the appropriate isolation?

# Description/Steps to reproduce
### Mysql Setup
1. Install mysql with username `root` and no password
2. Run sql script `server/sql/create-db.sql`

### Application setup
1. Install dependencies `npm install`
2. Start the server `npm start`

### Testing setup
1. `touch timeouts.json` to create an empty file for the post

[2018-02-07 23:46] blacktrue commented on #343
@Overdrivr thanks.

[2018-02-25 05:58] #340 closed

[2018-02-26 12:01] #341 closed

[2018-02-26 20:49] zaiddabaeen commented on #294
To provide a full solution to this:

- Remove `loopback-connector-mysql` from your package.json.
- Install it again: `npm i loopback-connector-mysql --save`. At the time of writing I got `^5.2.0`
- Have your model as such:

[code]

- Delete your tables from the database.
- Automigrate your models: `app.dataSources.db.automigrate(model)`
- Autoupdate your models: `app.dataSources.db.autoupdate(mode

[2018-02-28 06:27] fahmie78 commented on #347
Problem solved.

datasource can accept options "ssl": true, but make sure don't use url parameter.

[2018-02-28 06:27] #347 closed

[2018-03-12 13:54] AhmedMasoodSiddiqui commented on #294
autoupdate and automigrate work perfectly the first time when foreign keys are involved, but as soon as the application is restarted i get the following error. Kindly inform if i am doing something wrong?
![error](https://user-images.githubusercontent.com/33754385/37287514-c99fa2e0-2626-11e8-969e-ebc18c378b25.PNG)

[2018-03-17 18:11] pbalan commented on #344
@juan-ferrer-toribio I stumbled upon this too. I changed the Model.json to something like below and it worked. All you need to do is move the mysql part outside the options. Found a hint in [loopback-connector](https://github.com/strongloop/loopback-connector/blob/fa6f51d1983571e35ac9c4a8827fb8179cac1f27/lib/sql.js#L297-L309).

[code]

[2018-03-29 19:18] tttmaximttt opened #350 "Hi, how to use FULLTEXT index in json model?"
Hi, how to use FULLTEXT index in json model?

[2018-04-03 13:31] #57 closed

[2018-04-09 17:40] virkt25 commented on #349
The project is maintained but the team has lately been focused on LB4 development. Stalebot is configured across all our repos to keep the number of issues in check.

Would you like to open a PR to fix this issue and I can help you land it.

[2018-04-11 09:41] osazemeu opened #351 "MIN MAX query for model properties"
# Description/Steps to reproduce

# Additional information

[2018-04-11 15:24] CaseyMichael commented on #349
Hey @virkt25 thank you for taking the time to finally respond to my question, Im sure you are very busy on LB4. I have a few questions for you.

1. Could anyone on your team actually answer my question?
`Should having mixed transactions in loopback have the appropriate isolation?`

2. Could you pull down my sample project and see if you get the same results?

3. If the answer to #1 is `yes` then I

[2018-04-12 15:26] ernie58 opened #352 "MySQL regex syntax does not respect the `i` flag"
# Description/Steps to reproduce
[code]
# Expected result
Expected: It should search case insensitive without warnings
Actual: It searches case insensitive and gives the warning
```MySQL regex syntax does not respect the `i` flag```

So the results are as expected, but a warning is thrown, which pollutes the log

# Additional information
I think, as Mysql is case insensitive by default, the warnin

[2018-04-12 15:28] ernie58 commented on #352
I would suggest deleting this line:
https://github.com/strongloop/loopback-connector-mysql/blob/master/lib/mysql.js#L555

[2018-04-16 14:30] jannyHou commented on #349
cc @raymondfeng @bajtos do you by any chance know the expected use case of issue above ^^?
In a transaction, do we allow calling method without specify the transaction? Like:

[code]

If we allow this use case, I will dig more into why the operation w/o transaction are not isolated.

[2018-04-19 12:17] alcmontejo commented on #72
connection pooling for db2? Im having issue with buld insert.

[2018-04-22 09:59] #348 closed

[2018-04-23 00:36] #343 closed

[2018-05-06 08:31] chorauoc opened #353 "Discovering models from relational databases not working when we have different name on primary key filed"
[code]

And hers what generated by loopback cli, note that **idInjection": false**

Issue is: when i used explorer the all the API calls used id filed instead of **accountid**, and when i try to execute query it threw error 500 code msg

}

[2018-05-08 17:18] CaseyMichael commented on #349
@jannyHou @raymondfeng @bajtos @virkt25 Just wondering if are going to get to this issue.

[2018-05-08 18:05] raymondfeng commented on #349
Here is how it should work:

1. If a request is executed with an active transaction (passed in `options`), it will be part of the transaction. The same connection will be used.

2. If a request is executed without an active transaction, a new connection will be acquired to run the SQL statement and autocommit will be used.

In summary, it's possible to run CRUD operations concurrently with or with

[2018-05-30 19:07] #344 closed

[2018-06-07 06:30] akki-ng commented on #345
@dhmlau Any update on this issue and PR?

[2018-06-09 11:23] ambrt opened #354 "DataSources mysql connector returns different date then API for same item"
I'm retrieving data for the same item via both API and with datasource connector.
The code for datasource is simple:
[code]

The problem is that when i retrieve date via API i get:

`Date:"2018-06-09T11:04:28.000Z"` (which is correct UTC time)

but with datasource connector for same item i get:

`ActivityDate:"2018-06-09T09:04:28.000Z"`  (which is incorrect)

Date in the database via Phpmyadmin is

[2018-06-09 13:38] dhmlau commented on #354
@ambrt, may i know what's your node module versions for `loopback`, `loopback-datasource-juggler` and `loopback-connector-mysql`?

@jannyHou, does it look like it's similar to https://github.com/strongloop/loopback-datasource-juggler/issues/1577?

[2018-06-10 13:37] ambrt commented on #354
@dhmlau versions are:
`loopback: 3.19.3`
`loopback-datasource-juggler: 3.21.1`
`loopback-connector-mysql: 5.2.0`

[2018-06-10 14:32] ambrt commented on #354
I was old packages problem. I updated everything with `yarn upgrade --latest` and it works now. Closing.

[2018-06-10 14:32] #354 closed

[2018-06-11 20:47] #350 closed

[2018-06-18 07:38] gbhipolitoglyph commented on #159
group by pls?

[2018-06-18 09:17] netojose commented on #16
This can help:

https://www.npmjs.com/package/loopback-mysql-referential-integrity-component

[2018-06-21 10:45] josesaranda opened #355 "filter where is case insensitive"
# Description/Steps to reproduce

Im trying to apply filter where name is like %name%, but return a non expected result.
Example:
[code]
# Additional information

Mysql where like allow insensitive case, i think the mysql-connector must allow this feature too.

[2018-06-25 14:49] toychicken commented on #294
We have a production DB that we need to update without losing the data - so, can't do the autoMigrate step first... any clues on how to auto-update our DB, which has FKs?

[2018-07-05 11:56] juan-ferrer-toribio commented on #344
First of all, @pbalan, your solution is only valid for table name. I was asking about the schema name.

Anyway, taking a look at the source code... The Loopback MySQL connector is delegating the table rendering to SQLConnector::tableEscaped() (Part of the loopback-connector module), wich is rendering just the table name, without the schema.

Then, there is no solution for this unless I write my ow

[2018-07-13 05:01] Anth0ny commented on #289
I am wanting to use the Azure PaaS MySql as well and get the same connection error. Checking to see if mysql2 has been revisited since original post. Need a solution.

[2018-07-13 06:01] raymondfeng commented on #289
I’m open to mysql2. It seems that apis are mostly compatible as mysql. Are u guys willing to contribute a patch?

[2018-07-13 14:31] Anth0ny commented on #289
I did some preliminary testing by simply simply replacing one reference in
mysql.js:

var mysql = require('mysql2');

That's all - no other changes, and the authentication to Azure PaaS MySql
is working. I tested basic reads and writes to the database using my
existing models.
However I am not familiar enough to be comfortable testing the connector as
thoroughly as would be needed to submit a patc

[2018-07-20 14:44] CaseyMichael commented on #349
@virkt25 @jannyHou @raymondfeng Is this going to be worked on?

[2018-08-13 21:19] thatisusama opened #357 "Need to use nested query in mysql connector please provide this functionality ASAP"
I have saved array of objects in column but now i need to apply search system in which if some object is available in any array it should return the whole row/object with matching object in array.

[2018-08-15 03:59] dienluong commented on #16
This is supported by the newer mysql-connector.  The information is buried in the documentation.  See https://github.com/strongloop/loopback-connector-mysql/issues/294

[2018-08-29 14:53] RafaelGomides commented on #294
I made [this](https://github.com/strongloop/loopback-connector-mysql/issues/294#issuecomment-310073937) and [this](https://github.com/strongloop/loopback-connector-mysql/issues/294#issuecomment-308643731). Only setting in my `package.json` the `"loopback-connector-mysql": "5.3.0"`.
And now it's working perfectly.

[2018-08-30 10:32] denkan opened #358 "Tip: Better docs of how to use execute/query/executeSQL with params"
Would be nice to include docs or tests of how to use the execute(), query(), executeSQL() methods with parameters.

Was driving me crazy when loopback-connector was using **_$1_** for param placeholders in their tests, as:
`.execute('SELECT * FROM myTable WHERE myColumn=$1', [myParamValue], callback)`

...when in fact MySQL connector uses _**?**_, as:
`.execute('SELECT * FROM myTable WHERE myColum

[2018-09-03 02:32] tanatosan commented on #294
I have upgraded my "loopback-connector-mysql": "5.3.0". It works perfectly with one foreign key being added/removed with autoupdate. However, as soon as I add another foreign key, the autoupdate seems to throw exception. This also occurs the same when I add another foreign key to another model definition.

[2018-09-03 13:41] gijo-varghese commented on #294
any update for postgres?

[2018-09-10 07:39] tgijasonyip opened #359 "Security issues with outdated dependency"
# Description/Steps to reproduce

There is a security vulnerability in "strong-globalize": "^3.1.0" which lead to the dependency of package - deep-extend@0.4.2. The version of the deep extend package has [Prototype Pollution](https://nodesecurity.io/advisories/612) issue.

![image](https://user-images.githubusercontent.com/38749833/45283125-a0b2a800-b50f-11e8-945e-b7b4fabbf409.png)

# Link to repr

[2018-09-11 00:46] dhmlau commented on #359
We should be using `strong-globalize@4.1.1` instead of 3.x.  Let me take a look.

[2018-09-12 13:27] dhmlau opened #361 "Update mocha version"
As a follow up task from PR https://github.com/strongloop/loopback-connector-mysql/pull/360, when updating to the latest version of mocha 5.2.0, there are tests failed.

## Acceptance Criteria
- [ ] update mocha version in package.json
- [ ] get all tests pass

[2018-09-12 14:53] dhmlau commented on #359
Release in 5.3.1.

[2018-09-17 03:47] myvo opened #362 "[Migration] errno: 150 "Foreign key constraint is incorrectly formed""
While running `autoupdate`, I got an error:

My models:
<pre>
{
  "name": "Author",
  "base": "PersistedModel",
  "idInjection": false,
  "properties": {
    "aId": {
      "type": "number",
      "id": true,
      "required": true,
      "mysql": {
        "columnName": "author_id"
      }
    },
    "name": {
      "type": "string"
    },
    "dob": {
      "type": "date"
    }
  },
  "validatio

[2018-09-21 19:32] charlie-s commented on #357
Is this a serialized object in a VARCHAR column, a JSON column type, or something else? You may need to just use a raw query to do this: https://loopback.io/doc/en/lb3/Executing-native-SQL.html

[2018-09-21 19:37] charlie-s commented on #355
Case sensitivity is defined in the column's collation settings.

[code]

Here's some more relevant conversation on the topic: https://stackoverflow.com/questions/2876789/how-can-i-search-case-insensitive-in-a-column-using-like-wildcard/2876802

[2018-09-23 12:03] SeanFacer opened #364 "Querying field which is null?"
Hi

How can I query a field which is null? I get a a sql error

filter=[where][category_id][eq][null]

SELECT `id`,`name`,`description`,`manufacturer`,`stockcode`,`supplier_price`,`price`,`cost`,`weight`,`stock_level`,`image_url`,`path_id`,`sku`,`upc`,`ean`,`jan`,`isbn`,`stock_status_id`,`points`,`shipping`,`date_avaliable`,`weight_class_id`,`length_class_id`,`length`,`width`,`height`,`subtract`,`

[2018-10-16 18:35] jcolemorrison commented on #36
For anyone else who runs into this issue, this is still a problem.  Using `utf8mb4` + auto migrating `AccessToken` results in the `ER_TOO_LONG_KEY` failure.

[2018-10-22 08:17] bajtos commented on #325
Reopening based on https://stackoverflow.com/questions/52905139/loopback-mysql-connector-bit1-is-recognized-always-true

[code]

[2018-10-22 08:17] bajtos commented on #325
Reopening based on https://stackoverflow.com/questions/52905139/loopback-mysql-connector-bit1-is-recognized-always-true

[code]

[2018-10-22 12:26] bajtos commented on #325
Actually, it looks like it is already possible to treat `BIT(1)` as booleans. In https://github.com/strongloop/loopback-connector-mysql/pull/232, we introduced three new flags that you can pass in discovery `options` argument to decide how boolean-like types should be treated.

> - treatTINYINT1AsTinyInt: default true - treats TINYINT(1) as a Boolean instead of a Number

I am not sure what remain

[2018-10-22 12:28] bajtos commented on #151
@yongzhi-chen thank you for the comment. Let's move the discussion to https://github.com/strongloop/loopback-connector-mysql/issues/325 please.

[2018-10-22 12:29] bajtos commented on #325
Cross-posting @yongzhi-chen's
https://github.com/strongloop/loopback-connector-mysql/issues/151#issuecomment-355848225

[2018-10-31 13:29] YuriScarbaci opened #365 "utf8mb4 Access Token ER_TOO_LONG_KEY"
Same as in the [issue 36](https://github.com/strongloop/loopback-connector-mysql/issues/36)

the default model for AccessToken ( can be found in `node_modules/loopback/common/models/access-token.json`) doesn't define mysql max char for the id, to make the utf8mb4 charset works with the default models it's required to set the default model proprieties adding the following:
[code]
defining the data

[2018-11-01 17:01] fnatdev opened #366 "Foreign Keys definition issue"
Hi,
I'm using loopback with MySQL and I've noted that's impossible to add the constraint "ON DELETE" and "ON UPDATE" to your foreign keys.
I've looked in code and I've found this function

`MySQL.prototype.buildForeignKeyDefinition = function(model, keyName) {
    var definition = this.getModelDefinition(model);

    var fk = definition.settings.foreignKeys[keyName];
    if (fk) {
      // get the

[2018-11-03 22:38] tmcgee123 opened #367 "Pool is closed if datasource.disconnect is called at any point before getConnection"
# Description/Steps to reproduce

1. define a boot script like such that alls the dataSource to disconnect
[code]
2. Run application via `node server.js`
3. make login request or run a script that does something with the same datasource
4. see that error is produced
[code]

# Expected result
I would expect that since the loopback:datasource says it is connected, that the pool would be re-opened.

[2018-11-09 22:07] CaseyMichael commented on #349
@virkt25 @jannyHou @raymondfeng hello?

[2018-11-09 22:11] CaseyMichael commented on #349
![image](https://user-images.githubusercontent.com/2779354/48290900-c980ec00-e431-11e8-865c-a29d8a072be6.png)

[2018-11-12 16:51] #349 closed

[2018-11-16 20:43] biskandar-pk opened #368 "Need a retry mechanism to use AWS RDS Aurora MySQL Engine"
# Description/Steps to reproduce

Need a retry mechanism because the mysql connection will always failed for the first time .

# Link to reproduction sandbox

.

# Expected result

there should apply for all mysql engine include RDS Aurora

# Additional information

/app # vi ./docker-entrypoint.sh
/app # node -e 'console.log(process.platform, process.arch, process.versions.node)'
linux x64 11.1.0

[2018-11-19 11:14] Chandrasekarvelraj opened #369 "Rename a column deletes the existing column and creates a new column"
I'm using

"loopback-connector-mysql": {
      "version": "2.4.1",
      "resolved": "http://registry.npmjs.org/loopback-connector-mysql/-/loopback-connector-mysql-2.4.1.tgz",
      "integrity": "sha1-RMH6DmXiADLYDzAKA1PhS4ZNw/Q=",
      "requires": {
        "async": "0.9.2",
        "debug": "2.6.9",
        "loopback-connector": "2.7.1",
        "mysql": "2.16.0",
        "strong-globalize": "2

[2018-11-22 20:11] codepushr commented on #294
Still missing for postgres...

[2018-11-28 08:51] proffalken commented on #365
Can confirm changing the data length as specified above fixes the issue.

[2018-12-11 06:04] pharindoko opened #372 "Return and wrap client connection"
# Description/Steps to reproduce

I would like to get AWS X-Ray solution to work with the loopback my sql connector
It wraps the mysql connection and then traces all requests made to mysql in X-Ray tool.
Description how it works:
https://www.npmjs.com/package/aws-xray-sdk-mysql

# Expected result

I can see traces for loopback and the AWS RDS mysql db in AWS X-Ray

# Additional information
If anyo

[2018-12-21 08:06] pharindoko commented on #372
Hello,

Does anyone have a clue how I can get the client connection ?

[2018-12-31 14:41] theluk commented on #365
maybe this one can help you

https://www.npmjs.com/package/patch-package

[2019-01-02 09:16] YuriScarbaci commented on #365
Dropped the whole loopback framework in favor of Express+sequelize+transformalizer, got more control, and working with more mature techs comes with the additional advantage of better support of postgreSQL

[2019-01-14 20:57] pharindoko commented on #367
I can confirm that this issue still exists.

[2019-01-19 09:18] ishan123456789 commented on #294
Any update on how to do this in `LB4` I'm just starting so it'll be great if you can guide me with LB4

[2019-01-20 02:15] gijo-varghese commented on #294
Yes, this is what I dislike in LB. Is it fixed in LB4?

[2019-01-29 16:41] juan-ferrer-toribio commented on #344
Finally I've found a workaround by setting the schema plus table name at options.mysql.table option. I've tested it for a while and it works correctly.

[code]

It works because SQLConnector::tableEscaped() delegates to mysql.escapeId() wich supports escaping qualified identifiers. For more info take a look to 'mysql' module readme.

[2019-02-05 00:57] jgwinner commented on #325
Good grief, this bug loops around in a circle. Some bot marks it as stale.

This really needs to be fixed.

[2019-02-05 15:21] Flash619 commented on #325
I can confirm the following will always return true even when the value of a field is 0.

[code]

[2019-02-06 20:34] rajkaran commented on #101
I am still facing this issue.

**Shift.json**
[code]
**boot-script snippet**
[code]

**DB table**
[code]
**Result**
[code]

What I am doing wrong. This is effecting my queries especially when shift is overnight.

[2019-02-06 22:53] bbito commented on #101
@rajkaran what is your local GMT offset?
Do you get back the same `startDatetime` ('2015-02-12 23:35') if you run `console.log(new Date("2015-02-13T04:35:00.000Z").toString());` ?

[2019-02-07 00:26] rajkaran commented on #101
local GMT offset is -5:00

console.log will return right timestamp, but when I am making query on timestamp field I do not get expected results

for instance
[code]
this query will not exclude shifts starting 2015-02-11 23:35:00. because of UTC timestamp stored in mysql database.

[2019-02-07 00:32] bbito commented on #101
Can you do something like:
[code]

[2019-02-07 00:51] rajkaran commented on #101
Yes I can do that..

Does startDatetime field in database needs to be of timestamp datatype. Automigrate function creates it of datetime type.

[2019-02-07 00:57] bbito commented on #101
@rajkaran I'm afraid I don't know, I've been away from Loopback for a while, but I was involved with trying to fix some serious bugs in the `date`, `datetime` and `timestamp` handling back in 2017. I hope it is working reliably now, but I don't have specific experience with either `timestamp` or Automigrate. I was using Loopback with an existing mysql DB and finding much trouble dealing with exist

[2019-02-07 01:03] rajkaran commented on #101
@bbito No problem... 👍

Thank you for your assistance.

[2019-02-07 01:08] bbito commented on #101
@rajkaran Hi again, I didn't quite read your question correctly...
No, I'd use `datetime` myself, but I don't think it will change the behavior. As I learned in 2017 there are many, many ways for interactions between local JavaScript Date objects and mysql date/time types to not work the way you're expecting since JSON is the method of communicating with the server it will always need to get seria

[2019-02-07 14:57] jgwinner commented on #325
Right, it's an Object so it would always resolve to true.

Strongloop/IBM, @yongzhi-chen showed a patch. Can we get that rolled into the official code?

@bajtos The problem isn't the documentation, it's that the flags don't work, or at least the default doesn't apply. The default is supposed to treat BIT(1) as boolean, but we still get the buffer stuff.

        == John ==

[2019-02-21 21:18] abductedMind opened #373 "multiple fulltext indexes on same model result in error upon autoupdate"
# Description/Steps to reproduce
Add this to a model config:
[code]

When autoupdate is run, an error is thrown (" InnoDB presently supports one FULLTEXT index creation at a time") that multiple fulltext indexes cannot be built when using InnoDB (If we use SQL migrations then we are able to create this indexes). It appears that fulltext indexes are limited to one per-model when the column lists ov

[2019-02-26 23:37] zwurv commented on #294
@ishan123456789 and @gijo-varghese - I've just figured out how to do this in LB4, it certainly wasn't easy.

My example is made up of a customer who can have one order (ya, I know, not real but it works and is an ok example).

1. You need to have postgresql running.
2. You need to have at least postgresql datasource configured, likely best to ensure this is working with a simple model.

3. I'm usi

[2019-02-27 16:31] abductedMind commented on #369
This is expected behavior. You should generally not "rename" columns in one step. You would create a migration to add a column, move the data, and another migration executed in the future to drop the old column once you know the data has been safely migrated.

[2019-03-11 20:14] JSilversun commented on #57
Why did you close this issue? I think is really important to separate the naming conventions between database and application. +1 to reopen.

[2019-03-31 00:58] jgwinner commented on #325
Anything?

[2019-04-12 22:45] jgwinner commented on #325
Can we get any kind of update? Either the docs need changing, or the patch needs loading.

        == John ==

[2019-04-14 18:28] DanielJaramillo94 commented on #294
How should I proceed with LB4?

[2019-04-15 05:31] regeechacko commented on #57
Any known solution for this issue?
Even in loopback 4 this option is not available or working?
Is there any working example with JSON based model file?

[2019-04-18 12:05] bajtos commented on #325
I am afraid we don't have bandwidth to address this issue right now. Can somebody take the fix shown in https://github.com/yongzhi-chen/loopback-connector-mysql/commit/95df9da9c1bd248dcadb6f10b9dd845a9e20354b, add tests to verify the functionality and contribute it all in a pull request? See https://loopback.io/doc/en/contrib/index.html and https://github.com/strongloop/loopback-connector-mysql#ru

[2019-04-19 13:27] yongzhi-chen commented on #325
I can do a pull request for this

[2019-04-22 21:00] dhmlau opened #378 "Travis CI fails"
Travis CI is failing with the following error.  There might be some configuration we need to do.

[code]

[2019-05-06 06:45] lavishAgrawal opened #381 "Inconsistency while checking for transaction while acquiring and releasing connection for executing a mysql query"
Before executing any query, the connector checks for the condition, highlighed in yellow below. Since connector and connection were not being passed it always try to get a new connection from the client before executing the query.
`
**if (transaction && transaction.connection &&
   transaction.connector === this)** {
    if (debugEnabled) {
      debug('Execute SQL within a transaction');
    }

[2019-05-07 07:34] 7ranveer commented on #364
Hi, You can try this
Querying from Loopback
[code]

[2019-05-07 07:42] 7ranveer commented on #355
Just a small workaround
`var filter = {where : or:[{name : {like : '%ra%' `}},{name : {like : '%Ra%' `}},{name : {like : '%RA%' `}},{name : {like : '%rA%' `}}]};`
But the correct way would be defining it in your database schema

[2019-05-20 08:36] bajtos opened #386 "Run shared tests from both v3 and v4 of juggler"
At the moment, our connectors are installing juggler 3.x to run the test suite. When we make a change to juggler@3, cis-jenkins detects downstream dependency and triggers CI build of connectors with the modified juggler version. When we make a change to juggler's master, no downstream builds are triggered.

In the past, we were maintaining multiple branches to test connectors against different jug

[2019-05-23 16:58] dhmlau commented on #378
Closing as done 🎉 .

[2019-05-23 16:58] #378 closed

[2019-05-28 14:39] dhmlau commented on #381
@strongloop/sq-lb-apex ^^

[2019-05-28 19:14] b-admike commented on #367
@tmcgee123 @pharindoko Can you try with the latest version `5.4.1`? We've landed @TwistedLogic's fix in #385.

[2019-05-29 21:03] tmcgee123 commented on #367
@b-admike  Success! Thanks for all of your hard work!

[2019-05-29 21:03] #367 closed

[2019-05-30 16:27] fdorantesm commented on #175
Did you resolve that?

[2019-05-30 20:09] b-admike commented on #367
Thank you @tmcgee123 and big thanks for @TwistedLogic who contributed the patch 🎉!

[2019-06-16 23:32] frbuceta opened #388 "ER_NOT_SUPPORTED_AUTH_MODE"
Hi, what's up?

Today when wanting to connect in Loopback 4 to my MySQL database hosted in a Docker container, it has given me this error.

### Versions:
* LoopBack 4: latest
* loopback-connector-mysql: latest
* MySQL: 8.0.16

### Error
`Connection fails: Error: ER_NOT_SUPPORTED_AUTH_MODE: Client does not support authentication protocol requested by server; consider upgrading MySQL client
It will

[2019-06-19 22:17] dhmlau commented on #388
@frbuceta , i'm not sure if the error is caused by this connector.  I found this thread: https://github.com/mysqljs/mysql/issues/2046.  Could you please take a look and see if it fixes your problem? Thanks.

[2019-06-23 14:59] frbuceta commented on #388
I'm going to check

[2019-06-23 15:08] frbuceta commented on #388
Works, thanks

[2019-06-23 15:08] #388 closed

[2019-06-26 13:25] rododavid19 commented on #347
How can you specify the ca, key, and cert files? is it in the same Datasource.json? and if so what's the correct syntax? Thanks

[2019-06-26 23:29] rododavid19 opened #389 "SSL connection to google cloud SQL"
Description/Steps to reproduce

Trying to establish MySQL connection over SSL. I've specified all the parameters in datasource.json, however I can't seem to specify the ca, cert, and key files correctly. I've not found documentation elsewhere on how to do this, asides from "ssl" : true. But I also need to specify the files.

Expected result
Able to establish Google Cloud SQL connection over SSL by

[2019-07-02 21:29] #353 closed

[2019-07-02 21:29] #345 closed

[2019-07-02 21:29] #358 closed

[2019-07-02 21:29] #361 closed

[2019-07-02 21:29] #362 closed

[2019-07-02 21:29] #357 closed

[2019-07-02 21:29] #366 closed

[2019-07-02 21:29] #368 closed

[2019-07-02 21:29] #372 closed

[2019-07-02 21:29] #365 closed

[2019-07-02 21:29] #369 closed

[2019-07-02 21:29] #373 closed

[2019-07-03 19:25] shadyanwar commented on #352
@ernie58 still facing this? Why not reopen the issue?

[2019-07-09 16:02] jannyHou commented on #386
PR merged

[2019-07-09 16:02] #386 closed

[2019-07-12 10:34] sureshkodur commented on #57
Hello, Any update on this? I have a similar issue.

[2019-07-16 19:47] agnes512 commented on #57
please check #3343(https://github.com/strongloop/loopback-next/issues/3343)

[2019-07-20 08:30] #364 closed

[2019-07-20 08:30] #355 closed

[2019-07-29 09:01] malek0512 commented on #72
@alcmontejo you can try to change the "maxPoolSize" parameter to 1 in your vcap.json file.
See [loopback-db2-documentation](https://loopback.io/doc/en/lb3/DB2-connector.html)

[2019-07-31 17:34] sebastian-capicua commented on #347
+1 for @rododavid19 comment, I too am looking for a way to use a pem key with my MySQL datasource

[2019-08-07 15:36] FournetThomas commented on #16
Does it have any impact on performance when doing complex queries ?

[2019-08-10 15:26] #381 closed

[2019-08-19 15:37] Clemens-E commented on #57
If I get this right, this Issue is 5 Years old, and there is still no solution to this?

[2019-09-14 23:54] #389 closed

[2019-10-11 05:55] prth-123 opened #397 "Unable to Setup Websocket With Loopback4 Without using express"
I am trying to setup websocket using loopback 4 without setting up express js manually

[2019-10-11 05:58] prth-123 opened #398 "Render EJS View Using loopback 4"
Hello support,
I was trying to render on ejs view like i was able to do in loopback 3 but not able to do it on loopback 4 in the api response.

[2019-10-12 23:14] dhmlau commented on #397
@prth-123, could you please take a look at the example from @raymondfeng? https://github.com/raymondfeng/loopback4-example-websocket

[2019-10-14 05:36] prth-123 commented on #397
Thanks @dhmlau, I will look in this example and try to implement it as per my requirement.

[2019-10-17 07:24] prth-123 opened #399 "How Update loopback 4 project of old cli to new cli?"
Hello Team,
I have update by loopback cli to latest version but my loopback 4 was generated from old cli version due to which some dependencies were not install.
But if i am trying to update package.json file manually it is giving issues like of relations, on repository level and all.
So how can i update by  by loopback 4 project to latest version?
Kindly please help me as soon as possible.

[2019-10-17 07:27] prth-123 opened #400 "How to generate error logs with loopback 4?"
Hello Team,
I want to auto generate error logs if any error comes from my API and store them in any file or in database.
I have already looked in log-extensions but was not that much helpful.

[2019-10-18 17:31] dhmlau commented on #399
@prth-123, have you tried to use `npm update` instead of updating the package.json manually?

What are the issues you're having after updating the dependencies? And what's the old version you are using?  AFAIK, we don't have any breaking changes for the relations/repository.  So it would be helpful to get some more information from you.

[2019-10-18 18:10] dhmlau commented on #400
@prth-123, I assume you're referring to this [log-extension](https://github.com/strongloop/loopback-next/tree/master/examples/log-extension).  Could you please elaborate more about why the log-extension is not helpful? Thanks.

[2019-10-22 11:30] #398 closed

[2019-11-07 15:29] frbuceta opened #403 "It doesn't return me [lat, long] with geopoint type"
# Description/Steps to reproduce

1. Configure column with datatype POINT in MsSQL
2. Configure model with datatype GeoPoint

# Expected result

I am currently returned this:
[code]

What I hope is that I return something similar to this:
[code]

Can someone help me with this?

[2019-11-25 07:43] erangakapukotuwa commented on #309
I have the same issue. My connector is,
"loopback-connector-mysql": "^5.4.2",

[2019-11-29 10:15] grisson2 commented on #210
Still have this issue after YEARS.

I have literally tried everything. It just won't connect randomly where all the other app have no problems.

[2019-12-04 14:36] sumitbhanushali opened #405 "Default sort order may impact performance on some queries"
we have noticed in our loopback app which is using MySQL that in table which has more than 3 million rows, default order by is slowing data query by 30 seconds and we dont want to order by any other column.

similar is implemented for loopback-connector-mongodb connector
https://github.com/strongloop/loopback-connector-mongodb/issues/55
https://github.com/strongloop/loopback-connector-mongodb/pull

[2019-12-27 03:00] qxl1231 commented on #325
my bit also discover as buffer. version is     "loopback-connector-mysql": "^5.4.2",

` "deleted": {
      "type": "Binary",
      "required": true,
      "length": null,
      "precision": 1,
      "scale": null,
      "mysql": {
        "columnName": "deleted",
        "dataType": "bit",
        "dataLength": null,
        "dataPrecision": 1,
        "dataScale": null,
        "nullable": "N"

[2019-12-27 06:56] #397 closed

[2020-01-09 13:16] armmmo opened #407 "sqlMessage: 'Client does not support authentication protocol requested by server; consider upgrading MySQL client'"
(node:93125) DeprecationWarning: current Server Discovery and Monitoring engine is deprecated, and will be removed in a future version. To use the new Server Discover and Monitoring engine, pass option { useUnifiedTopology: true } to the MongoClient constructor.
Web server listening at: http://localhost:3000
Browse your REST API at http://localhost:3000/explorer
Falha de conexão: Error: ER_NOT_SUP

[2020-01-09 14:05] emonddr commented on #407
@armmmo ,  please provide some more information to help us investigate.

- the version of Node.js you are using
- the version of loopback (3 or 4) you are using
- the dependencies and devDependencies in your package.json
- a small application that demonstrates this problem
- the steps needed to recreate this problem.

Thank you

:)

[2020-01-13 00:53] #403 closed

[2020-01-15 15:09] RipkensLar opened #408 "MariaDB - parameters not working when executing raw sql"
## Steps to reproduce
- set up a MariaDB database + datasource with the MysqlConnector
- build a sql query with a parameter, like this:
[code]
- execute the sql with parameters like this:
[code]

## Current Behavior
I am unable to get the desired data. I guess that the parameter is not correctly resolved, but I can't find any information about it.

## Expected Behavior
I would have expected to the

[2020-01-15 15:39] RipkensLar commented on #408
Just found out that I have to use an question mark instead of the @1 and everything works as expected.

[2020-01-15 15:39] #408 closed

[2020-01-22 15:12] damianmr commented on #210
Oh good thank you so much @probil, I got this problem today as well.

Loopback just started to fail when trying to connect to the database. It was completely random. Increasing the timeouts as suggested fixed the problem.

[2020-01-28 11:07] RipkensLar opened #409 "MariaDB - Temporal Data Tables"
## Suggestion
Hi, I am planning on using temporal data tables with MariaDB.

## Use Cases and Examples
I am unsure if this is already implemented or possible to use, but I would expect that there would be a option to enable system versioning, for example like this:
[code]

For more information, see:
https://mariadb.com/kb/en/temporal-data-tables/

I would appreciate any kind of help.

## Acceptanc

[2020-01-28 15:00] LonguCodes opened #410 "Multi id models with generated field not working"
## Steps to reproduce

Create a model with 2 fields set as id, with only one set as generated

## Current Behavior
The field is not marked as auto_increment

## Expected Behavior

The field should be marked as auto_increment

## Additional information

linux x64 10.16.3

├── @loopback/authentication@3.2.4
├── @loopback/authentication-passport@1.0.6
├── @loopback/boot@1.6.0
├── @loopback/context@1.

[2020-01-28 15:09] martinlierschof opened #411 "Bug Migration with foreign key throws"
After updating my project and nodejs and making some changes (boot and models) in my code my startup process started throwing in migration.js line: 1025 because modelToCheck.properties is undefined.
I suspect this is a problem with foreign keys when calling ds.autoupdate.

1.) I used to call autoupdate with a lot of datasources async before. (dont do this, somehow gets a lot mixed stuff)
2.) When

[2020-02-03 15:12] agnes512 commented on #410
@LonguCodes I think currently we only allow one field to be set as the id field as we don't support composite id property. If you'd like to have more than one fields to be auto-generated, you may use uuid or alter the table manually.

[2020-02-05 13:28] agnes512 commented on #411
Could you post your model definition? I can try to reproduce it and spot where the problem is. Thanks!

[2020-02-10 13:32] martinlierschof commented on #411
Sorry i cannot. I produce the models on the fly from json files. i solved it by patching the mentioned line and if fkEntity is null then remove the key.

Steps to maybe reproduce:
1.) Try to create multiple models
2.) Add a foreign key with relation to another model named
3.) Try calling ds.autoupdate

then it should happen

[2020-02-13 16:06] bitingedgemick opened #413 "Migration: Foreign Keys need to be dropped before their Indexes"
When running NPM RUN MIGRATE on a Loopback 4 Application with an existing Database the process fails when a table with a foreign key is altered.

The error appears to be caused by the execution order of the DROP statements:

sql: 'ALTER TABLE `TaskRecord` DROP INDEX `fk_taskId:`,\n' +
    'DROP FOREIGN KEY fk_taskId:',

Running these statements in MySQL Workbench results in the error:

Error Code:

[2020-02-13 19:45] AlexScotland opened #414 "Missing Documentation on Cascade"
A Co-worker of mine pointed out that each Loopback foreignKey element has an onUpdate and onDelete attribute.

Using those, we can add onDelete:"cascade", and this will add the cascade functionality built into MySQL.

No where in Loopback documentation is this mentioned, so if we can have that added, that'd be nice.

tl;dr: onDelete:"cascade" is cascade delete without any external mixins.

[2020-02-16 16:12] #405 closed

[2020-02-18 20:47] agnes512 commented on #414
https://github.com/strongloop/loopback-connector-mysql/issues/413

[2020-03-23 17:11] #407 closed

[2020-04-03 15:51] #410 closed

[2020-04-11 12:10] #409 closed

[2020-04-25 05:44] #411 closed

[2020-04-28 04:51] #413 closed

[2020-04-28 08:40] devclickuk commented on #407
This should fix this issue

in mysql run this command with your user name and password

ALTER USER '<USERNAME>'@'localhost' IDENTIFIED WITH mysql_native_password BY '<PASSWORD>'

[2020-05-02 22:17] #414 closed

[2020-05-11 23:12] philip13 commented on #35
I don't know how to count with two filters, it works only with one, can you help me please?
I try with that:
`http://localhost:3000/Users/count?where[profileC][ilike]=%25Designer%25[additionalSkillsC][ilike]=%25figma%25`

[2020-06-01 03:36] ybarbaria opened #421 "Unable to connect to mysql VPS"
## Steps to reproduce
I am unable to connect my loopback4 api using loopback-connector-mysql.
![image](https://user-images.githubusercontent.com/5574663/83373545-d488dc00-a41c-11ea-9a14-d1a1c212e504.png)

My connection settings :
`const config = {
  name: 'mysql',
  connector: 'mysql',
  url: '',
  host: '127.0.0.1',
  port: 3306,
  user: 'root',
  password: '******',
  database: 'koala_db',
  con

[2020-06-01 10:15] ybarbaria commented on #421
So I have more information from the logs :

[code]

based on this error I have updated my config and create a user called 'api' and I have setup a password for this user.

Now my config looks like :
[code]
 and my mysql.datasources.ts :

[code]

I still have the same issue, I don't understand why the connector doesn't use my configuration. Do you have an idea?

[2020-06-02 19:42] dhmlau commented on #421
@ybarbaria, just in case.. did you restart the server after making the changes? Looks like you're trying to connect to the database using user `api` and if there's connection issues, the error should at least complain about user `api` instead of user `root`.

[2020-06-08 02:58] ybarbaria commented on #421
@dhmlau Thanks for you feedback, I had and issue with PM2 my last commit wasn't updated, this issues wasn't linked with the connector, sorry about and thanks for your help.

[2020-06-08 02:58] #421 closed

[2020-06-26 10:19] shriIT commented on #213
HOW CAN WE SET THIS CHARSET FROM OTHER CONFIG AS NODEMUDULES CAN NOT BE UPLOADED ON SERVER

[2020-07-24 15:22] oom- opened #424 "Bug to generate the Foreign key constraint during a migration if the property doesn't have the same name that the mysql colu"
##  Steps to reproduce

Create a model with foreign key + `belongsTo` decorator
![image](https://user-images.githubusercontent.com/11071671/88406892-9632ec00-cdd1-11ea-9a2d-99cde775e1ef.png)

## Current Behavior

The migrate script crash because he looks for the name of the foreign key inside the props name of the object.
![image](https://user-images.githubusercontent.com/11071671/88407059-d4c8a68

[2020-08-03 12:43] Salketer opened #426 "Migrate: Weird behaviour when the MySQL server hosts other databases"
## Steps to reproduce

Get the loopback 4 TODO example working.
Create a second database alongside the data used by the todo app.
In your new database, create a dummy table that you'll need in next step.
In your new database, create a table named "Todo" and add foreign keys to it.
Run migrate on the app.

## Current Behavior

Error: ER_CANT_DROP_FIELD_OR_KEY
"Can't DROP 'fk_name_you_created'; chec

[2020-08-03 14:05] Salketer commented on #426
The problem is likely to come from somewhere else...

My datasource configuration was not setting a database key, only the URL connection scheme was defined:

[code]

[code]

When setting the database name in the config object this started working fine and the logs show the table_schema being used in the previous query...

Shouldn't the connector automatically define its database name if it is inc

[2020-08-04 21:31] agnes512 commented on #424
@oom- thank you for your investigation! I was able to locate the problem real quick. I have submitted a PR to address the issue, thanks!

[2020-08-06 13:41] agnes512 commented on #426
If you already have tables defined in the db, you don't need to run the migration script. Could you share your model definitions? I think the problem might happen when the migration script tries to drop the table.

[2020-08-06 13:51] Salketer commented on #426
It really is when it tries to drop a foreign key because the model has none
defined.

Le jeu. 6 août 2020 à 15:41, Agnes Lin <notifications@github.com> a écrit :

[2020-08-13 00:39] agnes512 commented on #424
@oom- I double checked it and found that there's something wrong with your relation definition. Since your foreign key is different from the default one, you will need to specify **the relation name** (see [docs](https://loopback.io/doc/en/lb4/BelongsTo-relation.html#relation-metadata)). For your case, it would be
[code]
Sorry that for some reasons I didn't spot it the first time 🤦  Could you try

[2020-08-18 13:30] mathias22osterhagen22 commented on #424
Hello, it doesn't work:

![image](https://user-images.githubusercontent.com/60438474/90518955-b30bd680-e167-11ea-9077-16ba55fb3b85.png)

![image](https://user-images.githubusercontent.com/60438474/90518991-c159f280-e167-11ea-97ec-e2fe5eef9b9f.png)

[2020-08-18 13:34] agnes512 commented on #424
@mathias22osterhagen22 is this the same error you got before?

[2020-08-18 18:43] agnes512 commented on #424
Some notes after checking it with exact same model / prop names:
1.
[code]
It throws this error when the source model PK is `leId`. `leid` works fine.

2. Something's wrong with the migration order. The error showed in https://github.com/strongloop/loopback-connector-mysql/issues/424#issuecomment-675479971 is because `LegalEntity` is not being migrated yet.

[2020-08-18 19:46] agnes512 commented on #424
Could you drop `Branches` and `LegalEntity` first then try `npm run build && npm run migrate`?

[2020-08-18 20:12] agnes512 commented on #424
Related issue: https://github.com/strongloop/loopback-next/issues/2831

[2020-08-19 14:13] TomDobbelaere commented on #352
While cleaning up the logs we are still facing this issue.

@ernie58 Can you leave a comment so the issue is reopened?

[2020-08-24 19:43] prateek9958 commented on #210
I am getting the same issue. The solution doesn't work for me.

[2020-08-25 02:00] 8secz-johndpope opened #433 "We wish to use with RDS Proxy"
## Suggestion

Introduce region / auth tokens

## Use Cases

We have turned our loopback codebase to support lambda

## Examples

we want to use IAM credentials / instead of username / password as per example
https://github.com/utk231/Lambda-RDS-Proxy-NodeJs/blob/master/index.js

https://github.com/good-ware/js-mysql/blob/df6654ca2c99938da3bf3f63bc763317db78c0cf/MySql.js

## Acceptance criteria

T

[2020-08-25 02:27] 8secz-johndpope opened #434 "Switch from `mysql` to `mysql2`"
https://www.npmjs.com/package/mysql2

seems like mysql2 has a bump in performance.

MySQL client for Node.js with focus on performance. Supports prepared statements, non-utf8 encodings, binary log protocol, compression, ssl

[2020-08-25 03:04] 8secz-johndpope commented on #434
<img width="807" alt="Screen Shot 2020-08-25 at 1 03 29 pm" src="https://user-images.githubusercontent.com/50567111/91118053-6bd79580-e6d3-11ea-9413-13eba0d54bf9.png">

I ran test suite and seems to pass.

[2020-08-28 13:58] bajtos commented on #434
Hi @8secz-johndpope, there is no particular reason. The connector was created before `mysql2` even existed, we haven't had bandwidth to look for alternative drivers and evaluate if it's worth switching.

From what I remember, dealing with types like Date, Time and DateTime can be tricky, especially regarding the timezones. Does `mysql2` handle time-related types the same way as `mysql`?

Our main

[2020-09-24 15:28] mathias22osterhagen22 commented on #424
Yes (sorry for the delay)

[2020-09-25 13:56] mathias22osterhagen22 commented on #35
Hello dear,
I was in the same case as you.

To apply multiple filters just add a "and" property with an array of your "conditions"

[code]

[2020-10-20 20:38] deluca-mike commented on #35
multiple filters for count is either poorly documented, poorly conceived, incorrectly implemented, or some combination of the above.

[2020-10-27 15:05] mathias22osterhagen22 opened #437 "Set foreign_key_checks = 0 before another execute doesn't works"
## Steps to reproduce

I created a route to truncate 2 tables of my database like this:
![image](https://user-images.githubusercontent.com/60438474/97319030-c674a580-186c-11eb-9576-1ad1210d34b1.png)

## Current Behavior
Get an error because of foreign key constraints **ER_TRUNCATE_ILLEGAL_FK**:
![image](https://user-images.githubusercontent.com/60438474/97320060-bdd09f00-186d-11eb-9791-dbc144152b0

[2020-11-14 22:45] 8secz-johndpope commented on #372
<img width="2054" alt="Screen Shot 2020-11-15 at 9 44 59 am" src="https://user-images.githubusercontent.com/50567111/99158479-403ed700-2727-11eb-90fc-fbccf2f4c930.png">

work in progress

[2020-11-23 08:35] Salketer commented on #426
This problem has caused us, again, a great loss of time debugging things for no reasons. If this is open to PR, I'd gladly submit a proposal to correct this.

[2020-11-25 15:26] agnes512 commented on #426
@Salketer sorry that I've been busy and don't have time to take a closer look at the issue. And yes! feel free to submit a PR and ping me for review. Thanks!

[2020-11-30 14:56] emonddr commented on #426
@Salketer , please take a look at docs/site/tutorials/todo-list/todo-list-tutorial-sqldb.md ( in this PR I have not landed yet https://github.com/strongloop/loopback-next/pull/6642 ) It covers the Todo example using mysql. Perhaps it can help you.

[2021-01-11 17:06] strideynet commented on #210
Our solution was to remove the initial database connection from the loopback boot by enabling lazyConnect in the datasource config, and then to separately call the datasource connection after the boot is finished. We came to a similar conclusion that CPU stress during the loopback boot causes the db connection to fail.

[2021-02-18 13:37] bmaupin commented on #210
We used the `connectTimeout` and `acquireTimeout` workaround for a while but started getting this error again. Increasing them further didn't work.

Since we're using Kubernetes, we were able to increase the CPU limit (`spec.containers[].resources.limits.cpu`) and that fixed the issue.

But I'm very interested in the solution proposed by @strideynet . Do you have any code snippets you can share?

[2021-02-22 16:35] bmaupin commented on #210
Interesting, it looks like `lazyConnect` is an undocumented feature of the MySQL connector: https://github.com/strongloop/loopback-connector-mysql/blob/7ce66b5b819669114fc828c2dbef5b16c4ff8fd8/lib/mysql.js#L39

I imagine it works similarly as described in the MongoDB documentation:

(https://loopback.io/doc/en/lb3/MongoDB-connector.html#additional-properties)

This issue seems to have some steps o

[2021-02-22 19:35] cpimenta-apsoftware opened #441 "Error when generating foreign key"
When using a property name in the foreign key definitions of the model entity that has custom column names, the foreign key creation SQL statement is generated incorrectly.

## Steps to reproduce

1. Define custom names for the table columns and define the foreign key by the name of the entity's properties.
![Captura de tela_2021-02-22_16-01-14](https://user-images.githubusercontent.com/69329597/1

[2021-03-26 13:39] 0x0aNL opened #443 "Docs: foreign key order restriction solution is not mentioned"
## Steps to reproduce

1. Start a new project with MySQL datasource
2. Create two models, e.g. User and Comment
3. On the Comment model, specify a foreign key to User.id
4. Turn on auto-migration with `app.migrateSchema`
5. App will fail to start, as it will try to create a foreign key on Comment to User which does not exist yet
6. Read the documentation: "Note: The order of table creation is impo

[2021-04-08 00:11] dhmlau commented on #443
@0x0aNL, would you like to submit a PR to improve our docs? Thanks.

[2021-04-13 10:49] 0x0aNL commented on #443
@dhmlau [Gave it a whirl](https://github.com/strongloop/loopback-connector-mysql/pull/444) - I hope I correctly followed contribution guidelines.

[2021-04-14 04:38] pktippa opened #445 "default: 0 for model property configuration mysql is not working during migration"
## Steps to reproduce

Define a model with

[code]

## Current Behavior

## Expected Behavior

## Link to reproduction sandbox

## Additional information

[code]
refer migration.js source at master

https://github.com/strongloop/loopback-connector-mysql/blob/master/lib/migration.js#L826

Found a workaround to set the default as `'0'` (string), please either document this or fix the issue default n

[2021-04-14 06:53] sivaiagpolagani commented on #210
I am getting this error while trying to connect with the MySQL database, It was already hosted on the server.
![image](https://user-images.githubusercontent.com/50869811/114666544-0137a080-9d1c-11eb-89d2-29bc7a856981.png)

[2021-04-16 00:34] #443 closed

[2021-05-29 00:20] #325 closed

[2021-07-09 01:50] #433 closed

[2021-07-09 01:50] #424 closed

[2021-07-23 02:20] #437 closed

[2021-07-23 02:20] #426 closed

[2021-07-23 02:20] #441 closed

[2021-07-23 02:20] #445 closed

[2021-08-12 07:50] akshatdubeysf opened #451 "Support for Full Text Search"
## Suggestion

Support FTS using the [MATCH() AGAINST()](https://dev.mysql.com/doc/refman/8.0/en/fulltext-search.html) syntax.

## Use Cases

Useful in avoiding use of execute to perform a full text search by provider keys in filters to perform the matching.

## Examples

Something like this could be provided -

{"where": {"textSearch": { "match": ["name", "email"], "against":"filter" }}}

## Acce

[2021-08-14 00:30] zaimazhar97 opened #452 "AWS EC2 LoopBack Keep Connecting to 127.0.0.1 Even Already Specified RDS Endpoint"
## Steps to reproduce

- Fill your RDS credentials through your .env
[code]
- Datasource
[code]
- Run `sudo npm run pretest && npm run migrate`
- Follow this deployment [tutorial](https://loopback.io/doc/en/lb4/deploying-with-pm2-and-nginx.html)
- Upon start, go to your specified reverse-proxy link. You should receive `502 Bad Gateway`.

![image](https://user-images.githubusercontent.com/54124001/

[2021-08-14 06:22] mrmodise commented on #452
Did you test that dotenv is indeed pulling the environment variables? you could console.log the config in the constructor of the datasource to verify this

[2021-08-14 08:49] zaimazhar97 commented on #452
@mrmodise Good idea will try it definitely. Will respond after I have done some tests. Thank you.

[2021-08-18 10:48] akshatdubeysf opened #453 "Tests are failing"
## Steps to reproduce

1. Clone the project.
2. `npm instal`l
3. setup a mysql server with a fresh db
4. config the database parameters in env.
5. `npm run test`
6. 7 of the tests cases fail.

## Current Behavior

7 test cases fail -

![Screenshot from 2021-08-18 15-52-57](https://user-images.githubusercontent.com/77672713/129885245-5bd4fa46-26a9-4fb5-9da6-f6b333f4e6dc.png)
![Screenshot from 2021-

[2021-08-18 16:41] mrmodise commented on #453
Just had a look at the last pipeline and all tests passed. Can you look at github actions to reference setup

[2021-08-19 11:12] akshatdubeysf commented on #453
Hi @mrmodise ,

I just checked the github actions, it has the exact same version of MySQL as mine, but the tests are passing in the pipeline, so I suspect it might be a platform difference, I'll have to dig a little deeper.

[2021-09-03 19:06] wesleymilan opened #455 "Default Function UUID inconsistence"
## Steps to reproduce

Create an extended User model with the following ID configuration

[code]

## Current Behavior

The returned ID on the created object is always different than the real ID saved on DB

## Expected Behavior

Should be the same

## Edited

I've tried to disable the defaultfn and force my UUID value directly and the problem is the same

[2021-09-03 19:19] #455 closed

[2021-09-03 19:19] wesleymilan commented on #455
My fault sorry guys, the field size must be 36, not 32

[2021-09-17 18:47] bmaupin opened #456 "Connection to database hangs after Error: read ETIMEDOUT"
We're using loopback-connector-mysql v6.0.2 and normally any time there's a database issue, the application automatically reconnects to the database without any intervention on our part.

However, we recently ran into an issue where this did not happen. Even though the database was running, the application would not reconnect to the database until I restarted it.

These were the errors in the log:

[2021-09-18 09:34] achrinza commented on #456
Thanks for the detailed report on the issue, @bmaupin!

I've read through the other issue, and cross-checked with the source code here; It does seem that this package doesn't properly handle connection errors after the initial connection:

Unfortunately I'm not sure why this is the case; This could be due to a retry mechanism either in the mysql package or the transport protocol.

When starting up

[2021-09-20 05:02] zaimazhar97 commented on #452
Hi, sorry for the late update. I managed to get it working but I need to blatantly paste the credential inside the datasource. It worked yes, but it is very daunting when I have to switch between development, staging, and production.

So I did the `console.log` inside the mysql datasource constructor and it shows this _before_ the server starts. It returned the correct values.

[code]

![1](https:

[2021-09-20 06:30] mrmodise commented on #452
ah! i think the issue is with ``dotenv``. How are you bootstrapping it?

[2021-09-20 12:55] zaimazhar97 commented on #452
Hi. I am not sure what you mean by bootstrapping it. If it meant how I start the application. I do this;

 `npm run pretest && npm run migrate && npm run pm2-start`
[code]
At this point, I started to believe it has something to do with pm2 or Nginx. Just that I don't know where to start.

[2021-09-21 07:50] zaimazhar97 commented on #452
Hi.

I got it working now. After adding `node_args : '-r dotenv/config',`

[code]

[2021-09-21 07:50] #452 closed

[2022-01-25 18:12] stefanblaginov opened #461 "Model's ID not set as private key in MySQL database"
## Steps to reproduce

1. Have a LoopBack 4 microservice using a MySQL database.
2. Have important data in the MySQL database belonging to the service (making `automigrate`-ing by `drop`-ing the database unfeasible).
3. Have one of the `model`'s fields set as a an `id`, by having `id: true` set in its `@property` decorator, like so:
[code]
4. Have the same field not set as a primary key inside the

[2022-02-17 11:13] A-Corregidor opened #462 "RAW Query fails when server and DB are on differents IPs"
## Steps to reproduce

LB4 app working as expected: several models, controllers, repositories, connected to a MySQL datasource.

Development server: server and DB machine are the same
Production server (deployed on AWS): server and DB machine are different (both are connected through local network)
If we query at model X through LB4 ORM (modelXRepository.find()), it works as expected.
If we query

[2022-03-11 10:04] #462 closed

[2022-06-23 21:14] KalleV commented on #347
For anyone else coming across this issue with a search: support for configuring additional options like SSL certs was added here: https://github.com/loopbackio/loopback-connector-mysql/issues/46.

[2022-06-25 05:19] Kenny477 opened #466 "Fulltext index on a model property is not migrated to the datasource"
## Steps to reproduce

1. Add/modify a property on a model to enable fulltext search
[code]

Note: allowExtendedOperators has been enabled on this model.
[code]

2. Migrate schema to datasource
Include `app.migrateSchema()` in src/index.ts to migrate the schema when running the app.
[code]

3. Run app and test a query.

## Current Behavior

Fulltext search query results in error
Query format:
[cod

[2022-07-06 03:20] #466 closed

[2022-07-08 09:49] forno opened #467 "mysql.index is not work on property"
## Steps to reproduce

1. Create the model, repository, and detasource with `@property({type: 'string', mysql: {index: {kind: "FULLTEXT"}}})` on model.
2. `npm run migrate` on cli.
3. It should make FULLTEXT INDEX, however it isn't made on MySQL.

This is example of a model.

[code]

## Current Behavior

`@property.mysql.index` is not work.

But, I see work with `@property.index` is work.

## Expe

[2022-07-14 11:09] cloud20x opened #468 "compatibility issue with mysql aurora 8.0.* using regex"
## Steps to reproduce

- build a loopback datasource in a current mysql aurora (8.0.27 in my case)
- run a regex search:
https://foo.bar.com/api/foo?filter={%22where%22:%20{%22name%22:%20{%22regexp%22:%20%22/^foo/%22}}}

## Current Behavior

results in an "500 Internal Server Error":
[code]

## Expected Behavior

Should return all regex matches for the selected model in the api response

## Additi

[2022-08-06 17:32] Lambdac0re commented on #352
The line is still there...

[2022-08-10 11:41] #352 closed

[2022-09-12 06:43] forno opened #470 "n-gram specification on FULLTEXT index"
## Suggestion

We can use MATCH operation with Natural Language mode.
However, we cannot specify parser for a FULLTEXT index.
Because `type` property should get `USING ` prefix, but FULLTEXT index are never get a `USING`.

We want to just `ADD FULLTEXT INDEX indexName (pName) WITH PARER ngram`, not `ADD FULLTEXT INDEX  indexName (pName) USING WITH PARER ngram`.

Please avoid `USING ` prefix on FUL

[2022-09-12 09:04] forno commented on #470
It maybe has only `WITH PARSER xxx` after column specify, right?
Then, we can add `WITH PARSER ` on FULLTEXT index that is like on `USING `.

[2022-10-31 17:26] aaqilniz opened #472 "Mapping of type blob/longblob to Binary fails the lb4 discover command"
## Steps to reproduce

Running `lb4 discover` creates buggy code if the DB has a column with blob/longblob data type. The MySQL connector maps blob/longblob as Binary [here](https://github.com/loopbackio/loopback-connector-mysql/blob/21e3bba4c4f58435b6a15ab33c85657eec3f88b1/lib/discovery.js#L339). Changing the type to Buffer solves the issue.

## Current Behavior

Buggy code due to mapping of blob

[2022-11-20 03:21] achrinza opened #474 "Fix CI pipeline"
As mentioned in https://github.com/loopbackio/loopback-connector-mysql/pull/471#pullrequestreview-1187161050, issue is to track fixing the CI pipeline.

[2022-11-30 11:32] forno commented on #474
I believe that it's come by JST(+9:00).
[code]

However, I don't know others.

[2022-11-30 11:36] forno commented on #470
Closed by #471

[2022-11-30 11:36] #470 closed