[2013-12-29 17:45] fusionstrings opened #15 "Error while trying to login using loopback default User model."
I am getting following error while trying to login using REST as instructed in http://docs.strongloop.com/display/DOC/Creating+and+authenticating+users . This method is validating correctly because while providing wrong credentials it's returning 401 (as expected).
`{
  "error": {
    "name": "Error",
    "status": 500,
    "message": "ER_BAD_FIELD_ERROR: Unknown column 'userId' in 'field list'",

[2014-01-02 15:39] fusionstrings opened #16 "Loopback model definition is not adding foreign key relation in database table"
It seems loopback is not adding foreign key constraint in MySQL Database table as per model definition. The same questions is asked in stackoverflow.

http://stackoverflow.com/questions/20877265/loopback-model-definition-is-not-adding-foreign-key-relation-in-database-table

I am not sure I am doing it wrong or it is by design of loopback so I am duplicating the same here.

I am using loopback for

[2014-01-08 04:49] #16 closed, assigned to nobody

[2014-02-06 04:34] eldefay opened #17 "MYSQL POINT datatype is not recognized as a GeoPoint when detecting LDL"
JSON to MySQL types
contain: Point/GeoPoint: POINT
Same behavior in MySQL to JSON doesn't seem possible to me.

[2014-03-21 14:28] numbcoder opened #20 "Update mysql to the latest version"
The latest version of node-mysql is 2.1.1. :smile:

[2014-03-21 15:46] #20 closed, assigned to nobody

[2014-04-08 13:47] bajtos opened #22 "discoverModelDefinitions does not honour database setting"
Consider the following configuration in `datasources.json`:

[code]

Run the discovery:

[code]

Actual result: data contains tables from other databases like `performance_schema`.

Expected result: when the settings define a database to use, model discovery returns only tables from that database by default.

[2014-04-10 19:53] shuai-zh opened #24 "Properties with type of 'Number' are not generated correctly in MySQL"
I define models like:

[code]

But all of the properties of type 'Number' are generated as INT(11) instead of float, double or decimal as expected in MySQL. I think there should be another property to define whether the field is decimal or integer but I cannot find any documents on that.

[2014-04-13 12:45] #24 closed, assigned to nobody

[2014-04-20 08:23] chocstarfish opened #26 "npm update cause loopback-connector-mysql to fall back to 1.1.1"
Each time I use npm update in the project scope, the npm always replace the latest 1.2.0 version with the version 1.1.1.

The part of my package.json is like this:
[code]

[2014-05-25 18:58] michael-lee opened #30 "UserIdentity Model ER_BAD_FIELD_ERROR: Unknown column '0' in 'field list'"
GET /auth/facebook 302 2ms - 428b
Error: ER_BAD_FIELD_ERROR: Unknown column '0' in 'field list'
    at Query.Sequence._packetToError (/Users/michaellee/CodeSample/loopback-example-passport/node_modules/loopback-connector-mysql/node_modules/mysql/lib/protocol/sequences/Sequence.js:30:14)
    at Query.ErrorPacket (/Users/michaellee/CodeSample/loopback-example-passport/node_modules/loopback-connector

[2014-05-29 22:02] marmarosi opened #31 "Missing LIKE and NOT LIKE expressions"
buildWhere() function does not handle cases of 'like' and 'nlike' condition types.

[2014-05-30 23:22] #31 closed, assigned to nobody

[2014-05-30 23:22] #17 closed, assigned to nobody

[2014-05-30 23:23] #15 closed, assigned to nobody

[2014-05-30 23:23] #22 closed, assigned to nobody

[2014-05-30 23:23] #30 closed, assigned to nobody

[2014-06-02 01:37] karlmikko opened #33 "malformed REST api filter causing crash"
When calling rest endpoing `/api/model/?filter[where][and][]=string_here` which is an invalid filter causes an uncaught error.

/loopback-connector-mysql/lib/mysql.js:407
  Object.keys(conds).forEach(function (key) {
         ^
TypeError: Object.keys called on non-object

[2014-06-02 06:03] #33 closed, assigned to nobody

[2014-06-02 11:02] marmarosi opened #35 "Filter is not applied on count()"
Using Model.count([filter], callback), filter settings do not appear in MySQL's SELECT COUNT(*) statement.

[2014-06-02 18:34] #35 closed, assigned to nobody

[2014-06-05 13:42] Kampfgnom opened #36 "ER_TOO_BIG_ROWSIZE, when creating user and application model"
I am getting the following error, by letting loopback create my Tables:

[code]

I assume it is due to line 1026 in lib/mysql.js. Once you have two columns of size 32k, the rows become to large.

[2014-06-21 03:24] johnsoftek opened #40 "dataModel.updateAttributes fails with errno 1364"
When I try to update a subset of fields in a model instance, I get errno 1364:
[code]

Field 'sample' is not one of the fields I wish to update. The function call fails because, for MySQL, the model.save function is an alias for updateOrCreate. It generates

[code]

The INSERT fails before it checks whether the key exists - it throws an error for any not null field not being updated.

The save fun

[2014-06-28 09:35] irisme opened #42 "为什么MySQL的连表查询不是用的join啊"
n + 1 次查询效率很低的啊。

[2014-08-05 22:02] benmarten opened #45 "Object.nearby Function Slow and Blocking"
Hi,

I am using the nearby function for a Person class like this:

  Person.nearby = function(here, max, next) {
    max = Number(max || 10);
    Person.find({
      limit: 40,
      where: {
        location: {
          near: here,
          maxDistance: max
        }
      }
    }, next);
  };

I have almost 300 thousand persons in my database, hence the query takes around eight seconds and als

[2014-08-15 22:37] jcq opened #46 "SSL Support"
Does this allow for passing along settings for SSL support? If I'm understanding [this thread](https://github.com/felixge/node-mysql/issues/795) correctly, it seems that the mysql module might want an "ssl" option to be passed to it.  Is that something that is currently in place, or is that something that would have to be added to the options object in /lib/mysql.js?

[2014-08-19 21:10] benmarten opened #47 "Varchar Last Char Gets Corrupted"
Hi guys,

I have a strange problem. I am sending a POST request containing user information, especially the Facebook ID, to my loopback server (all up-to-date, as of today).
The strange thing is that the fbId gets corrupted at the last char. First I thought it has todo with column type bigInt, then I switched to varchar(64), but it did not help...

This i what my iOS app is logging (I am using Res

[2014-08-20 08:31] bajtos opened #48 "Test connection"
loopback-workspace calls `dataSource.connect` to check if the connection settings are correct. It seems that the MySQL connector does not implement that method, thus the test is always passing.

The connector should establish a connection instead and report an error when the settings are not valid.

[2014-08-20 09:56] #47 closed, assigned to nobody

[2014-08-23 04:07] #48 closed, assigned to nobody

[2014-08-26 13:36] fabien opened #49 "Various issues when running on InnoDB engine"
@raymondfeng as noted last week, a lot of the tests fail on a fresh MySQL install (5.6.20 homebrew).

Notably errors regarding ER_TOO_LONG_KEY (almost any kind of index string column) and there seems to be a bug with isActual (the old/new data is a completely different format, causing it to always be negated - possibly related to https://github.com/strongloop/loopback/issues/468)

[2014-09-26 16:40] floatingLomas opened #50 "Documentation error"
http://docs.strongloop.com/display/LB/MySQL+connector

In 'Properties':

...Expect that should read:

[2014-09-26 16:42] #50 closed, assigned to nobody

[2014-09-28 09:23] gdeluca opened #51 "mysql connector create method overriding default values"
mysql connector is sending to the db unnecesary null values for fields not populated on create method, overriding the default values that should be populated otherwise by the database.
for example :  `created` timestamp NULL DEFAULT CURRENT_TIMESTAMP,

to fix this on line 275 , mysql.js
if ("NULL" !== value) {
          fields.push(self.columnEscaped(model, key) + ' = ' + value);
}
note that the s

[2014-10-06 12:11] bajtos opened #52 "Cannot read property 'id' of undefined"
1. Create a simple model attached to a mysql datasource, e.g.

[code]
2. Create an instance of this model.
3. Call `upsert` with the id the instance created in step 2, add extra properties to the JSON payload, e.g.

[code]

**Actual result**

`upsert` fails

[code]

and a trace log is printed to console:

[code]

**Expected result**

The connector ignores unknown properties and lets the model to d

[2014-10-16 11:57] saggiyogesh opened #53 "Unique indexes are not created in mysql"
As discussed in [this](https://groups.google.com/forum/#!topic/loopbackjs/f43GfySNm3o) thread.
Creating issue for same.

[code]
For above json config, `email` is not configured with `UNIQUE` index in mysql

[2014-11-11 18:16] wascou opened #55 "MySQL connector not compliant with API Gateway"
# Description

There's an issue launching the API Gateway when switched from memory datasource to MySQL datasource and overriding a model.
# Expected Behavior

The server normally launches
#  Steps to reproduce
- Get a fresh loopback-gateway install
- Create a file that overrides the Application model and set it in common/models
- (optional) Do some modification (for example add a dataType text to

[2014-11-13 18:08] cpentra1 opened #56 "node-mysql options"
Connection limit is being overwritten if it IS a number:

if (!isNaN(s.connectionLimit)) {
    s.connectionLimit = 10;
}

should be:

if (isNaN(s.connectionLimit)) {
    s.connectionLimit = 10;
}

without the NOT.

line 37 loopback-connector-mysql / lib / mysql.js

[2014-11-17 01:22] simoami opened #57 "Provide a way to specify table and field naming convention with automigrate/autoupdate"
Having worked on various enterpise projects in the pase it's odd for me to see camel-cased table names and table field names. it is more common to see underlined syntax, as is also found in loopback-connector-mysql source code.

| namingStrategy | description |
| --- | --- |
| model | same as the linked model (default) |
| camelcase | camel-cased. first character lowercase |
| underscore | all low

[2014-11-29 19:39] serkanserttop opened #59 "Bizarre dataSource behavior with model discovery"
Here is the link for the script I am using
https://gist.github.com/serkanserttop/64fc2d4465fb154066db

I was testing with multiple databases for an app, and the schema names are like "chosendb", "chosendb2", "chosendb3", "chosendb5", etc.
I am using "chosendb5", but the problem is that my first model is taken from "chosendb".
I can verify that from both "options.mysql.schema" field of the schema w

[2014-11-29 23:25] #59 closed, assigned to nobody

[2014-12-25 15:30] mihailignatenko opened #64 "mysql connector tries to set the value of a non-nullable, non-required field to NULL"
I have table with the following properties:

[code]

and schema for this table:

[code]

Columns like `Status` and `Role` are not required, but they cannot be null.
The problem is that mysql connector tries to set `NULL` value for these columns instead of just skipping them.
The possible fix is to add check for `nullable` in [MySQL.prototype.toFields](https://github.com/strongloop/loopback-connect

[2015-01-02 14:29] zmarouf opened #65 "Array of objects are saved as [Object Object]"
Hello!

I've been playing with loopback for a few days and I'm having trouble with a specific field in my model:

[code]

If I try to set it like so:

[code]

I get something weird in the resulting row field:

[code]

Could someone enlighten me as to what I'm doing wrong?

[2015-01-02 16:35] zmarouf commented on #65
Further tests show that it happens with the way I use upsert or updateAttributes. I changed my code to use the static updateAll and it works now.

I still don't understand why what I was doing is wrong though, so if anyone has an explanation for me, I'm all ears :)

[2015-01-06 16:53] raymondfeng commented on #64
@mihailignatenko Would you please submit a PR?

[2015-01-06 18:17] #53 closed

[2015-01-08 15:16] mihailignatenko commented on #64
done
https://github.com/strongloop/loopback-connector-mysql/pull/66

[2015-01-13 11:29] Pentiado commented on #52
Hey!
Is something moving forward with this bug? Couple of days ago I started building an API and my users when creating an account are providing me a name for their Room and that leads to "Trace: Property not found: user.roomName" when in User.afterRemote('create', ...) I try to run verify email method.

[2015-01-13 19:57] dallonf commented on #52
Um, this ticket is from 3 months ago and it has a known fix. Why is this still an issue in the latest version?

[2015-01-23 19:58] amenadiel opened #70 "Not passing tests"
I wanted to make a pull request to enable the creation of fulltext and spatial indexes, but the current master branch is failing the 11 tests contained in `mysql.discover.test.js`, because there isn't a STRONGLOOP database whatsoever. Perhaps we are missing a required setup file to create a dummy database?

It also fails on the index deep comparison (migration.test.js), but it might be because of

[2015-01-23 22:29] raymondfeng commented on #70
All tests are passing on my side. A few of them require specific tables exists in the DB. We should dump the SQL scripts so that they can be set up in local DB.

[2015-01-27 20:01] amenadiel commented on #70
@raymondfeng indeed, an SQL dump and a task to import it into a STRONGLOOP schema would be nice.

[2015-02-02 19:50] stringbeans opened #72 "No connection pooling?"
I haven't seen any documentation for connection pooling support for mysql. Is this supported in any way? I also found an old feature request from 2013 about connection pooling but I can't tell if its been implemented...

Cheers

[2015-02-02 19:51] raymondfeng commented on #72
The connector already uses connection pooling. See https://github.com/strongloop/loopback-connector-mysql/blob/master/lib/mysql.js#L69

[2015-02-02 19:51] #72 closed

[2015-02-02 21:00] stringbeans commented on #72
Thanks Raymond for the quick response!

[2015-02-12 19:54] alexxgathp opened #73 "Upsert() having duplicate error 1062, sqlState 23000"
I have a unique use case.
I have two MySQL datasources both with almost identical tables (the new table has some optional data that can be added) and models.

I am setting up a cron to regularly upsert data from the one datasource table to the other's datasource table.

I thought I'd be able to do a find() on the old and upsert() to the new, but I get this error on updates (not inserts).

[code]

[2015-02-12 19:58] alexxgathp commented on #73
The workaround I am doing is using a for loop with upsert() for each individual item. That is working, but takes long...

[2015-02-13 16:50] raymondfeng commented on #73
I assume both model has the same PK. Can you print out the old/new instance to see what's offending? You can also run the app with `DEBUG=loopback:connector:mysql node .` to see the SQL statements.

[2015-02-13 17:39] alexxgathp commented on #73
Yes, the same PKs. It is a temporary setup, because we're transitioning from an old PHP framework to the new Loopback framework app I built. The PHP  old system is already designed to get some necessary data regularly, so we're pulling it from there until I duplicate the feature.

I'll try out the debug and post it back here. For now, it looks like the workaround is working.
I am using the async l

[2015-02-18 18:28] raymondfeng commented on #51
We need to differentiate between `undefined` and `null`. If a property is set to `null`, we should pass `NULL` to MySQL. If a property is not present or `undefined`, we should skip the column. Can you create a patch?

[2015-02-18 18:43] rnybergh commented on #51
Wouldn't the above fix remove also the values that have been explicitly set to null?

[2015-02-18 23:48] raymondfeng commented on #51
@rnybergh That's what I'm trying to avoid.

[2015-02-19 06:45] rnybergh commented on #51
Wouldn't this do it?
'''
if('NULL'!== value && data[key]!==undefined) {
}
'''

[2015-03-06 09:45] saystone opened #80 "Error in creating multi-column indexes from JSON"
Hello!

[code]
[code]
[code]
It throws following error:
[code]
So i'm trying to logging query:
[code]
I referenced this documentation:
http://docs.strongloop.com/display/public/LB/Model+definition+JSON+file
But this code seems to be different:
https://github.com/strongloop/loopback-connector-mysql/blob/master/lib/mysql.js#L884-L904

[2015-03-09 08:06] smehrbrodt opened #83 "Can't use custom table name with hasMany relations"
I have the following models:

[code]

[code]

[code]

Now, when I try to get a Person with the related ministries, I get the following error: `"ER_NO_SUCH_TABLE: Table 'gemmii-test.PersonMinistry' doesn't exist"`.

When I remove the custom table name "PerPersonMinistry" from PersonMinistry, everything works.

[2015-03-10 13:43] didikeke opened #84 "foreign key column has different dataType with its primary key"
e.g.

if I define the pk type to string in user.json as below, it will generate  varchar(255) id column in user table, but for the other tables who has userId as foreign key column, it will generate varchar(512).
[code]

[2015-03-10 14:52] didikeke commented on #84
or,

[code]

Since in modern websites, it will has more than max value 2147483647 of int(11) rows data in a table in one or two years.  If it is bigint(20) from beginning, it will cost less effect in future.

However, if I set dataType as bigint, The PK will be bigint(20), but the FK will be int(11).

After searching, I found this commit : https://github.com/strongloop/loopback-datasource-juggler/

[2015-03-10 15:17] raymondfeng commented on #84
I think that has been fixed by https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/datasource.js#L1712-L1717. We now also take the DB specific mapping to the FK. Can you double check?

[2015-03-10 17:18] didikeke commented on #84
Thanks for your quick response.

This line https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/datasource.js#L1713
[code]
foreignMeta will always null,

There are two reasons:
1. key is not right value here.  It is className's column name instead of foreignClassName's column name.
e.g.  'user' has many 'userIdentity' and the foreignKey is 'userId'.

In this line code, it is
[

[2015-03-10 17:55] didikeke commented on #84
For first reason:
the line https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/datasource.js#L1713 may need  to change from
[code]
to

[code]

for second reason, I need to understand the columnMetadata code my tomorrow. It is too late at China time now :)

[2015-03-11 03:45] didikeke commented on #84
a)  create pull request https://github.com/strongloop/loopback-datasource-juggler/pull/498
b)  after reading https://github.com/strongloop/loopback-example-mysql:

When create string PK and make sure the FK is same dataType, the "properties" in model json file should be:

[code]

To create bigint PK , the "properties" should be

[code]

[2015-03-11 06:41] didikeke opened #85 "Can't define a bigint(20) auto increment PK"
I am trying to create a bigint(20) auto increment PK. But it seems that does not support auto increment if it is not default PK dataType.

Model properties:

[code]

Searched codes, both
https://github.com/strongloop/loopback-connector-mysql/blob/master/lib/mysql.js#L962-L965
and
https://github.com/strongloop/loopback-connector-mysql/blob/master/lib/mysql.js#L1042-L1049

do not have a field to out

[2015-03-13 03:56] thujikun opened #86 "Access to AWS RDS read replica"
Is it possible to set mysql config to connect RDS read replica DB?

[2015-03-18 02:14] #84 closed

[2015-03-19 16:39] Darkeye9 opened #88 "Unproper unserializing when updating Object type field using upsert"
When updating a model containing an Object field, the upsert method erroneously unserializes the JSON Object notation, resulting in a faulty SQL Query.

Example:
=======
When isnerting a new item, the create method is called, and a correct query is created:
[code]
translates to
[code]
Now when the model is updated, the following data is sent to to the PUT REST endpoint:
[code]
Note that the only d

[2015-03-20 08:51] Darkeye9 commented on #88
It is solved in the master branch by the last commit ;)

Waiting for release!

[2015-03-20 08:51] #88 closed

[2015-03-20 16:34] ghost opened #89 "MySQL Database with ACLs"
Hi,

I don't find any informations about that topic but the only way i found  to use ACL with extern Database isn't really easy.

[code]

This command allow you to add acl in model but that didn't add it in db.

That mean that we have to create all the acls with automigrate script, i think that could be cool to generate directly in db too ?

[2015-03-23 17:01] bajtos commented on #36
@raymondfeng what's the status of this issue? Has it been addressed yet? Is it a "bug" or an "enhancement"?

[2015-04-07 23:17] hotaru355 opened #93 "Filter input array of numbers gets modified to array of strings"
Possibly related to issue #65:
This is more an "annoyance" than a bug and could possibly be fixed quickly. If an array of numbers is used in a filter, it's values will get modified once used in a query:

[code]

This is annoying, if the array is required for further tasks later on. Work-around:

[code]

Here a repo to replicate the issue: https://github.com/hotaru355/issue1287

[2015-04-07 23:25] hotaru355 commented on #93
Just found that this is a duplicate of issue #82. As opposed to the original poster, I am happy to sign your CLA, so hopefully we will see this fix soon in master.

[2015-04-08 08:40] smehrbrodt commented on #65
I think this is fixed with 634a0a94bcba033bc7748b97a7f7921f54d1e1e4

[2015-04-08 08:54] smehrbrodt commented on #83
It seems this issue has been fixed meanwhile. It works in the 1.7.0 release.

[2015-04-08 08:54] #83 closed

[2015-04-29 15:24] Nighthawk14 commented on #86
@thujikun Have you find a solution ? :)

[2015-04-30 12:52] Hithim opened #95 "Error: Invalid date on relation request"
Hello .
I get this error when requesting /api/switches?filter[include]=houses

[code]

there are 2 models switches and houses with relations switches -> has one houses and houses -> has many switches, column specActExp may be NULL .
Maybe someone can tell me what i do wrong.

[2015-05-07 07:03] fahadtasleem opened #96 "Count method throws syntax error when used with where clause"
Hi,

I am trying to use where clause in count method for paginition purpose. Whenever I try to use where clause, it gives me a mysql syntax error for as simple query as below.

Ride.count({
      where:{"id":20}
    },function(err,totalCount){
      if (err) {
        log.info("Total error ", err);
        fn(err);
      }else {
        log.info("Total count ", totalCount);
      }
    });

this i

[2015-05-07 08:35] #96 closed

[2015-05-14 07:47] fordnox opened #98 "Method escape has typo (esacpe) in discovery.js"
File https://github.com/strongloop/loopback-connector-mysql/blob/9dc6353b18a6cdc685b29fa64738c9df769a164c/lib/discovery.js

Line 64
Line 98

I receive `Object #<Object> has no method 'esacpe'` when trying to "discover models" from data source

[2015-05-14 15:40] raymondfeng commented on #98
Good catch. Fixed and released in 2.0.1.

[2015-05-14 15:40] #98 closed

[2015-05-21 01:34] stringbeans opened #100 "hasMany relation does not return an empty array when there are no records"
I have a model with a hasMany relationship and it is NO LONGER returning an empty array if there are no records in found in the relation

this seems to have changed because it used to return that field but with an empty array.

what should be the expected behaviour? was this documented somewhere?

[2015-05-21 01:42] stringbeans commented on #100
from our testing it seems to only occur on the 3rd level

[2015-05-25 11:14] lambrojos opened #101 "Problem deserializing UTC dates"
Hi, I have been exploring the code of this module for couple of days and I noticed that dates get converted to UTC before storage ( in the `toMysqlDate()` function) and  then converted back to local time in the `fromColumnValue()`  method.

I noticed a problem while using a TIMESTAMP field in the EDT timezone:
- I insert an EDT date: (Mon May 25 2015 05:53:03 GMT-0400 (EDT))
- It gets stored as UT

[2015-05-27 09:02] bteres commented on #100
Any word on this? Same issue.

[2015-06-03 18:11] TonyLuo opened #103 "issue on querying data for hasMany through relation"
I test the hasmany through relation on mysql and mongodb using following version connector, it seems the connector cannot get the parameter from the scope :

loopback-connector-mysql version: 2.1.0
loopback-connector-mongodb:1.8.0

SysUser.json:
    "coms": {
      "type": "hasMany",
      "model": "SysCom",
      "foreignKey": "userId",
      "through": "SysEmp"

[code]

SysEmp.json:

"relations"

[2015-06-04 03:59] TonyLuo commented on #103
it works well on loopback-connector-mysql version: 1.7.0

[2015-06-10 17:10] stringbeans commented on #100
any updates?

[2015-06-10 23:17] stringbeans opened #104 "Queries with "include" are very inefficient"
Suppose I have three tables

[code]

If I run the query:

[code]

I would expect it to execute a single query that joins all three tables and massages the data correspondingly into a JSON structure. However, when logging the mysql queries I see that this will perform a separate query for each color that belongs to the car.

This seems very inefficient and slow depending on your data.

[2015-06-11 17:42] stringbeans opened #105 "Master/Slave support?"
Upon initial inspection of the code it looks like master/slave configuration support is not handled by this mysql connector. Is this correct? If so, can it be a feature request?

[2015-06-16 18:20] notbrain opened #106 "ctx.isNewInstance not supported for 'before|after save' operation hooks on instance.save()?"
I am seeing ctx.isNewInstance = undefined/true on an existing instance save. My script just loads all Person entities, then loops over and updates a single attrib value. Works fine when I use `.updateAttribute()` but it should work for `.save()` since I'm calling a function on an instance with an ID.

Versions:

[code]

My update script:

[code]

My before save hook:

[code]

My after save hook:

[2015-06-25 08:33] nodejsbspa opened #107 "upsert() not working within transaction"
Hello!
I have found an issue when working with transaction and *upsert()* function. When executing the *upsert()* in a transaction, it blocks until the query timeouts.

It seems to me that *upsert()*, even if used within a transaction, doesn't use the same connection used by the other functions in the transaction but opens a new one. I have logged the connection id (*connection.threadId*) used by

[2015-06-29 17:03] jduhls commented on #106
Seeing same thing. ".isNewInstance" is always true in "after save".
[code]

[2015-07-09 03:20] alexxgathp opened #108 "Heroku error message on free account ECONNREFUSED"
I am trying out the Heroku free account with strongloop for fun. My local server works, but Heroku is a no go.

I'm getting this error from the loopback browser explorer on the Heroku free account I setup, ran successfully "heroku open" after following the other steps sequentially:

**Error message in loopback explorer browser**
[code]

**Package.json**
[code]

**config.json**
[code]

**datasource

[2015-07-09 03:53] alexxgathp commented on #108
Hmmmm, I got same error message when I deployed it on Amazone EC2. This may be the database server having an issue of some sort, will explore a little more...

[2015-07-09 04:14] alexxgathp commented on #108
Okay, I figured it out. It was super-counter-intuitive at first.

The datasources.json was the culprit. I had stopped tracking it in my Git, since I didn't want the password and username info tracked on Git, so the old non-configured datasources.json was getting sent to Amazon EC2, and I imagine Heroku too.

I can see how to change it on Amazon easily via SSH, but is there a way to push the newer

[2015-07-09 04:14] #108 closed

[2015-07-13 17:35] wrensburg commented on #80
Found so many bugs with indexes and mysql. For this specific use case, I found a work around (not documented). Convert your`indexes` property above to use `columns`, rather than `keys`, like this..

[code]

[2015-07-13 17:40] wrensburg opened #109 "Indexes do not work as per documentation"
Following the documentation here: http://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Indexes, the following items about indexes do not work:

- `options.unique` is not honored at the composite index definition
- `<indexName>.keys` is not honored and fails when running auto migration
- No documentation about the use of `columns`
- Composite indexes with

[2015-07-14 05:11] saystone commented on #80
@wrensburg it works. thanks!

[2015-07-14 05:12] saystone commented on #109
:+1:

[2015-07-14 22:01] alexxgathp opened #110 "loopback-example-ssl not working on remote MySQL, why?"
How might I figure out why my local MySQL database instance on XAMPP works with the Loopback Example SSL https://github.com/strongloop/loopback-example-ssl
while the remote MySQL instance does not?

What variables or settings would be at play?
As far as I can tell, none of the SSL variables that I have found are different for either instance, however, I do not know what specifically to the look fo

[2015-07-14 22:10] alexxgathp commented on #110
Investigating is leading me to this, will try it out...
https://github.com/felixge/node-mysql#pool-options

[2015-07-16 01:53] alexxgathp commented on #110
I didn't have a chance to test it out completely, but I think that was a possible solution.
What I did instead was switch to a faster MySQL server on Amazon RDS, which solved the timeout issue somehow.

[2015-07-16 01:53] #110 closed

[2015-07-19 21:46] mrkswrnr opened #111 "discoverSchema does not discover enum members"
I have a MySQL database table containing an enum field:
[code]
When using discoverSchema the resulting property definition looks like:
[code]
which leads to an error when trying to automigrate the table.

Currently I manually set ```mysql.dataLength``` to ```"'WEB', 'USER'" ``` to fix this but it would be great to have discoverSchema generate the right data.

[2015-07-19 22:05] mrkswrnr opened #112 "Support default value in migrations and discovery"
Currently `COLUMN_DEFAULT` of `information_schema.columns` is being ignored in discovery. Also there is no migration-metadata being created as in [loopback-connector-postgresql](https://github.com/strongloop/loopback-connector-postgresql/blob/master/lib/migration.js#L437).

[2015-07-26 19:06] wesleymilan opened #114 "Loopback relations validate"
Loopback does not validate relations by default, it should have some parameter on model.json to activate a default forward key validation, just in case of use NoSQL or multiples databases.

In my case I have a MySQL database builded to my legacy application, and I need to migrate gradually to my public API app, but even when it's done, I wan't to keep some integrity between payment informations in

[2015-08-06 10:43] nennad opened #118 "possible EventEmitter memory leak detected on autoupdate (Travis)"
I'm just tried to update my travis infrastructure to use container based instances. Suddenly, autoupdate is failing for one table(5 fields, 6 relations). I get the "(node) warning: possible EventEmitter memory leak detected. 11 connected listeners added. Use emitter.setMaxListeners() to increase limit." message. On the legacy travis infrastructure everything was fine, but after the update I always

[2015-08-06 14:51] raymondfeng commented on #118
Can you find out where (which event emitter) is the warning printed out?

[2015-08-10 12:30] ezraroi opened #119 "missing Loopback Array type mapping"
in the list of Loopback types mapping to mysql types in the documentations, the Array type is missing

[2015-08-11 07:05] sgilligan commented on #80
+1

[2015-08-11 10:54] nennad commented on #118
The warning comes at when running "loopback_auto:db_autoupdate" (loopback_auto) task
Article (autoupdate)
(node) warning: possible EventEmitter memory leak detected. 11 connected listeners added. Use emitter.setMaxListeners() to increase limit.
Trace
    at DataSource.addListener (events.js:179:15)
    at DataSource.once (events.js:204:8)
    at MySQL.query (/home/travis/build/AGCPartners/verusdaa

[2015-08-11 15:22] raymondfeng commented on #118
That happens when we queue up the operations if the data source is in the process of connecting to the MySQL database.You can wrap your code into something as:
[code]

[2015-08-27 10:38] daddybh opened #120 "Date type filed saving problems"
Hi, I am wondering there is any way not to convert `Date` filed to UTC format?

Because there are some sql query in my system, and it would come to a inconsistency of the timezone.

I tried to add a `timezone` parameter in datasource configuration, but it  didnot take any affect.

[2015-09-02 08:50] Kr0san89 opened #121 "Count does not support where like"
Hello,

using like in where clause at normal Model.find() works fine but using the same parameter on a count request it is not working any more. I would need it for pagination.

Here is the Code
[code]

Which Results in SQL (DEBUG=*mysql)
loopback:connector:mysql SQL: SELECT ... FROM `customer` WHERE `firstname` LIKE ? ORDER BY `id` LIMIT 25, params: ["M%"] +1ms
  loopback:connector:mysql SQL: SEL

[2015-09-03 12:13] saystone commented on #121
You don't need 'where' key in where clause.
[code]

Check this document:
https://apidocs.strongloop.com/loopback/#persistedmodel-count

[2015-09-05 21:17] eugenehp opened #122 "max_user_connections limit"
Hey folks,

Is there a way to set a limit of concurrent connections of the pool?

I'm getting this error when I use grunt automigrate tool (calling for autoupdate):
[code]

Thank you.

Regards,
Eugene

[2015-09-07 11:18] csvan commented on #104
+1, this is a huge performance drain, especially for queries over large datasets.

[2015-09-08 23:22] superkhau commented on #122
Where are you seeing this? Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-09-08 23:28] raymondfeng commented on #122
You should configure `connectionLimit` for your MySQL data source. For example,
[code]

[2015-09-08 23:28] #122 closed

[2015-09-09 12:20] Kr0san89 commented on #121
Thanks a lot. Wasn't clear because it was linked to the where filter page, where it is descripted in general.
Wouldn't it be good to have the same parameter as on the find()? I guess it would be more intuitive?
thanks

[2015-09-09 21:31] superkhau commented on #121
@crandmck ^

[2015-09-09 22:20] crandmck commented on #121
The docs do have distinct explanation of the two kinds of where clauses:
- [Where clause for queries](https://docs.strongloop.com/display/LB/Where+filter#Wherefilter-Whereclauseforqueries)
- [Where clause for other methods](https://docs.strongloop.com/display/LB/Where+filter#Wherefilter-Whereclauseforothermethods)

However, I agree it would be better to link directly to those sections from the API

[2015-09-09 22:52] #121 closed

[2015-09-10 10:32] csvan opened #123 "MariaDB+XtraDB compatible?"
Are there any known caveats associated with using this connector to work with MariaDB+XtraDB as opposed to vanilla MySQL+InnoDB? Both Maria and Xtra are forks of their respective counterparts, and designed to be drop-in replacements. Still, it would be good to know if there are any known collision areas.

[2015-09-10 20:18] superkhau commented on #123
We do not officially support MariaDB. Please let us know if you decide to try it and if you run into any issues. We can resolve it then.

For future reference, please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-09-10 20:18] #123 closed

[2015-09-30 15:04] tushariscoolster opened #124 "can i generate datasource direct from db?"
I have existing database, i want datasource to be generate directly from that db. So no need to define model, it will create dynamically, is it possible?

[2015-09-30 19:37] raymondfeng commented on #124
https://docs.strongloop.com/display/APIS/Discovering+models+from+a+database

[2015-09-30 19:37] #124 closed

[2015-10-01 12:00] donny08 opened #125 "How do i exculed id field i.e autoincrementing when importing the database"

[2015-10-01 12:05] donny08 commented on #125
whenever i am importing(doing discover model from slc ui) database i'm getting id field i need to exculed it

[2015-10-01 12:23] donny08 commented on #124
Hey raymondfeng,

I have tried you link for automatically creating models but issue is it doesn't create the relationship between models automically.How do i do that?

[2015-10-01 12:42] donny08 opened #126 "Execuled id field i.e autoincrementing when importing the models from slc ui"
I want to ignore the id field i.e  autoincrementing when  i click on the inverted triangle next to the data source of navigation pane and choose Discover models i will get the models and i will select the models i want and click on next i will get respected fields of models how to i ignorne the id fields.

[2015-10-01 17:13] superkhau commented on #126
@seanbrookes ^

[2015-10-01 17:14] superkhau commented on #125
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-01 17:14] #125 closed

[2015-10-02 13:08] tushariscoolster commented on #124
@raymondfeng ?? I too waiting for above anwser?

[2015-10-02 15:17] raymondfeng commented on #124
Unfortunately, StrongLoop Arc doesn't expose the flag to discover relations. The dataSource.discoverSchemas() api has `options.relations` to express the need to follow relations.

[2015-10-05 07:45] donny08 commented on #124
In discover.Schema method,options.relations  is not working.

[2015-10-06 10:50] donny08 opened #127 "Can't find HasMany relation option in Relation type when building realtionships after running slc loopback:relation"
I ran slc loopback:relation -> Select the model to create the relationship from:model ->Relation type
in relation type i find > has many,  belongs to,  has and belongs to many and   has one types only wat abt HasManyThrough relation type

[2015-10-07 12:00] donny08 commented on #127
Its possible usig has many type by selection otions:-require through model[y/N]:yes

[2015-10-08 07:14] donny08 commented on #124
@raymondfeng Any Updates regarding my issue

[2015-10-10 12:30] aalexgabi commented on #114
Any link on how to validate it manually if this cannot be done automatically?

[2015-10-10 13:13] aalexgabi commented on #114
I've found a simpler way: https://github.com/strongloop/loopback/issues/505

[2015-10-12 17:54] qvantor opened #129 "Why id: true don't add auto_increment to field?"
Why id: true don't add auto_increment to field,
and how add auto increment?

[2015-10-12 18:02] #129 closed

[2015-10-14 06:44] superkhau commented on #127
@donny08 Are you still running into issues? Can you list the exact steps you're performing?

[2015-10-14 08:23] donny08 commented on #127
@superkhau Issue i'm facing is that i am unable to build automatic relationships between models in strongloop  after importing the existing db from mysql.
description:
I have three tables in a database: categories, company and categories-company (which has foreign keys of the categories and company tables).

I have done importing of tables via slc arc cmd but when I'm trying to discover/generate r

[2015-10-14 22:17] superkhau commented on #127
@donny08 I don't believe we support discovery of relations. @raymondfeng Can you confirm?

@crandmck Do we have docs for discovery and how it effects relations?

[2015-10-14 22:19] superkhau commented on #127
@donny08 Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-10-15 17:32] crandmck commented on #127
No, we don't have anything on that.  Most of what we have on discovery is in https://docs.strongloop.com/display/LB/Discovering+models+from+relational+databases.
AFAIK, relations are not included in discovery, but it may be DB-dependent.
@raymondfeng should confirm.

[2015-10-27 06:34] ghatwala opened #130 ""npm test" failing"
Hi All,

When i try to run "npm test " , its failing with the below output .
$ npm test
/root/strongloop/loopback-connector-mysql/node_modules/mysql/lib/protocol/Parser.js:82
        throw err;
        ^
AssertionError: expected {
[Error: ER_DBACCESS_DENIED_ERROR: Access denied for user ''@'localhost' to database 'myapp_test']
  code: 'ER_DBACCESS_DENIED_ERROR',
  errno: 1044,
  index: 0,
  sqlSta

[2015-10-27 21:07] superkhau commented on #130
Connect to https://github.com/strongloop-internal/scrum-loopback/issues/481

[2015-10-27 21:07] superkhau commented on #130
I get the same error ATM. I believe @raymondfeng has a fix on a branch that needs merging.

[2015-10-28 07:08] ghatwala commented on #130
@superkhau , @raymondfeng  : Can you'll please let me know which branch do I need to check out for the above " npm test " to pass ?

[2015-10-28 10:08] ghatwala commented on #130
Hi @superkhau  @raymondfeng  : Just additional piece of information , I created a MySQL database , with that it's not giving me connectivity errors but some other errors , additional info :+1:

[root@pts00449-vm19 loopback-connector-mysql]# npm test
TypeError: Cannot read property 'replace' of undefined
    at Object.SqlString.escapeId (/root/strongloop/loopback-connector-mysql/node_modules/mysql/

[2015-10-28 11:55] ghatwala commented on #130
Hi ,

Additonal information on $ npm test

 119) Discover model primary keys should return an array of primary keys for STRONGLOOP.PRODUCT:
     Error: ER_DBACCESS_DENIED_ERROR: Access denied for user ''@'localhost' to database 'STRONGLOOP'
      at Handshake.Sequence._packetToError (node_modules/mysql/lib/protocol/sequences/Sequence.js:48:14)
      at Handshake.ErrorPacket (node_modules/mysql/lib

[2015-10-30 07:36] ghatwala commented on #130
hi @superkhau , @raymondfeng  ,

As per above " I get the same error ATM. I believe @raymondfeng has a fix on a branch that needs merging."

Please let me know if you have merged ur changes to resolve the above mentioned test cases failures on rhel .... Any pointers on how to resolve the above test case failures will be helpful.

[2015-11-03 06:11] xiangmeng4geo commented on #120
I met the same problem.
I found the code at
<code>node_modules/loopback-connector-mysql/lib/mysql.js</code>
<code> line 253: return val.getFullUTCYear()......</code>
<code> line 353:val = new Date(val.toString().replace(/GMT.*$/, 'GMT'));</code>
I think it is a problem to handle  time zone like this,so I remove the UTC at line 253 and comment the line 353 .

[2015-11-03 09:32] EmileSpecs opened #131 "destroyAll() not working with transactions"
I added a relationship to the built-in User model:

[code]

Basically a User can have many Tasks associated with them.

When a User gets deleted I also delete some additional data associated with the User including their Tasks.

I use a transaction to make sure I can retain data integrity should anything go wrong. Deleting the User's Tasks using the transaction however doesn't work (these are two

[2015-11-06 05:39] daddybh commented on #120
@xiangmeng4geo you can put a `"dateStrings": true` in  you datasource.json file. It will solve the problem and without change the source code.

[2015-11-06 19:52] EmileSpecs opened #132 "When Model not found request never resolves"
When you query a model with values that would lead to it not finding any data the request never seems to resolve. Eventually after about 3 minutes my request times out.

So using the built-in User model if you query `Users/5` which doesn't exist you'll get:
[code]
This is fine although returning an empty array would seem more logical to me.

The issue is when you query `Users` using this filter:
[

[2015-11-08 22:30] EmileSpecs commented on #16
For anyone else that needs this, you can check out my fork:
https://github.com/EmileSpecs/loopback-connector-mysql/tree/feature/foreign-key-migration

It just supports "belongsTo" relations at the moment since those are all I needed. Shouldn't be to difficult to add other relevant relationship types.

It makes sense to me that the database takes care of relational integrity of data and it saves a

[2015-11-09 20:07] superkhau commented on #132
Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-11-11 08:42] EmileSpecs commented on #132
Ah, my error!

I had some middleware that would also return the count of rows that didn't handle the empty response array properly...

[2015-11-11 08:42] #132 closed

[2015-11-12 18:38] sklyukin commented on #118
Thx, works for me

[2015-11-13 11:59] Kampfgnom commented on #36
I am still seeing this error with the latest loopback.

I would consider it a bug, since you cannot attach the Application model to a MySQL datasource without changing its properties.

Why aren't more people having a problem with this?

[2015-11-13 17:02] raymondfeng commented on #36
What version of mysql connector do you use? The latest code maps such properties to MySQL TEXT. See https://github.com/strongloop/loopback-connector-mysql/blob/master/lib/migration.js#L427

[2015-11-17 00:57] notbrain opened #133 "Swagger: skipping unknown type "Text" on autoupdate()."
And also "text". Can't seem to track down where this is coming from, as there are no capital Text columns anywhere in our mysql schema. The lowercase text is warranted, since I just changed a bunch of columns to type: "text" in model.json files, but can't figure out where the "Text" is coming from.

I had originally reworked these field properties with mysql.dataType: "TEXT" but then found that th

[2015-11-24 14:08] chiarishow commented on #118
fantastica, worked for me too.

[2015-11-24 18:09] raymondfeng commented on #131
Try results.user.tasks.destroyAll({}, { transaction: results.transaction }, callback);

[2015-11-24 18:11] raymondfeng commented on #130
1. Please use the following script to set up `STRNGLOOP` database
https://github.com/strongloop/loopback-connector-mysql/blob/master/example/table.sql

2. Make sure the `test` user has all permissions to the DBs.

[2015-11-24 18:13] cgole commented on #130
@ghatwala, for the db setup you need to run this script https://github.com/strongloop/loopback-connector-mysql/blob/master/example/table.sql. Make sure you have the right permissions on the db. You can also set the TEST_* env variables, used in this script to force the tests to connect to your db server https://github.com/strongloop/loopback-connector-mysql/blob/master/test/init.js

[2015-11-25 07:33] violet-day commented on #105
+1

[2015-11-25 12:33] ghatwala commented on #130
@cgole , @raymondfeng  -  i have set up STRONGLOOP database and granted permission to user 'amit' to access it. Please see the database/tables below to verify if the database is correctly configured.

/********/
mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| information_schema |
| STRONGLOOP         |
| strongloop         |
| test               |
+---

[2015-11-25 18:11] kiraLinden opened #135 "Add auto creation of foreign keys to autoupdate and automigrate"
See https://github.com/strongloop/loopback-connector-mysql/issues/16 automigate and autoupdate currently don't create foreign keys, and it would be nice to have for referential integrity.

[2015-12-01 13:29] Octopixell commented on #36
@raymondfeng I'm getting this error as well. It seems to struggle with the `id` column of the `AccessToken` model for the MySQL database.

It returns `ER_TOO_LONG_KEY: Specified key was too long; max key length is 767 bytes` and the only table that doesn't get created is the `AccessToken` table.

Full stacktrace from error:

[code]

[2015-12-01 14:54] Octopixell commented on #36
Ok so I just confirmed it's an issue with the `id` column in the `AccessToken` table.. We're using `utf8mb4_general_ci` as the collation. I found this answer on StackOverflow which pointed me in the right direction and fixed it, for now.. http://stackoverflow.com/a/31474509

I went into the `/node_modules/loopback/common/models/access-token.json` and changed it to the following: (which gives the `

[2015-12-02 12:03] meghalidhoble commented on #130
In continuation with the above configurations done by Amit, I am looking into the test-case failures.
The one I am looking into is as below:
 1) MySQL specific datatypes should fail spectacularly with invalid enum values:

      Uncaught AssertionError: false == true
      + expected - actual

      -false
      +true

      at test/datatypes.test.js:44:14
      at createCallback (node_modules/loo

[2015-12-02 21:39] loay commented on #26
Hi @chocstarfish,
is this issue still happening? Thanks.

[2015-12-03 11:56] thegenius opened #136 "Error: Cannot find module 'loopback-phase'"
when I installed the strongloop, create my project follow the official guide, then I meet this :Error: Cannot find module 'loopback-phase', anybody has meet this before?

[2015-12-03 17:15] bajtos commented on #130
We agreed with @superkhau to timebox the work on this issue to 5 story points in this sprint (85).

[2015-12-03 17:29] raymondfeng commented on #136
What is the exact step to reproduce the problem?

[2015-12-04 20:04] superkhau commented on #130
### Status update

I am able to reproduce the case outlined by @meghalidhoble. Seeing what I can do to fix it ATM.

[2015-12-05 00:35] superkhau commented on #130
@raymondfeng The datatype test is failing and I think it's supposed to, but please confirm these lines: https://github.com/strongloop/loopback-connector-mysql/blob/master/test/datatypes.test.js#L42-L48

You are put `assert(!err)` but MySQL is returning the data truncating value because you're trying to insert 'horse', which is not a valid enum value in this case (and therefore giving us the correc

[2015-12-06 22:04] mariohmol opened #137 "Date Update not working"
Hy,

i'm trying to update a table called Enqueteusuario including a new date in a column called .dataconfirmado.

[code]
It gives me a error:

[code]

If i use another field to update, like number or string, it works..

When i do like this, it works, very weird..

[code]

Any ideas?

[2015-12-06 22:16] mariohmol commented on #137
The problem here was that i created this new field dataconfirmado in database but not in model.json.

Shouldnt it raise a error when building update an does not existis any field in update query?

https://github.com/strongloop/loopback-connector/blob/master/lib/sql.js#L606

thanks

[2015-12-06 22:16] #137 closed

[2015-12-06 22:37] mariohmol opened #138 "Date field do not update"
I just cant update a Date field. In case of creating a new record, it saves the date, but for updating do not work. In this example i'm trying to update the field dataconfirmado and above is 3 different ways that i've tryied. Options is for passing database transaction.

[code]

Here is my enqueteusuario.json

[code]

[2015-12-06 22:59] mariohmol commented on #138
Sorry guys, i'm too lazy today.. afffffff

The name of the field was differente from the name in database, the name in model is dataconfirmado but columnName is data .

[code]

[2015-12-06 22:59] #138 closed

[2015-12-08 23:11] superkhau commented on #130
Fixes are being work on at https://github.com/strongloop/loopback-connector-mysql/pull/140

[2015-12-08 23:32] superkhau commented on #130
#### Status update

This is related to the second failing test/blocker.

@bajtos The strict issue I was talking about is here: https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/dao.js#L2460. Basically, if you turn on strict mode, and pass in only invalid values (ie. `{foo: 'bar'}`) like the unit test does, you end up with an empty object `{}` because it gets stripped out la

[2015-12-09 14:48] loay commented on #26
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2015-12-09 14:48] #26 closed

[2015-12-09 15:20] bajtos commented on #130
@superkhau please always add commit sha to the URL by pressing `y` inside the page. Otherwise the the link may get outdated in the future. Here is the correct link for posterity: https://github.com/strongloop/loopback-datasource-juggler/blob/80c3bd9d419e501d5b7beb0a623c8b1eaefdc258/lib/dao.js#L2460

[2015-12-09 15:21] bajtos commented on #130
I did a bit of code archaeology and found that this behaviour was introduced recently (July this year) via https://github.com/strongloop/loopback-datasource-juggler/pull/666 with the intention to fix https://github.com/strongloop/loopback/issues/742.

@fabien @raymondfeng what's your opinion on this? How should the MySQL connector handle this particular edge case?

[2015-12-09 19:21] loay commented on #40
Issue is being resolved.
closes #40

[2015-12-09 19:21] #40 closed

[2015-12-10 15:14] bajtos commented on #130
@superkhau I am little bit confused by the label combo `blocked + triage + #wip`, is it still accurate?

[2015-12-10 17:24] superkhau commented on #130
Removing triage label as I've dug into it enough to know what we need to do.

[2015-12-10 17:42] superkhau commented on #130
Nice, didn't know about this feature. Will do!

[2015-12-12 05:39] XinV commented on #135
Up vote for this issue, it seems against the claim of serving as an enterprise framework if not having such referential integrity in place @raymondfeng @bajtos

[2015-12-13 18:43] Amir-61 commented on #42
Please see https://github.com/strongloop/loopback-connector-mysql/issues/104

I will be closing this ticket soon

[2015-12-13 18:44] #42 closed

[2015-12-14 01:02] superkhau commented on #130
As per @chandadharap, @raymondfeng should be available to fix things that are broken in CI. I can take it on, but it'll obviously take me longer than him.

@raymondfeng I can fix this just might take me longer than you, please advise on what to do going forward. Either you can fix it so we can have CI passing or perhaps you can advise me on the decisions that need to be made for items with long te

[2015-12-14 16:43] raymondfeng commented on #130
@superkhau You can add a check at https://github.com/strongloop/loopback-connector/blob/master/lib/sql.js#L623 to see if the `data` object is empty. If yes, call back with cb(null, {count: 0}).

[2015-12-15 03:41] superkhau commented on #130
Turns out this isn't the issue. I ran that test independently and it passes on its own now. I'm pretty much considering this a lost cause. I can't consistently run the testing environment because I get different results each time I run the tests. There are obviously race conditions or something messing up the test results. Do you want to take a stab at fixing this @raymondfeng? I'm pretty much blo

[2015-12-15 06:07] superkhau commented on #130
@raymondfeng Now master is all green without any of my commits LOL. There are obviously issues. http://ci.strongloop.com/job/loopback-connector-mysql/. IMO, we gotta do something about these long tests and race conditions, shared test envs, bastardization of e2e tests: http://googletesting.blogspot.ca/2015/04/just-say-no-to-more-end-to-end-tests.html

Closing this issue as resolved.

[2015-12-15 06:08] #130 closed

[2015-12-16 17:29] bajtos commented on #135
+1

[2015-12-16 17:30] smart548 opened #141 "loopback with orientdb"
Hi!
I know the existence of this connector: https://github.com/mattaylor/loopback-connector-orientdb

Still, it is written that its behaviour looks like this connector(mysql). Do you have suggestions on how to proceed? I've already tried to follow the step by step guide on the StrongLoop website, but I find myself trapped into an issue reguarding the loopback-connector-juggler when running the app

[2015-12-16 23:06] nautskye commented on #135
Yes please!

[2015-12-17 18:02] kevintechie commented on #57
I'll also add that the discoverSchema suffers from this problem as well. This method will translate snake case (w/ underscore) names to camelcase for use in the JavaScript models, but loopback will not translate in reverse when using those models to access the database.

This is very frustrating when trying to maintain consistency in both the JavaScript and database domains. In addition, the auto-

[2015-12-18 21:05] loay commented on #141
Hi @smart548
Thanks for reporting the issue.
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

There might be a discussion about orientdb in the groups and you can get some help from the community there.
If you are still having an issue with it, please give me a link to your repository on github

[2015-12-18 21:05] #141 closed

[2015-12-23 20:01] loay commented on #111
@mrkswrnr
We are currently working on this issue. The feature should be available very soon.
Thanks.

[2015-12-24 12:38] mbouclas opened #142 "hasManyThrough scope intermediate table"
Is there a way to get the pivot table on a hasManyThrough query? Better yet, apply some filter or sort to it. A typical example

[code]

So, in the above scenario, say you want to get all categories of product X that are (main = true) or you want to sort the the product categories by orderBy.

What happens now is a first SELECT on products to get the product data, a second SELECT on products_categ

[2015-12-27 21:38] mnvx commented on #57
Mapping can be described in model definition.

Example, `/common/models/model.json`:

[code]
More about mapping: https://docs.strongloop.com/display/public/LB/MySQL+connector#MySQLconnector-Usingthedatatypefield/columnoptionwithMySQL

[2015-12-29 21:11] erikverheij commented on #103
I've a similar problem;

[code]

results in

[code]

In my case the ```WHERE `id`=1 ``` part is missing. I think this is because it has been overridden by the ``` WHERE `id` IN``` part which is required for the include relation.

[2016-01-05 21:59] loay commented on #111
@mrkswrnr
There is a branch called `Enum` if you want to test it.
We are doing the final touches and it will be released soon.
Regards.

[2016-01-06 15:46] richardaum commented on #104
+1

http://stackoverflow.com/questions/34598531/exclude-items-from-first-level-filter-when-children-levels-are-empty-at-loopback
^ This problem may be caused because of this implementation.

[2016-01-07 08:35] mrkswrnr commented on #111
@loay
Thank you! Works for our mysql environment though we switched to postgres a while ago :)

[2016-01-07 14:22] #111 closed

[2016-01-10 00:30] remkohdev commented on #135
Is this still the case or am I misreading this? that when I have a 'built-in User' model with a relation 'hasMany' to my custom 'myObject', which works like a charm in memory db, that this relation is not 'automigrated' to a relational DB like PostGres, but that I have to code the extra foreign key field and maintain the relationship by explicitly saving it in my create/update and add it possibly

[2016-01-11 17:31] kiraLinden commented on #135
There's a way to manually do it https://apidocs.strongloop.com/loopback-datasource-juggler/#datasource-prototype-defineforeignkey but having it done without having to do that extra step would be nice.

[2016-01-15 01:18] richardaum opened #144 "executeSQL() - how to use it?"
How to use the function executeSQL(.) to run raw queries? Example provided here is not enough: https://docs.strongloop.com/display/public/LB/Executing+native+SQL, because when I try to call the function a few exception are thrown:

1. When calling executeSQL(query, params, options, cb) throws this.settings.database is not defined.
2. When call executeSQL.call(MyModel, query, params, options, cb) t

[2016-01-15 03:28] superkhau commented on #144
See https://github.com/strongloop/loopback-datasource-juggler/issues/176#issuecomment-49191676

tldr;
You should still configure the datasource in juggler and execute from there.

[2016-01-15 03:28] #144 closed

[2016-01-18 06:03] xiangmeng4geo commented on #120
@daddybh Oh,Thank you very much.

[2016-01-19 22:07] el-davo opened #145 "before save operation hook being called after item is saved in database"
Hi There. I've been running into an issue that I cant get my head around. Basically I am validating users based on realm. So username and email will be unique per realm. I have created the following operation hook

[code]

The code above works fine when I run it with mongodb connector or using the in memory db. However when using mysql I am observing. The hook is not being called before save. It l

[2016-01-20 20:52] jamesw6811 commented on #35
+1 this needs better documentation

[2016-01-20 22:32] superkhau commented on #35
@marmarosi Please create a new issue with specifics (ie. why the docs are bad, what do you need to see, which parts need improvement, etc) so that we can get it assigned to @crandmck to get it fixed. We do not take action on comments in closed issues.

[2016-01-20 22:33] superkhau commented on #35
@raymondfeng We should probably add an alias functions that take a filter and do the same thing. Probably something to add for my LB3 juggler proposal.

[2016-01-25 14:45] giowe opened #147 "Can't set a model prop as Unique in the db"
Hi, I have connected to my models a mySql DB.
I want to flag a property as Unique, how can I write my model?
I already have a Primary Key in my model, I just want this prop to be Unique.

This is what I found in the docs : https://docs.strongloop.com/display/public/LB/Validating+model+data)

[code]

but this is a programmatic validation, this will not generate a "user" table with a "unique" "email

[2016-01-29 10:38] vserrao opened #148 "npm test fails with 13 errors"
Hi,

I've cloned this repo and after running a successful "npm install", running "npm test" gives around 13 errors. Most of them report as :
Error: ER_ACCESS_DENIED_ERROR: Access denied for user ''@'localhost' (using password: NO)
or
Uncaught TypeError: Cannot read property 'Inventory' of undefined

Since the issues I'm facing are similar to that raised in #130 issue, I tried the work-around menti

[2016-02-03 02:19] superkhau commented on #80
@saystone Has this been resolved? Can I close this?

[2016-02-03 02:52] superkhau commented on #127
@raymondfeng Do we support discovering relations?

[2016-02-04 14:41] LoicMahieu commented on #36
There is a limitation on `innodb` engine when using UTF-8 charset. `VARCHAR` can not have a length greater than **255** characters.

By default, this mysql connection set `512` by default: [`./lib/migration.js#L472`](https://github.com/strongloop/loopback-connector-mysql/blob/b27d1ce32fc937108dbb1c61e7b681df807e35fb/lib/migration.js#L472)

---

I don't see a way around the problem. There is actual

[2016-02-04 15:02] LoicMahieu commented on #36
I think this error appears only when we create an index. Here a example of table created for a polymorphic relation, which requires two foreign keys, a VARCHAR and a INT :
[code]

Throws error :
[code]

But without `INDEX`, it works:
[code]

[2016-02-09 22:46] antonsamper commented on #135
@kiraLinden I have tried using `dataSource.defineForeignKey(className, key, foreignClassName, pkName)` but this doesn't explicitly set a field as a foreign key in the database.

[2016-02-09 23:05] kiraLinden commented on #135
Oh sorry. This should probably be looked at by the loopback team...

[2016-02-11 10:43] saystone commented on #80
@superkhau Sorry for the late response. It was resolved. Btw I can't find strongloop documentation for create indexes on MySQL. Where can I find it? (https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Indexes -> still different implemented loopback-connector-mysql code)

[2016-02-11 16:48] euronymous opened #149 "Date fields - timezone problem"
Hi,

I've spend the last hour for reverse engineering of that case...

Lets look at the file:
/loopback-connector-mysql/lib/mysql.js:353
        val = new Date(val.toString().replace(/GMT.*$/, 'GMT'));
Why you don't give a sh about timezone?! This is at least weird.

Here is an example. I have a date from MySQL:
Mon Jun 01 2015 02:01:01 GMT+0200 (CEST)

So lets try:

[code]

And the result is:

[c

[2016-02-11 18:32] superkhau commented on #80
@saystone No problem. I'm not sure where it's in the docs, but @crandmck would know.

@crandmck ^

[2016-02-11 18:32] #80 closed

[2016-02-11 21:56] crandmck commented on #80
I don't think we have anything specific for creating MySQL indexes.  This is for "auto-migration", right?
We have docs for that: https://docs.strongloop.com/display/LB/Creating+a+database+schema+from+models but nothing specific to MySQL.

Let me know if we need to add something.

[2016-02-16 23:58] chojowliu opened #150 "Multiple Foreign Keys in loopback model relation??"
n the loopback model relations section, you can specificity a foreignKey to be referenced in the other model. As far as I know, It will only take one field, but what about I have a composite primary key and want to be referenced in the other model?

Can I do something like?

`"foreignKey":["id1","id2"]`

[2016-02-17 19:21] bbito commented on #120
Another big thanks to @daddybh!
After going over LB's MySQL Connector Docs: https://docs.strongloop.com/display/public/LB/MySQL+connector , I didn't find anything about a dateStrings option this until finding this issue and taking the next step to the node-mysql github where the dateStrings option is described: https://github.com/felixge/node-mysql#connection-options as follows:

[2016-02-17 19:43] bbito commented on #149
@euronymous I had an issue with non UTC dates in MySQL and found the dateString option useful for a workaround. It may help in your case as well - see issue 120 and daddybh's dateString option: https://github.com/strongloop/loopback-connector-mysql/issues/120

[2016-02-18 17:20] GuilhermeMedeiros commented on #57
the datasource.autoupdate **ignores** the columnName though

[2016-02-19 01:13] johannesjo commented on #65
This happens to me also with the standard create method.

[2016-03-01 03:17] ShaharHD commented on #106
+1 same here

[2016-03-03 03:54] pluswave commented on #135
+1

[2016-03-06 16:02] ferryhinardi commented on #135
+1

[2016-03-07 09:03] medzes opened #151 "Mysql type BIT(1) should be treated as Boolean"
During discovery, all MySQL BIT types are seens as Binary. But for 1-bit types it makes more sense to see them as Boolean.

[2016-03-15 17:54] jgleman opened #152 "migration does not support blob column types"
In our project we have a model that stores files as attachments in a MySQL MEDIUMBLOB. I have this in my model file, which was generated by the **discoverSchema** function:

[code]

When we run autoupdate, it tries to change the column type for data in the database and in doing so generates an invalid ALTER statement:

[code]

you can see the SQL:

[code]

to create a MEDIUMBLOB column in mysql, y

[2016-03-18 22:08] #145 closed

[2016-03-23 12:23] nicktee89 commented on #104
Is this fix and released in 2.2.1?

[2016-03-30 08:51] jmls commented on #150
did you ever get an answer on this ? I have the same need ;)

[2016-03-30 13:09] hussainak opened #158 "Foreign Key constraints are not honoured.."
This connector does not seem to honour foreign key constraints when the model is persisted to the database. This can potentially result in referential integrity issues. Is there a plan to include this feature in future releases?

Regards

[2016-04-01 19:11] jdschreck opened #159 "GROUP BY is not supported"
It seems like there is no way to provide a GROUP BY specification to the SQL query.  Seems like this could be implemented very similarly to ORDER BY.  Is there a technical reason that this has not been implemented?  Are you expecting GROUP BY type operations to be performed some other way?

[2016-04-03 13:06] recallfx commented on #106
I had similar issue with `upsert`. If none of the properties was updated, `isNewInstance` would always be true. For reference see mysql.js (line 247):

[code]

The workaround was to introduce at least one field that always changes:

[code]

[2016-04-04 14:21] jaime-franco commented on #104
+1

[2016-04-10 19:27] devotis opened #162 "Query for getting primary keys inadvertently returns foreign keys too"
The query executed in lib/discovery.js#queryForPrimaryKeys returns not only primary keys but also foreign keys. Which in turn causes schema's to be generated with foreign key properties with an id property > 0.

For example. Run the query defined in the queryForPrimaryKeys function on the test table inventory.

[code]

It will return:
[code]

But it should return:
[code]

There's a join-on criteri

[2016-04-10 19:29] devotis commented on #162
I'm sorry. Wrong repo. Will post the issue in loopback-connector-mssql.

[2016-04-10 19:29] #162 closed

[2016-04-14 13:00] abdulqudoos opened #163 "How to access information_schema of any table of postgres using loopback"
Hi,
I want to know to column_name and data_type of tables in my angular app. In loopback how can I run sql native query. I am using remote method for this but it gives error {"name":"error","status":500,"message":"operator does not exist: information_schema.sql_identifier =?"......,
is loopback support this? or is there any other way to do this?
Thanks

[2016-04-20 01:17] james-relyea commented on #57
I'd be willing to work on this if there were an agreed upon implementation strategy.

[2016-04-21 17:42] mike-aungsan commented on #136
https://github.com/strongloop/loopback/issues/916

[2016-04-22 18:25] TheRossman opened #165 "Setting mysql datatype option in Model is not reflected in database."
Hi,

I have a model definition file and one of the fields is defined as follows:
`    "rating": {
      "type": "number",
      "mysql": {
        "dataType": "float"
      }
    },`

Unfortunately, when I run the auto update script to update the database to match our models, this dataType is not respected and the rating field is always set to INT(11).

I looked into the migrate.js file that is pa

[2016-04-22 22:49] TheRossman commented on #165
Sorry I didn't read the documentation well enough, I mistakenly thought that you set the datatype in the mysql block but it is set outside for floats.  cheers!

[2016-04-22 22:49] #165 closed

[2016-04-23 00:21] bbito commented on #165
@TheRossman can you share the solution? I find the documentation unclear.
Did you end up with
[code]
I've gone over the doc page: [https://docs.strongloop.com/display/APIC/MySQL+connector#MySQLconnector-Floating-pointtypes](url)
I would find the solution to your use case helpful if you don't mind.

[2016-04-23 00:46] TheRossman commented on #165
For floats you don't need the mysql block, so just like:

[code]

[2016-04-23 00:49] bbito commented on #165
Thanks, so in that case you would only include the mysql block if you were going to specify a different column name, or make it nullable, etc...

[2016-04-23 00:51] TheRossman commented on #165
or set to varchar type, yeah  :)  thats why i was confused, we used the mysql block to set varchar types before and had no issue!

cheers

[2016-04-27 01:01] DylanSale commented on #109
Just encountered this.

Had to use :

[code]

instead of what I would expect from the documentation:

[code]

[2016-04-27 01:47] superkhau commented on #109
@crandmck ^

[2016-04-27 23:10] raymondfeng commented on #109
We need to fix the connector to conform to what's documented.

[2016-04-27 23:11] crandmck commented on #109
OK, so @superkhau that means this is not a doc issue, and we should open issues against the connectors that don't yet conform... right?

[2016-04-27 23:23] superkhau commented on #109
@crandmck Yes, now they are bug fixes instead. ;)

[2016-05-02 09:52] ajmalmsali commented on #57
@james-relyea is there any update on this?

[2016-05-11 11:05] angus-ics opened #167 "Specify timeout value"
I'm running on some pretty crappy hardware, so the current default timeout of 10,000 milliseconds isn't really long enough. Could allow passing in a timeout parameter over to the mysql NPM package? I took a look at the code and wouldn't mind creating a PR.

Don't want to do this if it's already possible though.

[2016-05-11 22:58] superkhau commented on #167
I don't believe its possible in the connector ATM (@raymondfeng please confirm). Please submit a PR in the meantime and we can move forward there. In addition, please connect that PR to this issue.

[2016-05-12 11:15] antonsamper commented on #135
@bajtos do you know if there has been any progress with this issue?

[2016-05-13 08:13] PaddyMann commented on #112
Frustratingly the postgresql connector supports dbDefault and the mysql connector does not.

The most common use-case for a default value is timestamping:

    createdAt TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
    updatedAt TIMESTAMP NULL DEFAULT DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP

Without this, we have to resort to creating mixins for setting the timestamps. Well then, there's a simple

[2016-05-18 11:22] bajtos commented on #135
@antonsamper no progress so far. Would you like to contribute this feature yourself? We can help you along the way.

[2016-05-24 11:16] snowyu commented on #80
the `keys` in the strongloop documentation has still not worked on the mysql connector.

[2016-05-24 16:36] crandmck commented on #80
The [comment above](#issuecomment-182803321) says:

Which I thought meant that `keys` now worked on MySQL.  Is that not the case?

[2016-05-24 19:43] codyolsen opened #168 "autoupdate() ALTER TABLE ignores mysql columnName property in model definition."
Upon an autoupdate call for a new model with the following properties, the new model table with columns `first_name` and `last_name` are created in the database.

[code]

An additional field is then added to the model definition:

[code]

When calling autoupdate, instead of the new column being added to the table with the mysql:columnName of `street_address`, the new column and all other columns i

[2016-05-24 22:37] snowyu commented on #80
No, It DOEST NOT work yet. The only way is a workaround: use the `columns` instead.

[2016-06-06 20:40] madianas commented on #135
+1

[2016-06-08 19:54] lotas commented on #80
+1
Official [Model definition JSON](https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file) mention nowhere that there is a `"columns"` property for `"indexes": {}` definition, which is confusing, at least.

Manually writing `"columns"` works, but is there anywhere documentation for this?

[2016-06-22 11:34] crandmck commented on #80
I added this: https://docs.strongloop.com/display/APIC/Model+definition+JSON+file#ModeldefinitionJSONfile-MySQLindexes

Please let me know if I need to add anything more (or change anything).

[2016-06-22 13:19] snowyu commented on #80
and should tell people: the `keys` does not work for mysql in the current version.

[2016-06-22 17:28] jaime-franco opened #171 "[Documentation] connectionLimit parameter is not in documentation"
I was looking the name of the parameter for limit the connections in the documentation from loopback mysql connector but didn't find the `connectionLimit` parameter in the [documentation](https://docs.strongloop.com/display/public/LB/MySQL+connector), i had to search in the issues of the repo to find out what is the name of the parameter.

If the parameter could be add to the documentation that wi

[2016-06-22 17:41] saystone commented on #80
Oh... Sorry for my miss communication.
I said 'It was resolved'. But I mean it's not for document. It means @wrensburg's solution.
Ultimately, The document was fixed correctly by @crandmck. But I think some additional comment for document. How can I contribute document?

[2016-06-23 14:26] yotamsha opened #172 "autoupdate and automigrate functions don't create the linking table in mysql DB"
I've set up new relation using the `slc loopback:relation` command, using the `HasAndBelongsToMany` property.
According to [this](https://docs.strongloop.com/display/public/LB/HasAndBelongsToMany+relations) , a new linking table should be created when I run `autoupdate`or `automigrate`, but no such table seems to be created in the DB.

[2016-06-27 08:06] santhoshscs commented on #151
right now the bit field is coming as
[code]
It would be great to treat these bit fields as Boolean

[2016-06-28 23:08] crandmck commented on #80
@saystone Currently, the best way to contribute is to just suggest changes/additions in a GH issue (i.e. here) and I will make the change.  We're working on getting the docs into a GH repo, but that's going to take quite a bit of time & work :-)

[2016-06-30 19:44] matthewdickinson commented on #135
@bajtos I would be willing to take a stab at implementing this. Is there an existing connector that implements this that I should review as an example, or would this be the first connector to do this?

[2016-07-01 07:00] tngan commented on #85
@didikeke Did you resolve this issue ?

[2016-07-01 07:08] tngan commented on #129
@qvantor How did you solve the problem ?

[2016-07-01 09:53] didikeke commented on #85
@tngan I have created sql files to import instead of using autoupdate for a long time.

Tested just now,  bigint(20) auto increase of autoupdate still not working.

by the way, if you create bigint PK **without** auto increase, you can use this code.

`
"id": {
  "type": "number",
  "id": true,
  "dataType": "bigint"
}
`

[2016-07-08 22:53] tkrugg opened #173 "Documentation states there is an `Enum` type in loopback"
There is no mention of this Enum type anywhere in [loopback types docs](https://docs.strongloop.com/display/public/LB/LoopBack+types), so it looks like a mistake.

![image](https://cloud.githubusercontent.com/assets/2982512/16703606/4da3b008-456f-11e6-88a8-0976eedcb165.png)

[2016-07-09 00:19] tkrugg commented on #122
for some reason when using the `url` property (instead of `host`, `username`, etc.) loopback is ignoring `connectionLimit`

[2016-07-09 00:54] superkhau commented on #173
@crandmck ^

[2016-07-11 17:28] crandmck commented on #173
I believe this refers to a "custom" Enum type described in https://docs.strongloop.com/display/APIC/MySQL+connector#MySQLconnector-Enum.  I added a link in the table to that section later in the page.  @superkhau Can you please confirm that's correct.

[2016-07-11 22:06] tkrugg commented on #173
I think too, but the way it was put under the column LoopBack type is confusing imho.

[2016-07-11 23:00] crandmck commented on #173
OK, I added a link to that section in the table.  I hope this helps to avoid any confusion.  I'll go ahead and close this--thanks for letting us know!

[2016-07-11 23:00] #173 closed

[2016-07-12 08:56] A11oW opened #174 "How I can get date from timestamp without timezone?"
I use PostgreSQL and columns with simple timestamp. loopback return data with time zone.
For example in base data look like this: `2016-01-01 00:00:00.000000`, loopback return `start: "2015-12-31T21:00:00.000Z",`

Model look like this:
[code]

Loopback return data with time zone and dates different. How I can get data without timezone?

[2016-07-12 15:53] superkhau commented on #174
See https://docs.strongloop.com/display/public/LB/Operation+hooks. Use a hook and modify the returned timezone accordingly.

For future reference, please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2016-07-12 16:23] #174 closed

[2016-07-13 09:21] inv-joseph opened #175 "Error: Model not found: Book : When I try to run after creating a new model using command"
Hi ,
When created a new model by generating slc loopback:model book,
When I try to run app , I got the following error

  at Function.registry.getModel (/home/joseph/node_projects/laplace-master/enquete/node_modules/loopback/lib/registry.js:273:9)
  at /home/joseph/node_projects/laplace-master/enquete/node_modules/loopback-boot/lib/executor.js:156:28
  at Array.forEach (native)
  at defineModels (

[2016-07-14 14:52] bajtos commented on #135
That's great! I don't know enough about the connectors myself. @raymondfeng @superkhau could you please help @matthewdickinson to get started on this task?

[2016-07-15 19:38] superkhau commented on #135
@matthewdickinson It would be the first connector that has this feature. Please create a PR and we can work with you along the way as @bajtos said while you implement this feature. I suggest creating a PR for the memory connector in Juggler and submitting separate PRs for each other connector as we move along. Please link your PR to this issue too so everyone can see the progress being made (or I

[2016-07-18 10:32] IDispose opened #177 "Missing methods buildReplaceFields and buildFields"
This is from mysql.js

[code]

The buildReplaceFields methods seems to be missing. While invoking the replaceOrCreate method on my loopback.io API, the get an error

"this.buildReplaceFields is not a function"

Where is the method defined?

[2016-07-22 13:58] cfjedimaster commented on #35
+1 to needing this better documented

[2016-07-22 17:51] crandmck commented on #35
Hey @cfjedimaster I tried to clarify [Where clause for queries](https://docs.strongloop.com/display/APIC/Where+filter#Wherefilter-Whereclauseforqueries) and [Where clause for other methods](https://docs.strongloop.com/display/APIC/Where+filter#Wherefilter-Whereclauseforothermethods) about the where clause for `count()`.   LMK if it can be clarified further or somewhere else.

[2016-07-22 17:56] raymondfeng commented on #35
@crandmck The `where` object is the same for all methods. What's different is that some methods (such as count) take a `where` object directly while others (such as find) take a `filter` that can contain `where`. The `filter` object also supports other child items such as `limit` and `order`.

[2016-07-22 19:20] crandmck commented on #35
OK, but we went through this whole fire-drill some time ago to describe the difference in the syntax (which we document and give examples of) because sometimes the where clause is wrapped in `{where: ... }` and sometimes not.

  The docs say:

and

I just tested that myself and it seems to be accurate.

[2016-07-22 19:27] raymondfeng commented on #35
You ar

[2016-07-22 19:37] cfjedimaster commented on #35
It kinda makes sense now - to be honest, I probably would have stopped reading before "Where clause for other methods". Honestly, it seems weird and arbitrary a bit as well - but I'm still new to LB.

One suggestion. The first doc section includes REST API examples, the second does. It should, shouldn't it?

[2016-07-23 23:05] matthewdickinson commented on #135
@superkhau Just so that I'm completely clear: are you saying I should start by implementing this feature in the Memory connector? There's no way that I could actually build out foreign keys using that connector is there? Are you just suggesting that I add a stub to that connector's automigrate function?

[2016-07-25 16:37] superkhau commented on #135
@matthewdickinson The change is going to require you to modify various parts of Juggler + connectors in general. What I meant was start with a test that creates a few models with relations and modify the automigrate/autoupdate functions (or related functions) to build out the foreign keys. Then run your test against your changes to verify the output and submit all this as a PR. ;)

[2016-07-25 20:59] DaGaMs commented on #149
I also just ran into this problem when writing some tests where I entered data into a mysql database directly, then fetched it with loopback. My understanding is that `DATETIME` fields are "timezone-free". Most libraries, including e.g. [mysqljs](https://github.com/mysqljs/mysql#connection-options) interpret `DATETIME` objects in the local timezone by default. Loopback however turns them into UTC

[2016-07-25 22:34] bbito commented on #149
@DaGaMs , Since this is a JavaScript/node system, I think this is the correct behavior for DATETIME and TIMESTAMP columns since JavaScript serializes its DATE object into ISO 8601 'which is always 24 characters long: YYYY-MM-DDTHH:mm:ss.sssZ. The timezone is always zero UTC offset, as denoted by the suffix "Z".' See: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/

[2016-07-25 23:28] superkhau commented on #149
Good question. @DaGaMs Can you provide a sample repo so we can clone and verify the issue on our machines locally?

[2016-07-26 00:27] bbito commented on #149
@DaGaMs , The way I see it, you have a Date in JavaScript as in:
`var nowDate = new Date();`  -> Mon Jul 25 2016 17:05:03 GMT-0700 (Pacific Standard Time).

If you want to send that to a REST API like Loopback you are going to turn it into JSON:
`nowDate.toJSON();` -> 2016-07-26T00:05:03.861Z

If you retrieve it from Loopback and make a new JavaScript Date object it will be the same date you put i

[2016-07-26 12:50] DaGaMs commented on #149
@bbito @superkhau Indeed, I get different results depending whether I get the date with mysqljs or with loopback. Here's a code snippet to explain what I did (from a mocha/chai test):

[code]

The result looked like this:

[code]

I'm in London, but due to summer time I'm in GMT+1. So, while mysqlJS correctly converts UTC back to local time, loopback ignores the local timezone.

[2016-07-26 15:45] bbito commented on #149
@DaGaMs - that sure is confusing!
What does your loopback /common/models/file.json model definition look like?
..and what does the value look like in mysql?
mysql> select * from `File`;

[2016-07-26 16:30] bbito commented on #149
When I PUT your ThisDate toJSON value ("2016-07-26T12:49:04.039Z") through loopback API Explorer it persists unchanged in mysql (less ms):
[code]
When I retrieve it through loopback: `http://192.168.0.184:3000/api/DateTimeTables/12`
It is still the same UTC date (less ms):
[code]

[2016-07-26 16:59] DaGaMs commented on #149
My `File.json` file looks like this:

[code]

the `datasource.json` file is pretty simple:

[code]

[2016-07-26 17:15] DaGaMs commented on #149
The `File` table is generated during migration, so I'm not doing anything weird in mysql. `describe File` gives me this:

[code]

I ran the script again, getting these dates:

[code]

Now, here's what's in the database:

[code]

So, what seems to be happening is that when I `INSERT` the row into the database using the mysqlJS adapter, the date gets saved in *local* time. That's in line with the my

[2016-07-26 17:54] deepakrkris commented on #109
from an initial code analysis the issue is in /lib/migration.js :  MySQL.prototype.buildIndexes() ,

for the create table functionality,

1. An array type check is made for the keys field,  whereas keys is an object field.
           `if (Array.isArray(i.keys)) {`
2. Configuration for unique index is taken from the "kind" attribute, and so the options.unique=true configuration is ignored.

[2016-07-26 17:54] bbito commented on #149
Very interesting!
Although loopback checks the timezone config setting:
https://github.com/strongloop/loopback-connector-mysql/blob/master/lib/mysql.js#L114
...it doesn't seem to do anything with that except make sure it is passed on to mysqljs and just converts to UTC regardless:
https://github.com/strongloop/loopback-connector-mysql/blob/master/lib/mysql.js#L352
[code]
https://github.com/strongl

[2016-07-26 18:28] bbito commented on #149
I don't know what it breaks, but if I remove that call to dateToMysql(val), then the DATETIME is stored as local (as expected).
https://github.com/bbito/loopback-connector-mysql/blob/No-dateToMysql/lib/mysql.js
When I send the same data as above it now gets stored as:
[code]
The return through loopback is still the same as well.

[2016-07-26 19:29] bbito commented on #149
I don't understand why Loopback-Connector isn't just handing off a date object to mysqljs... That seems to provide the correct behavior in the case of my forked branch...

[2016-07-26 20:44] bbito commented on #149
@superkhau do you know why that conversion to UTC date string is being performed via dateToMysql(val)? Unfortunately a fix will throw off any server-side date comparisons since all existing commits through loopback will be UTC regardless of the mysql timezone setting including the default of 'local'.

[2016-07-26 21:41] bbito commented on #149
@DaGaMs - Could you try re-running your test with my patch?
https://github.com/bbito/loopback-connector-mysql/blob/No-dateToMysql/lib/mysql.js
-Thanks!

[2016-07-26 22:34] bbito commented on #149
Sorry everyone! I tried to make a quick edit on github and did not reflect the change I made locally!
Now the fork mirrors what I tried locally - with the call to `dateToMysql` removed.
https://github.com/bbito/loopback-connector-mysql/blob/No-dateToMysql/lib/mysql.js

[2016-07-28 01:17] superkhau commented on #149
@bbito I do not know off the the top of my head. @bajtos or @raymondfeng Do you know?

[2016-07-28 01:48] bbito commented on #149
@superkhau what I have found is that the current code always commits UTC to mysql. The change I made as I understand it just allows the JS Date object to be passed to the driver. Without this change, neither the default timezone setting of 'local' nor any other setting for timezone effects the committed DATETIME field. With the change I am finding the the default 'local' setting is honored and tha

[2016-07-28 02:07] bbito commented on #149
I'm only working with the Explorer right now, but in my exploration so far I'm always finding that `val` is already a Date object when it gets to `toColumnValue` or `fromColumnValue`, and allowing that object to travel on from either function unchanged seems to fix the issue, but I don't know if there are situations where it might not be a Date object....

[2016-07-28 13:02] bajtos commented on #149
I don't have a good enough understanding of this problem, but based on the discussion above, this looks like a bug to me.

One more thing to consider: let's say the database is configured to use British Summer Time when storing DateTime values. And let's say a REST client sends a date in a different timezone, e.g. `Mon Jul 25 2016 17:05:03 GMT-0700`. What should happen? I would expect that the dat

[2016-07-28 13:46] deepakrkris commented on #109
I see that the configuration fields "kind" and "columns" are now added in the documentation.
https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-MySQLindexes
Should we remove those fields are continue to keep them ?

[2016-07-28 14:52] DaGaMs commented on #149
Just to make things complicated, there's another thing to consider: according to the MySQL docs:

So potentially `DATETIME` and `TIMESTAMP` values have to be treated differently?

I'm afraid it will be difficult to fix this issue due to the regressions it might cause - currently, all code that enters dates/times through the api will store data as UTC in the database, but code that writes to the da

[2016-07-28 15:56] bbito commented on #149
@bajtos I think this is over-thinking the problem. I'm sure there are many challenges in working with time-based data in systems where clients are in multiple time zones, but I don't think it is the responsibility of Loopback to figure those out. The bug as I see it is that Loopback is neither honoring the `timezone` setting of the mysql connection nor documenting its current behavior that all `DA

[2016-07-28 16:20] bbito commented on #149
@DaGaMs

I think that is a kind of red herring. My understanding is that it is a description of the internal MySQL mechanism that does not actually affect commits or queries. If I send the same `dateObject.toJSON()` to both a `DATETIME` and a `TIMESTAMP` field and query with the MySQL Command Line Client they are identical:
[code]

[2016-07-28 16:23] DaGaMs commented on #149
@bbito Ah, I see. It appears that I misinterpreted the mysql docs there.

[2016-07-29 05:43] #175 closed

[2016-07-29 13:17] bajtos commented on #149
That would explain why this problem was not reported earlier, as it affects only a small set of LoopBack users.

This sounds like a very reasonable solution to me.

I see one potential caveat: how to handle SQL query parameters, e.g. when converting a LoopBack request `/find?filter={ where: { start: { gt: '2016-01-01T9:00:00Z' }}}` to an SQL query `SELECT ... WHERE START >= ?`. Does the mysql driv

[2016-07-29 16:29] deepakrkris commented on #109
Index sorting is not supported in MySQL. http://dev.mysql.com/doc/refman/5.5/en/create-index.html :

so the 4th issue reported cannot be fixed in the connector

[2016-07-29 16:53] bbito commented on #149
I feel that https://github.com/strongloop/loopback-connector-mysql/issues/120 "Date type filed saving problems" is the same bug.

[2016-07-29 17:39] jannyHou commented on #120
@xiangmeng4geo @daddybh As @bbito mentioned, this issue is a same one as https://github.com/strongloop/loopback-connector-mysql/issues/149
Shall we close this one and keep our discussion under issue#149? More people are involved there, easier for us to track the appropriate solutions. Thanks.

[2016-07-29 17:41] jannyHou commented on #149
I think there is another Date issue related, details please see: https://github.com/strongloop/loopback/issues/2340#issuecomment-219463581
easy to understand and reproduce.

[2016-07-29 17:47] #120 closed

[2016-07-29 18:10] bbito commented on #149
easy to understand and reproduce.

@jannyHou  I think that https://github.com/strongloop/loopback/issues/2340#issuecomment-219463581 is not related. Seems to be comparing serialized JSON date (which should be UTC) to local date string. Also those examples do not use loopback-connector-mysql as far as i can tell - only memory.

[2016-08-01 14:42] Amatarasu opened #180 "connect ETIMEOUT PoolConnection.Connection._handleConnectTimeout v 2.3.0"
an issue occured when i was trying to do ssl server with package.json file containing version 2.3.0. Had to revert back to version 2.2.1 and it did not show the error message anymore.
![serverconnectionerror](https://cloud.githubusercontent.com/assets/10101217/17297680/52701e2c-57cc-11e6-8bad-1fa647133491.PNG)

[2016-08-01 17:16] raymondfeng commented on #180
Can you check if `npm install` pull in the same version of `mysql` driver or not?

[2016-08-02 15:18] tommedema commented on #172
Surprisingly this doesn't seem to be a feature of loopback, making automigration not very useful since you'll need to install another method for migrations. Any recommendations on a proper migration tool for a database like MySQL?

[2016-08-02 15:32] tommedema opened #181 "hasOne relation is built wrong"
I have two models: `Review` and `Attempt`. Each `Attempt` has one `Review`.

Therefore I run the following commands:

[code]

The result is the following `Attempt.json` relations:

    "relations": {
      "reviews": {
        "type": "hasOne",
        "model": "Review",
        "foreignKey": ""
      }
    },

This makes sense. Attempt hasOne review.

However, when I then run `automigrate` the re

[2016-08-02 18:14] salkz commented on #171
I agree. Had to `CTRL + F 10` from the source code to see where the connection pool is set and found that you can use `connectionLimit` in `datasources.json` .

[2016-08-03 21:07] rmg commented on #148
I'm seeing multiple failures in the tests as well.

Steps to reproduce on Mac:
 1. `brew install mysql` (leave the default insecure mode, user `root`, no password)
 2. `TEST_MYSQL_USER=root npm test`
 3. 😢

Unfortunately, loading the schema from `example/table.sql` seems to have no impact on the test results.

Output from a CI environment with MySQL 5.7, since it gives the same results:
[code]

[2016-08-04 15:19] NTag opened #183 "DATETIME: fractional seconds part"
Hello,

I have a model with a date field. In MySQL the type of the field is `DATETIME(3)` which means that it will store milliseconds (http://dev.mysql.com/doc/refman/5.7/en/fractional-seconds.html).
However, when I try to save a date which has milliseconds, in the database they disappear and I always get 0 milliseconds.

Do you support fractional seconds part?

Thank you very much,
Basile

[2016-08-09 02:01] bbito commented on #181
In your shoes I would start with a `belongsTo` relation for the model you want the FK added to. From your post it seems you don't want the FK added to `Review`, so:
[code]
That should add the FK `reviewId` to `Attempt` and give you the API url:
`GET /Attempts/{id}/review`

If you want to expose the corresponding API for the `Review` model, add a `hasOne` or `hasMany` relation to the `Review` model

[2016-08-09 05:29] tommedema commented on #181
I could perhaps fix it by adding the inverse relationship (belongsTo), but that still leaves `hasOne` bugged, right?

The author in the thread you linked describes it appropriately:

[code]

This is exactly the issue that I am experiencing too. If I say that A has one B, then A has 1 be, and not more. With the current setup, A can have multiple Bs and B can only have a single A. This is inversed o

[2016-08-09 12:49] bbito commented on #181
I won't comment on the validity of the semantics, but it seems to me that Loopback is using the terms in the same manner as other popular ORMs:
Sequelize:

http://docs.sequelizejs.com/en/latest/docs/associations/

Eloquent:
https://laravel.com/docs/5.1/eloquent-relationships#one-to-one

[2016-08-09 18:15] bbito commented on #181
@tommedema Although Loopback (and the other ORMs) is not generating a database schema that enforces a 1:1 relationship, the framework itself will not allow you to assign more than one `Attempt` for a given `Review`.
If I try to `POST` a new `Attempt` to a `Review` that already has one asigned, the operation fails with a 500:
[code]

[2016-08-10 02:20] tommedema commented on #181
Thanks. I'm not sure why the database would be setup like so (I don't think it is the most senseful implementation), but I guess this has already been agreed upon. Closing.

[2016-08-10 02:20] #181 closed

[2016-08-10 11:18] geekguy commented on #86
Any update on this?

[2016-08-15 17:09] #109 closed

[2016-08-18 12:27] WardBeullens commented on #150
+1

[2016-08-18 20:51] #126 closed

[2016-08-19 19:22] superkhau opened #188 "Fix support for MySQL 5.7 in test that cause CI to fail"
See https://cis-jenkins.swg-devops.com/job/nb/job/loopback-connector-mysql~master/label=nvm%20&&%20dbs,nodeVersion=0.10/65/consoleFull#-207526304206f8fc75-e0b9-479e-b471-e8fe633361ff.

CIS-Jenkins is running MySQL 5.7 which is the result of the above failure. We need to figure out what are the officially supported versions and either:
1. Drop support for version 5.6
2. Modify tests to detect/run b

[2016-08-19 19:25] superkhau commented on #188
cc @rmg

I'm also voting for number 2 to modify tests to support multiple version.

[2016-08-19 19:29] rmg commented on #188
See also: https://github.com/strongloop/loopback-connector-mysql/pull/187#issuecomment-241111013

[2016-08-22 12:32] DennisM330 commented on #57
In APIC v5.0.2.0, the designer toolkit takes a column_name with "_" and converts to camelcase when discovering a model from MySQL. This causes and error when exploring the API and testing in the toolkit. Need a way to tell it to preserve DB table column names,

[2016-08-24 19:44] 0candy commented on #136
Closing this issue due to inactivity. Please feel free to update this issue if you can still reproduce and I will reopen this issue for you.

[2016-08-24 19:44] #136 closed

[2016-09-22 23:34] superkhau opened #196 "Fix CI for truncation issue"
CI output:

[code]

See https://cis-jenkins.swg-devops.com/job/ds/job/loopback-connector-mysql~master/111/consoleFull#-207526304206f8fc75-e0b9-479e-b471-e8fe633361ff

[2016-09-23 04:02] superkhau commented on #196
cc @strongloop/fa-db-connectors

[2016-09-24 02:35] loay commented on #196
@superkhau That was fixed by by replacing the `null` value by `'1970-01-01';`

[2016-09-24 06:35] superkhau commented on #196
Can you link the PR for the fix and close this after? TY.

[2016-09-29 15:32] #196 closed

[2016-10-03 08:58] jesusbv commented on #114
I'm having same issue,

I got a workaround (while I try to figure out a solution in this package) hope it helps:

let's say we have User model and Role model and
we have a through model 'User-Role' so, for every new /UserRole
we would like to validate that { userId: whavs, roleId: whatever } exists
or are valid rows in their tables.

in a [mixins](https://docs.strongloop.com/display/public/LB/Defi

[2016-10-05 06:00] qaiser110 commented on #16
Since I use automigrate a lot for my tests, I've added the following code after automigrate to add indexes after table creation

let sql = 'ALTER TABLE quote add constraint fk_book foreign key (book_id) REFERENCES book (id);'
Quote.dataSource.connector.query(sql, done);

[2016-10-05 18:09] palafoxisc commented on #150
I need to know too how can I achieve that.

[2016-10-09 17:39] shaheero commented on #151
Also TINYINT should be discovered as Boolean. Now it is discovered as Number.
But CHAR (with a length of 1) is being discovered as Boolean.

[2016-10-11 13:22] shaheero commented on #151
Another funny thing is that a MySQL type Char (length =1) would always give "true" in the JSON!

[2016-10-12 02:50] Amir-61 commented on #107
It seems this issue is resolved by https://github.com/strongloop/loopback-connector-mysql/pull/128. Closing now... please feel free to re-open it if you see any issue.

Thanks!

[2016-10-12 02:50] #107 closed

[2016-10-12 06:19] superkhau commented on #151
I believe this is related to #202. Trying to land that PR ATM.

[2016-10-14 14:44] Overdrivr opened #206 "Extended operators"
Is there any effort currently to implement atomic increment/decrement/etc for this connector, just like the [mongodb connector](https://docs.strongloop.com/display/public/LB/MongoDB+connector#MongoDBconnector-UsingMongoDBoperatorsinupdateoperations) ?

If not, would you be open to a PR ?

[2016-10-14 22:59] superkhau commented on #206
Nothing on the roadmap ATM, please submit a PR and I will try to get it landed for you.

[2016-10-17 20:53] Overdrivr commented on #206
Diving into the code, I realize that the base operations (save, update, etc) are mostly implemented in loopback-connector repo, in the [SQLConnector object](https://github.com/strongloop/loopback-connector/blob/master/lib/sql.js), and not in this repo.

I was able to get `$inc` operator to work by modifying slightly [SQLConnector.prototype.update](https://github.com/strongloop/loopback-connector/b

[2016-10-17 21:30] superkhau commented on #206
@Overdrivr The base connector is for shared functionality amongst all connectors. I would say extended MySQL ops are specific to the MySQL domain and should remain with this connector. That is unless you can ensure the $inc operator will work the same across all connectors (we would need tests to verify this of course).

[2016-10-18 15:17] Overdrivr commented on #206
Well, for instance, the `$inc` operator just translates in `SET field = field + inc`, so I guess it's fine to have it in the base connector.

Just one more question, where are the tests located for the base CRUD methods ? For instance, where is tested `MySQLConnector.update` so that I can add tests for extended operators alongside ?

[2016-10-19 04:39] superkhau commented on #206
@Overdrivr Makes sense, I would be open to it since it seems replicable across all relational DBs (and as you said, we already have it in the mongodb connector). @bajtos @raymondfeng @strongloop/fa-db-connectors Any objections to @Overdrivr's proposal?

[2016-10-19 04:42] superkhau commented on #206
Take a look at https://github.com/strongloop/loopback-datasource-juggler/blob/master/test/basic-querying.test.js -- these tests are shared amongst all connectors.

[2016-10-19 11:23] bajtos commented on #206
@superkhau The proposal sounds reasonably to me.

[2016-10-19 15:50] acrodrig opened #207 "Support table configurations like COLLATE when migrate models to mysqlDB"
I would like to be able to use a `utf8mb4` character set in the tables that are automatically created by Loopback. I have not been able to find a configuration option that allows me to tell Loopback which character set/collation to use.

Can you help?

[2016-10-19 17:53] superkhau commented on #206
@Overdrivr Take a look at:

- https://github.com/strongloop/loopback-datasource-juggler
- https://github.com/strongloop/loopback-connector
- Any connector you see under the strongloop org: https://github.com/strongloop/?utf8=%E2%9C%93&query=connector

Feel free to ping in the PR you submit if you need some feedback.

[2016-10-20 02:34] Amir-61 opened #208 "Document mysql for handling booleans"
Document https://github.com/strongloop/loopback-connector-mysql/pull/202 after landing.
Should be documented here: http://loopback.io/doc/en/lb2/MySQL-connector.html#type-mappings

[2016-10-20 06:54] shaheero commented on #208
It's weird how a Boolean Loopback -> TINYINT(1) MySQL, while the opposite is not the same.
Also, MySQL Char(1) converted to Boolean successfully but always gave true in my project.

[2016-10-20 07:01] shaheero commented on #158
Foreign key constraints were referenced fine in my case with loopback discovery when `associations: true`. An example script can be found here (it has an wrong extra closed bracket at `_.each(models` that needs to be removed though.

[http://stackoverflow.com/questions/34630182/strongloop-discovery-model-still-empty]

[2016-10-21 06:54] superkhau opened #209 "Fix Windows failures on CI"
This has been going on way too long, creating this task to get it into planning.
- Each Node version has 50+ errors when running CI on windows.

Estimating at a whole sprint because:
1. Need to set up local windows instance
2. Not sure how long each failure is going to take to fix

Better to timebox this task this.

cc @bajtos

[2016-10-22 16:50] s26 opened #210 "Connection fails: Error: connect ETIMEDOUT"
Hello,

I am getting following error randomly when I run try to restart my app. Not able to figure out how can I fix it. Can someone please assist me to resolve this error?

[code]

[2016-10-24 11:16] archenroot commented on #150
+1
Same here, I think it is quite common in business key driven databases, still stuck on this.

[2016-10-26 06:25] superkhau commented on #210
Is your MySQL server running?

[2016-10-26 10:04] s26 commented on #210
Yes. My MySql server is running. I am able to start the app successfully, but not all the time. I get this error randomly. 8 out of 10 times I get above error while restarting the app. It is annoying, Sometimes I have to try for 10-15 times to start the app. Everytime I am getting above error.

[2016-10-27 02:40] superkhau commented on #210
@s26 That is the worse case because it should be 100% of the time. It'll make it much harder to reproduce if it's intermittent like that. Can you try scaffolding a new basic LoopBack application to see if it occurs there? I'm thinking it's something else.

[2016-10-28 08:10] Overdrivr commented on #206
Just following up, I have made the changes in the [loopback-connector](https://github.com/strongloop/loopback-connector/pull/64) repo.

For now I am testing the PR with tests inside loopback-connector-mysql. However I have the following issue.

Any ideas ?

[2016-10-28 09:25] ernie58 commented on #210
I have this to lately.

Mostly I have it when I'm starting my application in the morning the first time (when a lot of other processes are starting too), or when I try to start it with the debugger (which is kind a heavy) .

I think it occurs when my vagrant is under heavy load. Is there any way to set a timeout option in my loopback datasource config to see if increasing the timeout helps?

[2016-10-28 14:22] bbito commented on #210
@ernie58 I'm not sure that it solves your problem, but a `connectTimeout` connection option value can be passed to the underlying mysqljs/mysql module through your Loopback \server\datasources.json configuration file.

connection to the MySQL server. (Default: 10000)

https://github.com/mysqljs/mysql#connection-options

You would add the option to datasources.json something like this for a 30 seco

[2016-10-28 19:57] superkhau commented on #210
Would you like to submit a PR? You can see the options we pass in at https://github.com/strongloop/loopback-workspace/blob/master/available-connectors.json#L280

[2016-10-28 20:18] bbito commented on #210
@superkhau If the above comment is addressed to me, I'm confused...

2. I wasn't suggesting a change to the Loopback connector
3. The datasources.json modification I suggested works as is - that `connectTimeout` value will pass through to mysqljs/mysql

Connection options beyond those listed in the JSON you linked to ***will*** pass through to mysql. I have been using `dateStrings` for some time a

[2016-10-28 20:22] superkhau commented on #206
@Overdrivr We can return an unsupported error message for those connectors for now. The painful part is we'll need to do that for each connector and then merge the juggler PR last.

[2016-10-28 20:46] superkhau commented on #210
@bbito I thought we wanted to set a default timeout permanently to make it more explicit (ie. the underlying driver's 10000 you mentioned). Anyways, it's all good and thanks for helping out. You are right though, any options you set in datasources.json will be passed down to the driver -- that should solve @s26's issue.

@s26 Can you confirm whether @bbito's solution works for you? Can I close thi

[2016-10-30 15:04] bbito commented on #149
I realize that this breaking-change bug will take some time to address.
I have a slightly related issue regarding handling MySQL `DATE` fields as strings and have a PR at mysqljs/mysql: https://github.com/mysqljs/mysql/pull/1481 the maintainer has pointed out that my PR is unnecessary if I can pass along a custom `typecast` but I haven't found a way to do that through Loopback. Would anyone follow

[2016-10-31 07:30] Overdrivr commented on #206
Isn't mentionning in the docs that extended operators are not supported on those connectors enough ?
Maybe the juggler tests can check if the DB is a SQL one, otherwise skip the test. Does this sound ok ?

Otherwise this would give the following list:

- [ ] [DB2](https://github.com/strongloop/loopback-connector-db2)
- [ ] [Informix](https://github.com/strongloop/loopback-connector-informix)
- [ ]

[2016-11-01 16:05] probil commented on #210
I have the same issue. It happens much often if I try to debug app with WebStorm. Without debugging it happens in ~5%, with debugging it happends in ~70% for me.

[2016-11-01 16:06] bbito commented on #210
@probil does extending the timeout reduce the appearance of the errors?

[2016-11-01 16:19] probil commented on #210
@bbito Yeah, it seems like [this](https://github.com/strongloop/loopback-connector-mysql/issues/210#issuecomment-256933458) works. But sometimes I got another error:
[code]

[2016-11-01 16:30] bbito commented on #210
Hi @probil - thanks, that is useful information. I assume that your CPU is stressed since enabling debugging is having a significant effect. Is this a dev or production environment? Perhaps @superkhau is familiar with the Handshake inactivity error you reach with the increased `connectTimeout`.

[2016-11-02 09:08] probil commented on #210
It's `dev` environment. Sometimes I got the error even without debugging enabled

[2016-11-02 09:09] probil commented on #180
It's related to the #210

[2016-11-02 09:25] probil commented on #210
I thinks it should be possible to pass `acquireTimeout` param

[2016-11-03 08:51] probil commented on #210
@bbito
It seems like no issue anymore with:
[code]
in `datasources.json`

[2016-11-03 12:01] s26 commented on #210
@superkhau I have uninstasll strongloop and reinstall it. And cloned the project again and it is working fine.

[2016-11-03 12:02] #210 closed

[2016-11-05 18:17] shaheero opened #213 "Emojis displayed as question marks ? in the JSON"
I have a utf8mb4 MySQL db and tables, and the emojis are saved and viewed fine there. But they are shown as '?' in the returned JSON. Any solution?

[2016-11-05 21:08] shaheero commented on #112
Anyone reached a good workaround yet?

[2016-11-05 21:27] shaheero commented on #213
In node_modules/mysql/lib/ConnectionConfig.js line 56, changed:
`: options.charsetNumber||Charsets.UTF8_GENERAL_CI;`
to
`: options.charsetNumber||Charsets.UTF8MB4_GENERAL_CI;`

Now emojis are displayed correctly.

[2016-11-05 21:27] #213 closed

[2016-11-08 19:06] ketansp commented on #57
Any updates? How can I specify table name?

[2016-11-11 08:54] chillyprig commented on #57
I need this feature too. +1

[2016-11-16 12:37] ernie58 commented on #210
FWIW I work with webstorm debugger to. I Did have the connect timeout and handshake activity timeout. Setting the 2 variables in the config helped me out

[2016-11-16 13:20] josefd8 commented on #16
Hi @fusionstrings , just stumble upon this same problem and I was wondering "what am I doing wrong?" but yes, it appears that loopback is not adding the foreign key constrains in the RDB on migrate. I wanted to ask you: what approach did you finally use? did you add the constrains yourself manually? I'm finding very cumbersome having to add extra logic in the models controller to add the proper re

[2016-11-17 18:54] bbito commented on #167
@angus-ics , @superkhau  - I think we confirmed that passing a `connectTimeout` parameter to mysqljs/mysql is possible here: https://github.com/strongloop/loopback-connector-mysql/issues/210#issuecomment-256933458
Perhaps this can be closed?

[2016-11-18 02:07] superkhau commented on #167
@bbito Thanks for the confirmation, yes I believe we can close this. :clap:

@angus-ics See #210 and ping if you are still running into issues.

[2016-11-18 02:07] #167 closed

[2016-11-21 23:13] superkhau commented on #206
Unfortunately, at this time Juggler does not know what type of DB it is -- this is on the roadmap I believe for the Juggler refactor. Basically your list to update is fine.

[2016-11-22 01:49] superkhau commented on #209
@siddhipai Is working on getting instructions for number 1 and @loay Has been working on number 2 for a a few weeks now. Will revisit at the end of sprint to see how far things get and whether this can be closed.

[2016-11-22 10:30] Overdrivr opened #216 "Returned error when trying to update an id"
On this [SO](http://stackoverflow.com/questions/40712784/update-id-value-of-a-model-in-loopback-strongloop/40739314#40739314) post, a user tries to update an ID for a model's instance.
I'm pretty sure this is a terrible idea, and loopback mysql connector returns an error preventing the operation, however the error message is not terribly clear.

`idInjection` is set to true and the `name` property

[2016-11-22 20:40] superkhau commented on #216
Would you like to submit a PR? That message does look pretty useless.

[2016-11-23 09:22] Overdrivr commented on #216
Sure, no problem

[2016-12-02 09:28] hasanlussa commented on #168
i still experiencing this problems
`"loopback-connector-mysql": "^2.4.0"`

[code]
i lookup the problem, and it caused by the method [`mysql.client.escapeId(<property name>)`](https://github.com/strongloop/loopback-connector-mysql/blob/master/lib/migration.js#L310) always returning `propertyName` not the `columnName` before migration routine alter the table.

[2016-12-02 17:59] chinuy opened #217 "JSON parser issue"
at https://github.com/strongloop/loopback-connector-mysql/blob/master/lib/mysql.js#L435
No try/catch block in JSON.parse(val).

I wonder is there any reason not to do so? I got an issue that my db data is corrupt and therefore, the parse will raise exception and crash system every time. I would more like the return is `null` if the JSON.parse() function fail so that I still have chance to just ove

[2016-12-02 18:10] superkhau commented on #217
No reason, probably a oversight -- would you like to submit a PR?

[2016-12-03 00:27] crandmck commented on #171
Notice the link (below the table) to https://github.com/mysqljs/mysql#connection-options where this property (and others) is documented.  Anyway, I went ahead and added `connectionLimit` and a couple of the other properties to the table in http://loopback.io/doc/en/lb2/MySQL-connector.html.

This should address the issue... LMK if not; thanks.

[2016-12-03 00:27] #171 closed

[2016-12-03 10:40] hasanlussa commented on #168
ok, the problem is beacause the PR #190  not implemented `columnName` discovery process on add and actualize function.

so i end up forked this repo & create some patch around it
[code]

i need to make some tests routine, and will make this little PR soon.

[2016-12-03 21:38] chinuy commented on #217
#218 PR created.

[2016-12-05 22:41] jannyHou commented on #207
I don't see any code in function [`createTable`](https://github.com/strongloop/loopback-connector-mysql/blob/955f5dc084eea94a43a479d27591e26bb650e3d9/lib/migration.js#L60) adding settings/config to the SQL.
Label it as a feature here.
And if you don't mind, I changed the title to "Support table configurations like COLLATE when migrate models to mysqlDB"

[2016-12-06 19:48] jannyHou commented on #183
Didn't figure out a way to specify fractional seconds.
This is what I tried on local but doesn't work:
[code]
Data stored in mysql:
[code]

[2016-12-06 20:00] jannyHou commented on #180
Copied from #210 seems like this is the final solution:

[code]

I am closing this issue as a dup. If related errors happen again let's discuss in issue #210 since more people are involved there.

[2016-12-06 20:00] #180 closed

[2016-12-06 20:42] jannyHou commented on #177
@IDispose It's defined in loopback-connector:
https://github.com/strongloop/loopback-connector/blob/c6a68ec5d8c94f293f04eab6986e69113797ebc3/lib/sql.js#L975

I tried replaceOrCreate with mysql on my end it works fine, if you still see the error, please fork https://github.com/strongloop/loopback-sandbox and replace with your code. Thanks.

[2016-12-06 21:04] jannyHou commented on #168
Current behaviour:
When I autoupdate with the model provided in first comment :
[code]
If column already exists as `street_address`, the name won't change.
But if column doesn't exist, it will be stored as `streetAddress`.

@hasanlussa Can you describe more about your use case? And do you mind creating a pr in this repo to fix it? Thanks. We can help review it.

[2016-12-07 03:03] hasanlussa commented on #168
[code]
In my case the problem happen if i made change at column's `dataType` or some detail of `dataType`, like `precision` or `length` of the column. If the column doesn't exist, the problem also happen.

but apparently there is a problem if the index of table is being changed too. I need to make some adjustment with this. I know this `index` feature is still premature, but this feature crucial t

[2016-12-07 03:12] rlloyd2001 commented on #168
I'm pretty sure that auto-update will not do indexing correctly when using a column with the "mysql" rename. It's something that needs to be fixed in loopback last time I checked.

[2016-12-07 20:04] stringbeans opened #221 "model filter with inq: [null, 1] breaks"
If I'm doing a model filter with something like...

Model.find({where: {id: {inq: [null, 1]}}}) the sql generated will build something that looks like this...

[code]

this is erroneous sql

Edit: this is happening on the latest release of this connector as well as previous releases

[2016-12-07 22:01] jannyHou commented on #168
Confirmed.
Besides the situation I described in https://github.com/strongloop/loopback-connector-mysql/issues/168#issuecomment-265271684, `autoupdate` also don't update column like `dataType` accordingly after I updated it in `model.json`.

[2016-12-07 22:05] jannyHou opened #222 "`autoupdate` don't update column like `dataType` accordingly after changing it in model.json."
Original discussion see:
https://github.com/strongloop/loopback-connector-mysql/issues/168#issuecomment-265342481

Copied from original bug description:
[code]
In my case the problem happen if i made change at column's `dataType` or some detail of `dataType`, like `precision` or `length` of the column. If the column doesn't exist, the problem also happen.

but apparently there is a problem if the

[2016-12-07 22:06] jannyHou commented on #168
Closing this issue since the bug described in first comment is already fixed.
And opened new issues to track new bugs:
https://github.com/strongloop/loopback-connector-mysql/issues/222 : `autoupdate` don't update column like `dataType` accordingly after changing it in model.json.

[2016-12-07 22:13] jannyHou opened #223 "When autoupdate, a non-existing mysql column ignores the provided columnName"
Original discussion see: https://github.com/strongloop/loopback-connector-mysql/issues/168#issuecomment-265271684

Current behaviour:
When I autoupdate with the model provided in first comment :
[code]
If column already exists as `street_address`, the name won't change.
But if column doesn't exist, it will be stored as `streetAddress`.

[2016-12-07 22:16] #168 closed

[2016-12-08 15:47] loay commented on #36
I think this issue is already fixed. Can someone confirm please ? Thanks.

[2016-12-08 16:20] Mayeu commented on #36
Hello,

Could there be a bugfix version released with this the fix? From the commit log it seems that the fix is in the middle of the next major version development, does that mean we will have to wait for the v3 to have a fix for that?

Thanks :)

[2016-12-08 16:23] loay commented on #36
Hi @Mayeu
I just pushed a pr that fixed the indexing issue, so I was wondering if you are facing the same problem by testing. Thanks.

[2016-12-08 16:59] Mayeu commented on #36
Ha sorry, actually after retesting and ensuring I had a clean setup, this patch does not solve the issue for me :/
I am in the same case that @Octopixell describe, i.e. where the VARCHAR should be 191. If I adapt the patch to 191 everything goes right without any issue.

[2016-12-08 17:42] jannyHou commented on #221
@stringbeans If `id` is your primary key, it could not be null right?

[2016-12-08 17:51] jannyHou commented on #158
@hussainak Do you still run into same issue?
Can you fork https://github.com/strongloop/loopback-sandbox and replace with your use case? Thanks.

[2016-12-08 18:30] jannyHou commented on #152
👍  Confirmed.
data from `discoverSchema`:
[code]
and `ALTER TABLE `app_attachment` CHANGE COLUMN `data` `data` MEDIUMBLOB NULL` is the correct SQL query :)

[2016-12-08 18:51] loay commented on #36
@Mayeu I am glad it is working for you. It is just a question of reducing the length of the parameter, so the index length can fit 767.
Is this good to close?

[2016-12-08 19:17] jannyHou commented on #142
@mbouclas I believe this is the same feature as https://github.com/strongloop/loopback-datasource-juggler/issues/941

Scenario:
`Mymodel` hasMany `relatedModel` through `throughModel`

Technically, we are able to apply filters on both `throughModel` and `relatedModel`, but IMO the tricky thing is they might run into conflict.

e.g.: you use two filters:
[code]
will be fine, it returns you 3 result

[2016-12-08 19:17] #142 closed

[2016-12-08 19:31] jannyHou commented on #133
@notbrain Seems this is the answer:
See [function buildColumnType](https://github.com/strongloop/loopback-connector-mysql/blob/37bb679f6e5527651d98bf1e9cdb25693ef799f9/lib/migration.js#L501-L512)

Default type is `text`.

[2016-12-08 19:34] jannyHou commented on #133
And are you still run into same issue? If yes please fork https://github.com/strongloop/loopback-sandbox and provide your use case. I can help debug.

[2016-12-08 19:45] jannyHou commented on #55
@wascou are you still running into same error with API Gateway?
I am not sure how to reproduce it with an API Gateway, but when I followed the chat in https://groups.google.com/d/msg/loopbackjs/fbXg52tXe-M/5B-xtKEwCVYJ it looks like a bug to me(if not been fixed yet.)

[2016-12-08 20:02] jannyHou commented on #147
@giowe from function [`buildColumnDefinition`](https://github.com/strongloop/loopback-connector-mysql/blob/37bb679f6e5527651d98bf1e9cdb25693ef799f9/lib/migration.js#L476) I don't see we accept an option to specify a property as `unique`.
Label it as a feature.
And if you are ok to fork this repo to get unique work, making change in that function above is a choice.

[2016-12-08 20:10] jannyHou commented on #131
@EmileSpecs have you tried https://github.com/strongloop/loopback-connector-mysql/issues/131#issuecomment-159359198 from Raymond? Any update?

[2016-12-08 20:18] jannyHou commented on #119
@ezraroi I am not sure how would we map `array` to mysql type since it doesn't support `array`, some doc find from mysql doc which might help, about how to store array in mysql:
http://99webtools.com/blog/how-to-store-array-in-mysql/

I label it as a feature but doubt is it a correct direction to deal with loopback `array` in mysql connector.
@raymondfeng would have a better understanding:)  any t

[2016-12-08 20:26] jannyHou commented on #118
Closing it since awesome solution provided in https://github.com/strongloop/loopback-connector-mysql/issues/118#issuecomment-129928045 👍

[2016-12-08 20:26] #118 closed

[2016-12-08 20:35] jannyHou commented on #112
This feature should be similar to function [`columnDbDefault`](https://github.com/strongloop/loopback-connector-postgresql/blob/master/lib/migration.js#L507) in postgresql.

[2016-12-08 20:52] jannyHou commented on #103
@TonyLuo If the problem is "scope filter" is applied on throughModel not relatedModel, I believe it's fixed in https://github.com/strongloop/loopback-datasource-juggler/pull/1153, the fix is on 3.x version but hasn't beed backported to 2.x(under discussion)

If that is not the case, can you fork https://github.com/strongloop/loopback-sandbox and replace with your use case? Thanks. I will try to re

[2016-12-08 21:35] loay commented on #45
Hi @benmarten
Is this still an issue?

[2016-12-08 21:36] #45 closed

[2016-12-08 21:37] benmarten commented on #45
We are using above workaround in production, I have no idea if the implementation has been changed in the original approach...

[2016-12-08 21:37] loay commented on #49
Hi @fabien
I know this is probably old, but the last patch fixed the above mentioned issues with MYSQL5.7 concerning the indexing and the long_key errors, as well as the failing test cases.
Please take a look and let me know if you are still running into issues. Thanks.

[2016-12-09 00:39] siddhipai opened #225 "CI failures for node 4.x/6.x on windows"
see [#219](https://github.com/strongloop/loopback-connector-mysql/pull/219)

[2016-12-09 00:59] #103 closed

[2016-12-09 07:38] EmileSpecs commented on #131
@jannyHou yes, Raymond's solution worked thanks! It's a long time ago but I think the parameters required were just not documented properly...

[2016-12-09 07:39] #131 closed

[2016-12-09 09:00] Mayeu commented on #36
Well, as far as my research went, it seems that when you have a table using `utf-8`, MySQL only encode them using 1 to 3 bytes (thus, not encoding every `utf-8` codepoints). This limit you to a `VARCHAR(255)`, since `255 * 3 = 765`.

But if you use `utf-8mb4` (the one we are using), MySQL encode everything between 1 and 4 bytes, then encoding all `utf-8` codepoints, and this leads to `VARCHAR(191)

[2016-12-09 14:21] giowe commented on #147
oook :+1:

[2016-12-09 15:55] alemhnan commented on #36
I'm having the same issue. I'm working with different project using loopback and mysql. I've scaffolded one just now and got same problem mentioned here using the last stable version (2.4.0).

Nevertheless using the latest commit as the moment of writing (
```"loopback-connector-mysql": "git://github.com/strongloop/loopback-connector-mysql#37bb679f6e5527651d98bf1e9cdb25693ef799f9"```) it works ind

[2016-12-09 16:58] fusionstrings commented on #16
@josefd8 Yes it's cumbersome but that's the workaround I'd to adopt. As of not it's been ages since I'd used loopback so can't say much.

[2016-12-09 17:14] #225 closed

[2016-12-09 22:33] stringbeans commented on #221
hi @jannyHou !

its an erroneous filter i admit, but i feel that the connector should gracefully handle this by removing the null values from the array or replacing the 'DEFAULT' keyword in the query with the actual null value. does that make sense?

[2016-12-10 16:50] wascou commented on #55
@jannyHou I guess I can close it as I totally switched my stack. Cheers.

[2016-12-10 16:50] #55 closed

[2016-12-12 17:45] jannyHou commented on #223
Fixed in https://github.com/strongloop/loopback-connector-mysql/pull/226

[2016-12-12 17:45] jannyHou commented on #222
Fixed in https://github.com/strongloop/loopback-connector-mysql/pull/226

[2016-12-12 21:04] #49 closed

[2016-12-13 18:02] loay commented on #209
@superkhau

I think this issue could be closed now.
I am not sure what happened for number one but you can do the following to test locally:

1) download mysql 5.7 and make sure you include the installation on mysql workbench as well.

2) edit test/init.js
[code]
3. run `npm test`

[2016-12-13 20:40] superkhau commented on #209
Why does workbench matter? I'm not following.

[2016-12-13 20:54] loay commented on #209
Sorry I meant `of` workbench, not `on` .. I fixed the typo. When you install mysql 5.7, you need to add workbench so it will be easier to add/remove db, add /remove user ..etc

[2016-12-13 21:59] superkhau commented on #209
@loay I assume no setup is needed to run npm test (except maybe create `myapp_test` DB)? Anyways, looks like a usability issue -- that config should take in a dynamic database name via process.env.MYSQL_DB anyways). Hence no need for workbench (I could do it from MySQL CLI anyways).

[2016-12-13 22:01] superkhau commented on #209
Prerequisite:

- Windows VM
- Git on windows

- [ ] Install MySQL 5.7
- [ ] Clone loopback-connector-mysql
- [ ] Run npm and ensure it passes (fix if trivial, create new issue with estimate for non-trivial)

[2016-12-14 16:18] Overdrivr commented on #216
This is not related to the MySQL connector, I can reproduce it with the memory DB as well. Will look into datasource juggler.

For reference, complete error stack
[code]

[2016-12-14 21:18] #222 closed

[2016-12-14 21:18] #223 closed

[2016-12-14 22:39] bekoli commented on #106
@recallfx: Close. I debugged this quite some time today since I run into the very same issue.

Here's the important part from line 237: https://github.com/strongloop/loopback-connector-mysql/blob/955f5dc084eea94a43a479d27591e26bb650e3d9/lib/mysql.js

[code]

And here is http://dev.mysql.com/doc/refman/5.6/en/insert-on-duplicate.html (installed on my current system)

However, there's an appendix:

[2016-12-15 22:21] jannyHou commented on #221
ah @stringbeans I see.

`inq` is not only used in primary key, for other columns it's fine to fetch instances with value `null`.
So "removing the null values" need additional check of keyType(primary/non-primary), not a very necessary work to add IMO :p

And I think it's fine to let driver discover an invalid query and return warning, as long as it doesn't terminate the app.

I label it as a featu

[2016-12-16 02:07] stringbeans commented on #221
@jannyHou yeah i actually dont like the solution of removing the null values either

at the end of the day, passing null values to the inq filter should still create valid SQL. that's the issue im logging here. suppose you do:

[code]

the eventual SQL query created from that is:

[code]

this is the bug. it actually creates an invalid SQL statement from passing null into the inq filter.

regardle

[2016-12-16 15:07] jannyHou commented on #221
true :)

[2016-12-16 15:56] bajtos commented on #106
@bekoli first of all, thank you for such in-depth analysis and a detailed description! To be honest, I am not intimately familiar with this connector (and MySQL in general), but I'll try to take a closer look and help. It may not happen this year though, as the Holidays are around the corner.

@strongloop/squad-apex can one of you take a look please?

[2016-12-29 00:32] adcoolguy commented on #129
Did you use automigrate (which might overwrite the AUTO_INCREMENT property)? Our workaround that works was not to use automigrate but use only autoupdate and let the database schema changes not done by LoopBack UI like ARC. Furthermore, we set the model’s field required to false (letting the datastore handle the sequence/Id itself and not handled by the application/client/LoopBack).

HTH

[2016-12-30 13:33] tlloydukdev commented on #85
Seems to still be the case, if you set generated: true then the dataType changes back to int(11) rather than bigint(20).

Any workarounds for this or plans to resolve ?

[2017-01-04 09:41] PaddyMann commented on #210
Had the same issue running Loopback + PM2 + MariaDB on Docker. Setting larger timeouts has fixed - thanks :)

[2017-01-11 03:24] loay opened #230 "Fix replaceById to report an error when id not found"
### Bug or feature request

- [x] Bug

### Description of feature (or steps to reproduce if bug)
when using the methods replaceOrCreate or replacebyid, when the request contains and id that doesn't exist in the db, then an error should be thrown and not create the instance !

### Link to sample repo to reproduce issue (if bug)
https://github.com/strongloop/loopback-datasource-juggler/issues/1171
h

[2017-01-15 14:12] martinlierschof opened #233 "Bug: discoverSchemas on existing db with foreign keys"
Calling discoverSchemas does not work on a mysql database with existing keys!
When using no foreign keys, it works as expected. The error does not appear and the (table) string are not undefined.

Reproduce Mysql:
[code]

node script:
[code]
will throw following error:
[code]
Versions used:
[code]

[2017-01-17 10:53] Overdrivr commented on #216
@superkhau Opened a PR, let me know if you need me to rebase or do some edits ;)

[2017-01-17 23:58] superkhau commented on #216
@Overdrivr -- Did a quick review of the PR, thanks for the contribution. ;) I'll let @kjdelisle take it from there as @strongloop/sq-lb-apex is taking care of those repos at this time.

[2017-01-18 16:45] lsocrate commented on #207
I have it implemented here https://github.com/lsocrate/loopback-connector-mysql/tree/collation-support, but I still gotta add tests to it.

[2017-01-19 19:45] superkhau opened #234 "Clean up platform test skips"
See https://github.com/strongloop/loopback-workspace/pull/408#issuecomment-273726644

cc @bajtos

[2017-01-23 12:43] bekoli commented on #106
@bajtos No sweat. I just had the idea that you're involved in such issues since you do a lot of sorting/referencing/commit work on Loopback and I have simply no idea who is to bug with this.

[2017-01-25 14:34] jannyHou commented on #207
@lsocrate sounds good, thank you for taking look into the feature, have you created a pr for it? I can help review after tests added. And take your time for the tests.

[2017-01-25 21:26] smartmouse commented on #105
That will be useful , but just curious, How will this Master/slave configuration be supported in your opinion?   What capabilities/features are you looking for in particular from the connector?  e.g. To be able to create and support master/slave configuration,  connect in the failover cases and execute queries etc. seemlessly?  Or allow read/write in the load balancing cases over multiple dataabse

[2017-01-26 16:11] #230 closed

[2017-01-26 19:04] smartmouse commented on #233
Thank you for your information.  Do you mind forking  the https://github.com/strongloop/loopback-sandbox and place your project files there for us to reproduce? Thank you in advance.

[2017-01-26 19:26] martinlierschof commented on #233
Well just use latest installer. Run sql on your mysql database. Configure loopback to mysql database. Run the script with node.

[2017-01-28 09:04] martinlierschof commented on #233
Well just use latest installer. Run sql on your mysql database. Configure loopback to mysql database. Run the script with node.

[2017-02-07 08:38] sunnynegi opened #239 "Inq option is not working in loopback"
id  compId   userId
1       1         ["2","5"]
2       2         ["2"]
2       2         ["6"]

filter i am using"where":{"compId":"2","userId":{"inq":["2"]}}}, it's returm only second row, but I want all the rows in which userId consist "2". but right now it's return blank array

[2017-02-20 16:42] enricop89 commented on #96
How did you solve it?

[2017-02-22 03:29] jcolemorrison commented on #210
Just to note if anyone else has problems - I had to put this timeout directly on `datasources.json`.  Putting it on one of the `env` namespaced ones doesn't seem to work i.e `datasources.production.js`

[2017-02-25 14:36] inggil2407 opened #245 "nested include not working perfectly"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
[code]

only one modelOne.modelTwo with one modelThree
not every modelOne.modelTwo with one modelThree

### Link to sample repo to reproduce issue (if bug)

### Expected result

### Actual result (if bug)

### Additional information (Node.js version, LoopBack version, etc)

[2017-02-27 21:52] dhmlau commented on #148
It seems like the userid that you're using to connect to the database has set only connect from localhost.  You might want to set the hostname of that userid to be '%' (wildcard) or your own machine.

If you're using MySQL Workbench, go to `Users and Privileges`, modify the `from host` value of the specified userid.

Reference:
https://dev.mysql.com/doc/refman/5.7/en/problems-connecting.html

[2017-03-01 14:48] dhmlau commented on #216
The corresponding PR (https://github.com/strongloop/loopback-datasource-juggler/pull/1196) has been merged and closed.  Closing this issue.

[2017-03-01 14:48] #216 closed

[2017-03-06 16:41] macogala commented on #57
In model.discoverSchema() you can provide options.nameMapper and specify a custom nameMapper(type, name) function to map your model names in your preferred way. For eg, if you want to keep your DB style, you can just do:

[code]

[2017-03-09 13:24] stelescuraul opened #250 "Properties with mysql custom "columnName" don't get autoupdated"
### Bug or feature request
If you have a model that has properties with `mysql` field and `columnName` that is different than the model property name, then it will throw error on autoupdate

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
Say we have a model "Users" with the following property:
[code]
Because it is save in the database as "first_name" and

[2017-03-15 23:05] ariskemper commented on #57
This issue would be more for loopback-datasource-juggler, since all operations are handled there.

@macogala is right and it could be done via nameMapper, but would be good to have option in discoverSchema, where is possible to define naming strategy.

@simoami  I suggest that we handle both naming strategy for Camel Case like upper and lower camel case. With those naming strategies, we probably c

[2017-03-16 18:13] stringbeans commented on #105
@smartmouse the support im thinking of would be the following (in our case for the mysql connector):

1. be able to define a master connection
2. define multiple slave connections
3. have the queries default to slave for all non-mutative commands (ie. only SELECTS)
4. have mutative queries default to master (UPDATE/DELETE/INSERT)
5. support an optional param in model methods to force the query to

[2017-03-17 04:50] smartmouse commented on #105
@stringbeans Thanks for the info. We will do some research first and put in the backlog for offering Manager to decide/prioritize.  If you come across any good ideas, please do comment here, will be more than happyt o check it out.  I will definitely check out sequelize.

[2017-03-21 10:56] ygaller commented on #250
Great catch! Ran into the same problem myself with loopback-connector-mysql@2.4.1

For a more succinct version one could just change it to this:
`var pName = (newSettings.mysql && newSettings.mysql.columnName) || self.client.escapeId(propName);`

[2017-03-23 22:19] b-admike commented on #93
hi @hotaru355, I have verified that the issue doesn't exist following what you did in your repo (https://github.com/hotaru355/issue1287) . Can we close this issue or are you still seeing it? Can you also comment on whether https://github.com/strongloop/loopback-connector-mysql/pull/94 is needed?

[2017-03-24 10:44] shaheero opened #253 "MySQL Discovery Honors Foreign Keys Made To The Same Column Only Once"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
I have 2 columns that reference the same column in another table through a foreign key. MySQL discovery only made one relationship and ignored the other.

[2017-03-26 19:41] ssh24 commented on #245
@inggil2407 What is the exact issue here? Please fill out the above form questions to specify what the problem is, what your expected result versus actual result and specify any additional information.

[2017-03-26 19:49] ssh24 commented on #250
@stelescuraul Could you please submit a PR to fix this patch? Please tag me on it and I will take a look at it.

[2017-03-26 19:55] ssh24 commented on #239
@sunnynegi Not sure quite what the problem is. Could you please specify all the reproduction steps and the expected versus actual results?

[2017-03-26 22:39] ssh24 commented on #209
@superkhau @loay CI runs properly on windows. Can this issue be closed?

[2017-03-27 13:21] debashishkumar commented on #96
How did you solve it? I also want to know

[2017-03-28 21:26] mclark-newvistas commented on #159
See also #44 for a previous attempt and some relevant discussion.

[2017-03-28 21:31] mclark-newvistas commented on #253
Ran into something essentially similar from my import script - I was naming the relationship for the table name linked to and using that as an Object key. Only the last relation to the same table was preserved, as it overwrote the others. I ended making manual changes to the generated model files to add those and hasOne/hasMany relations, since the one vs many seems also difficult to discover from

[2017-03-28 22:20] ssh24 commented on #209
Closing this as CI on windows is working.

[2017-03-28 22:20] #209 closed

[2017-03-30 11:28] fridolin-koch opened #254 "Multiple foreign keys result in SQL Error"
# Description/Steps to reproduce

1. Create a model with multiple foreignKeys:

[code]

2. Exec Autoupdate

[code]

# Expected result

Valid SQL is generated and executed.

Error Message:

[code]

I've created a fork and fixed the error, but I can't judge if this leads to any side effects:

https://github.com/fridolin-koch/loopback-connector-mysql/commit/2b3edec386b5488090344d3edbd1abe2a2f9c6b7

#

[2017-03-30 13:54] dhmlau commented on #254
@fridolin-koch , since you have a proposed fix, could you please submit a PR?  And please add related test cases as well.  Thanks!

[2017-03-30 13:58] dhmlau commented on #217
PR #218 is closed with the last comment on Dec 8, 2016:
`@chinuy Let's close this PR as rejected and you can submit a new PR with the suggested fixed. Feel free to ping @bajtos or me directly when you need another review.`

@chinuy , would you like to submit another PR with the suggestion on #218?  Thanks.

[2017-03-30 14:47] chinuy commented on #217
Not in this repo. It would be [loopback-connector](https://github.com/strongloop/loopback-connector). Per discussion on #218, I was stuck in how to handle [`filter.include`](https://github.com/strongloop/loopback-connector-mysql/pull/218#issuecomment-265880248).

[2017-03-30 14:47] #217 closed

[2017-03-31 19:47] b-admike commented on #65
@zmarouf I have tried your scenario with `upsertWithWhere` and was able to successfully get the following:
Steps to reproduce:
1) create a LB 2.x app with `empty-server` template
2) create a mysql datasource using the generator prompt `slc loopback:datasource`
3) use `slc loopback:model` to create `myModel`
4) make `create-mymodel.js` which calls automigrate function on `myModel`
5) start app and

[2017-03-31 19:48] #65 closed

[2017-03-31 20:10] b-admike commented on #93
I have also verified #65 is not present anymore. Closing this issue and its related PR. If the issue comes up again, we can look into opening them both.

[2017-03-31 20:10] #93 closed

[2017-04-03 20:35] ssh24 commented on #253
Closing this issue due to lack of inactivity.

[2017-04-03 20:36] ssh24 commented on #245
Closing this issue due to lack of inactivity.

[2017-04-03 20:36] #245 closed

[2017-04-03 20:37] ssh24 commented on #239
Closing this due to inactivity in the issue.

[2017-04-03 20:37] #239 closed

[2017-04-03 20:37] shaheero commented on #253
Then I suggest you join the conversation to make it active :/

[2017-04-03 20:39] ssh24 commented on #253
There has been no description of the bug. (i.e reproduction of the bug) Feel free to open the issue if you could reproduce the issue with clear steps and example code.

[2017-04-03 20:40] shaheero commented on #253
2 columns referencing the same FK column in MySQL, MySQL discovery only made one relationship and ignored the other. What's there to describe more?

[2017-04-03 20:45] ssh24 commented on #253
Please follow on how to report an issue: http://loopback.io/doc/en/contrib/Reporting-issues.html

PS. The ability to provide `example code` for reproduction of a bug is important for us to determine if it is indeed a bug.

[2017-04-03 20:48] ssh24 commented on #250
@stelescuraul @ygaller Any updates on submitting a PR for this patch?

[2017-04-03 21:05] shaheero commented on #253
MySQL:
[code]

After running a discovery script, here is the Info.json that results. It only honors one FK relationship instead of all of the ones in the info table.

[code]

[2017-04-03 21:34] stelescuraul commented on #250
@ssh24 will do it in an hour.

[2017-04-03 21:42] ssh24 commented on #253
@shaheero Thank you for the example reproduction. Will reopen the issue and take a better look at it.

[2017-04-03 22:19] stelescuraul commented on #250
@ssh24 Please check PR.

[2017-04-04 00:22] ssh24 commented on #253
@shaheero I just tried a reproduction of this issue and talked with relation experts /cc @jannyHou.

Upon discovering the table schema from mysql, I would not get back any relation. That is because ATM we do not support discovering table relationships and converting them into model relationships. This feature is currently on our roadmap.

However, my question to you is, how were you able to get th

[2017-04-04 00:26] dhmlau commented on #95
@Hithim, sorry to take so long to respond.  Since this problem was reported almost 2 years ago, closing the issue.  If you're still running into this issue, feel free to reopen.  Thanks.

[2017-04-04 00:26] #95 closed

[2017-04-04 00:29] dhmlau commented on #89
@ghost, sorry to take so long to respond. Since this problem was reported 2 years ago, closing the issue. If you're still running into this issue, feel free to reopen. Thanks.

[2017-04-04 00:29] #89 closed

[2017-04-04 01:25] dhmlau commented on #86
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2017-04-04 01:25] #86 closed

[2017-04-04 01:30] dhmlau commented on #56
Closing this issue because the PR has landed.  Thanks.

[2017-04-04 01:30] #56 closed

[2017-04-04 06:32] shaheero commented on #253
In general, set the schema to discover as the database (not just one table) and add this attribute:
'''associations: true'''

I can provide the code in few hours if you want

[2017-04-04 14:32] ssh24 commented on #253
Not sure what you mean. You can only discover the schema of a table not the database.
For example, this code will give an error:
[code]
**Error**: `Error: Table 'sample' does not exist.`

[2017-04-04 15:33] ssh24 commented on #233
@martinlierschof You are using `currModel.name` for the table name when `currModel` is not defined.

Change your script to:
[code]

[2017-04-04 15:51] ssh24 commented on #163
@abdulqudoos You can use to discovery properties to discover `column_name` and `data_type` properties of a given table.

Example script:
[code]

[2017-04-04 18:22] mclark-newvistas commented on #253
https://apidocs.strongloop.com/loopback-datasource-juggler/#datasource-prototype-discoverschemas - note this is `discoverSchemas` instead of your call to `discoverSchema`, which the documentation explicitly states "without following the relations". Note the `relations` option to `discoverSchemas`. Replication from here should be obvious.

[2017-04-05 00:07] ssh24 commented on #253
@shaheero @mclark-newvistas I was able to reproduce the bug and submit a fix for it. Now after discovering the schemas, it returns both the foreign keys as expected.

Since it is not released yet, you would need to install the dependencies from the local registry. On your app folder, do the following and then run the sample script:
[code]

**Sample script**:
[code]
**Output**:
[code]

Please let m

[2017-04-10 14:26] iamfrntdv commented on #213
Is there more practical way to do that? trough config?

[2017-04-10 14:29] shaheero commented on #213
Haven't found something right away. But would be better of course. Anyone?

[2017-04-10 14:36] iamfrntdv commented on #213
I have found the good way. Just add this into datasources.json to you mysql connection config
[code]
and it should work!

[2017-04-10 15:23] shaheero commented on #213
Didn't work for me..

[2017-04-11 07:17] fahadtasleem commented on #96
I was passing wrong values to count method.
Have a look at this.

http://stackoverflow.com/questions/30094144/count-method-throws-syntax-error-when-used-with-where-clause-in-loopback

[2017-04-11 07:18] nqd commented on #183
+1 to support ms supported

[2017-04-12 02:03] dhmlau commented on #148
@vserrao, is this good to close? Are you still running into issues?

[2017-04-12 04:19] vserrao commented on #148
Currently, I'm working on another high priority task. I will take this up some time later, and reopen the bug if issue still persists. You may close it for now. Thanks!

[2017-04-12 13:35] dhmlau commented on #148
Thanks

[2017-04-12 13:35] #148 closed

[2017-04-14 08:19] ernie58 opened #259 "column names are not escaped when creating indexes"
### Description/Steps to reproduce
  - Make a model with a property named 'from' (e.g. in a Message-Model)
  - Add an index for the property in the JSON definition file
  - run autoupdate on the datasource

Mysql errors with a PARSE_ERROR

### Expected result
[code]
### Actual result which causes PARSE_ERROR by not escaping `from`
[code]

[2017-04-18 19:09] bbito commented on #149
Anyone watching this bug should know that the PR merged by @darknos : https://github.com/strongloop/loopback-connector-mysql/pull/257 seems to fix the current undocumented issue discussed here that the connector converts DATETIME and TIMESTAMP to UTC on commit and does not honor the timezone setting of the MySQL server or connection. That PR does honor the timezone settings and that means that if

[2017-04-19 00:35] ssh24 commented on #259
Seems like a bug to me. Here is a [list](https://dev.mysql.com/doc/refman/5.7/en/keywords.html) of reserved keywords in MYSQL and `from` is one of them.

@ernie58 Are you willing to submit a patch to fix this?

[2017-04-19 00:38] ssh24 commented on #253
Closing this as it has been fixed on the latest released juggler `v3.5.0`.

[2017-04-19 00:38] #253 closed

[2017-04-19 20:20] dhmlau commented on #254
@fridolin-koch, could you please create a PR?  We can go from there...   Thanks.

[2017-04-20 07:22] kodepareek opened #263 "Multi Column Index Throwing 500 error on duplicate creation"
Hi guys

I am on LB 3.

I have `team` and `appUser` models which are linked by `hasManyThrough` via a `teamappUser` model.

I created a unique together constraint on `teamId` and `appUserId` on in the `teamappUser`

On testing for duplicate key creation (testing if unique together constraint was successful ) I get a 500 internal server error and server restart.

I feel a 500 is completely unwarran

[2017-04-21 13:25] Mayeu opened #264 "MySQL migration hang with a new empty application if there are two datasources using MySQL"
# Description/Steps to reproduce

For the last 3 months we had a LoopBack application using a MySQL and a REST datasource. Recently we wanted to add a new datasource pointing to another MySQL database. This datasource don't have any migration because we are calling an existing database managed by another application.

While the application is still working (we can launch the server, and use the wh

[2017-04-21 19:50] bbito commented on #149
I never really got feedback on why all the date manipulations are being done by loopback-connector-mysql (https://github.com/strongloop/loopback-connector-mysql/issues/149#issuecomment-235361034)  @bajtos seemed to be amenable to removing these operations here: https://github.com/strongloop/loopback-connector-mysql/issues/149#issuecomment-236177684

My albeit limited testing (mostly in the Explore

[2017-04-24 00:48] bbito commented on #149
In light of the date/timezone work by @darknos  directly relating to this bug (https://github.com/strongloop/loopback-connector-mysql/pull/170, https://github.com/strongloop/loopback-connector-mysql/pull/257, https://github.com/strongloop/loopback-connector-mysql/pull/265) I have felt compelled to flesh out what I have been writing about since July of last year. I feel I should give a little perso

[2017-04-24 17:31] superkhau commented on #149
@raymondfeng Thoughts on above? I'm siding with the underlying driver should take care of Dates.

[2017-04-24 18:46] ssh24 commented on #250
@stelescuraul PR #255 is ready to be landed. Please submit the same patch for 3.x branch as soon as you can.

[2017-04-24 19:47] kjdelisle commented on #149
I've been avoiding weighing in on this for a while, since I wanted to really grok the problem. My initial instinct was "LoopBack shouldn't be doing this, the driver is responsible", but what I've noticed is that at the time we generate the Date object instance (which occurs **before** the [before save](https://loopback.io/doc/en/lb2/Operation-hooks.html#before-save) hook) we seemingly "assign" the

[2017-04-24 21:16] darknos commented on #149
@bbito in case A) if you want to pass all Date manipulations from the connector to the driver, I'd suggest to remove also this:
[code]
and don't forget that for "where" clause all values are converted to Date in dao.js of the juggler, so not all conversions are passed to the driver yet. (https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/dao.js#L1564)

for inspirations, this

[2017-04-24 22:18] bbito commented on #149
@kjdelisle , Could you give a little more context, I'm very unclear on the points you are trying to make.

In my context of "2017-04-19T05:00:00.000Z" coming out of my client app into my Loopback API, I want Loopback to do new Date("2017-04-19T05:00:00.000Z") and pass that Date object to mysqljs/mysql along with the "timezone": "local" in my datasources.json so that it sends "2017-04-18 22:00:00"

[2017-04-24 22:24] kjdelisle commented on #149
You've more or less rephrased what I was saying. At the time LoopBack creates the Date object, it's already been set with the appropriate ISO/UTC offset. What I'm proposing is that if you need to manipulate the value of the Date in the database, then you should manipulate it at the time of its creation (namely when LoopBack puts it into a "DateType"). I've made a PR on juggler that I'll be working

[2017-04-24 22:25] kjdelisle commented on #149
Additionally, I'm looking into other more core problems like the fact that our default migration type for Dates is `DATETIME` and not `TIMESTAMP`

[2017-04-24 22:58] bbito commented on #149
@kjdelisle ,

I wouldn't characterize it this way at all. By my understanding of what is going on in the current release of this module, the nice little Javascript Date object is explicitly deconstructed into a string in [dateToMysql ](https://github.com/strongloop/loopback-connector-mysql/blob/2.x/lib/mysql.js#L310) and that gets handed off to mysqljs/mysql instead of the Date object.

When I tak

[2017-04-24 23:36] kjdelisle commented on #149
Ugh, I thought that code was part of the PR. Not sure why I didn't notice that. :(
If you want to make a PR to remove that code, that would be awesome. (I could also get that going, but I'm out for the night, so if you've got a few minutes I'd really appreciate it!)

[2017-04-24 23:42] bbito commented on #149
@kjdelisle Do you have an opinion on the Date test that @darknos suggested removing?
I had no idea what case it was testing for (where val wouldn't be a Date object) so I left it in.

[2017-04-25 01:40] bbito commented on #149
@kjdelisle PR #268 has been made. I will help where I can, but as covered in this thread and mentioned again in the PR, I do not plan to personally address the test writing and documentation to bring this PR to completion.
I hope this issue now has some team resources as I could have made the same PR (minus the legacy fallback) 9 months ago. I sincerely hope this helps close this issue in a well d

[2017-04-25 05:59] darknos commented on #149
I still don't think that setting mysql connection timezone to Z by default is a good idea.

[2017-04-25 09:10] tma-isbx opened #269 "GeoPoint stored as POINT(lat, lon) when it should be POINT(lon, lat)"
From the code:

[code]

[code]

MySQL expects it to be POINT(X, Y) which would be POINT(lon, lat). Storing them transposed would cause confusion when interacting with SQL queries that interact with the POINT. Functions like ST_X(), ST_Y() would be confusing (at best). If MySQL were to support geography based functions that worked on a spheroid in the future, distance calculations would be incorrec

[2017-04-25 12:43] bbito commented on #149
@darknos

I certainly agree that without context, setting `legacyUtcDateProcessing` to `true` or by extension, setting `options.timezone = 'Z'` is not a good idea - that is what this bug is about. However the lack of activity on this bug (and the older https://github.com/strongloop/loopback-connector-mysql/issues/120) leads me to believe that either:
A) Only a few developers are using Dates types

[2017-04-25 14:48] ssh24 commented on #269
@raymondfeng @bajtos Looks like a bug to me. Any reason why we specify the params as `[val.lat, val.lng]` rather than `[val.lng, val.lat]`? And of course need to change
[code]

[2017-04-25 15:01] kjdelisle commented on #149
@darknos

I agree in principle; forcing anyone to do anything kinda sucks. I guess in this case, it's the least-sucky option since it's always going to be a "correct" time value. If someone was using this and wasn't careful about their timezone values from different locations, they'd end up with all kinds of DateTime wonkiness. Pinning it to ISO time at least ensures that they can `.toString()` or

[2017-04-25 15:04] darknos commented on #149
and these people called my changes "breaking"... :)

[2017-04-25 15:07] bajtos commented on #149
@kjdelisle I think my understanding of the problem is different from yours.

As I understand this issue:

 - The HTTP client sends a date value encoded as ISO date string in body payload (create a new model) or querystring (find models using a filter).
 - The ISO date string format includes the information about the timezone. Typically, JSON produces always use `Z` timezone, therefore convert the

[2017-04-25 15:16] darknos commented on #149
@bbito

A) Only a few developers are using Dates types with loopback-connector-mysql

so we can ignore them? great idea!

and only a few developers have DATE type in their databases. :) so lets ignore them too :)

[2017-04-25 15:21] darknos commented on #149
+1. from this point of view Date is a TIMESTAMP in mysql - but not DATETIME.
https://dev.mysql.com/doc/refman/5.7/en/datetime.html

TIMESTAMP is a moment an saved as number of milliseconds from

[2017-04-25 15:25] bbito commented on #149
@darknos Intended point was quite the opposite of your apparent reading of my comment.

and only a few developers have DATE type in their databases. :) so lets ignore them too :)

I don't want anyone ignored. I want this connector to work as expected. It currently silently forces UTC into MySQL no matter what is set in datasources.json. The point I was trying to make was that I **do not** think th

[2017-04-25 15:27] DaGaMs commented on #149
https://dev.mysql.com/doc/refman/5.7/en/datetime.html

That is strictly speaking true. But I would like to argue that

1. DATETIME was the default type in Loopback for objects of type Date, so there's a legacy issue
2. DATETIME columns still refer to a date. The question of how the storage class is implemented seems secondary. It's still a point in time, so unless we don't return a js `Date` objec

[2017-04-25 15:27] darknos commented on #149
@bbito I already described my situation: in most of case I work with client's databases on client's servers and in parallel with their legacy php/perl/python code.

[2017-04-25 15:55] bbito commented on #149
@darknos, Can you elaborate if there are any issues beyond the default of `legacyUtcDateProcessing:true` that impact you if https://github.com/strongloop/loopback-connector-mysql/pull/268/files is merged?
It is very unclear to me what path you propose to address the crux of this bug:
ignoring MySQL timezone settings
and how that differs from https://github.com/strongloop/loopback-connector-mysql/p

[2017-04-25 16:26] darknos commented on #149
@bbito I'd suggest to copy tests from #257 , review all test cases and be sure that all of them are passed.

and, of course, add any new test cases if need.

[2017-04-25 17:35] kjdelisle commented on #149
@bajtos @bbito @darknos
I've been spitballing with the team here and trying to figure out something a bit nicer, not just for MySQL but maybe for LoopBack in general, and here's what my proposal is:

1) We alter the current "DateType" DataType so that it reads a configuration flag (call it `dateStrings` for now, we can bikeshed it later). The function would look something like this:
[code]

2) We

[2017-04-25 19:46] bbito commented on #149
@kjdelisle I'm assuming that `function DateType(arg) {...` is in a module that receives that `arg` from a loopback-connector-xxx like `fromColumnValue` in [loopback-connector-mysql](https://github.com/strongloop/loopback-connector-mysql/blob/master/lib/mysql.js#L401) - if that is the case, it looks like it is expecting a String. Are the other 'connector' modules handing off Strings instead of Date

[2017-04-25 20:04] kjdelisle commented on #149
Yeah, my idea is about letting the dev swing it either way.

For example, you could have a property on the model that looks like this:
[code]
and then set `legacyUtcDateProcessing = false` and set your timezone to whatever you want.

That way, if you were to send in `2015-01-01`, it would leave that value as a String.

Granted, as it's currently setup, there's still something casting it to a Date

[2017-04-25 20:11] bbito commented on #149
@kjdelisle So that sounds like [proposal "B" ](https://github.com/strongloop/loopback-connector-mysql/issues/149#issuecomment-296501506), but I think you're saying that it wouldn't be handled in the connector. So you're saying that connectors would be responsible for getting Strings from whatever they're connecting to - would they accept only Strings as well?

[2017-04-25 20:13] bbito commented on #149
@kjdelisle I haven't bothered to look at any other 'connectors' are they passing Objects or Strings?
...or is it currently a mix?

[2017-04-25 20:15] kjdelisle commented on #149
@bbito Sorry, I should've provided the other example.
With the changes I'm making, if you don't have the `isDateString` parameter on your property definition, then it would still be handled like a regular JavaScript Date object (and then we would lean on the legacy parsing flag).

[code]

This would happen at the ModelBuilder-level (when parsing a POST request, for example).

[2017-04-25 20:18] kjdelisle commented on #149
In the MySQL connector's case, they would need to know about the legacy flag to disable the behaviour as a complement to this usage.

[2017-04-25 20:30] kjdelisle commented on #149
I'm currently working on the pass forward (API -> LB -> connector -> DB). Once I'm confident that's working well, I'll make sure the opposite is working as well (DB -> connector -> LB -> API).

[2017-04-25 20:31] bbito commented on #149
This is getting architectural - Is loopback-connector-xxx's job to provide and receive Objects or Strings?
I have been assuming Objects - if it is Strings, then this is a different bug...

[2017-04-25 22:33] bbito commented on #149
#268 was borked. I didn't realize @ssh24 was helping fix the commit comments while I was trying to rebase at the same time.
Replaced with https://github.com/strongloop/loopback-connector-mysql/pull/271

[2017-04-25 22:58] darknos commented on #149
@bbito

no. DateType function works when you pass something in `{"where":"...."}`, for example from rest interface. and `fromColumnValue` called AFTER `DateType`. If you want to remove all conversion from  the connector you should rid out this one too.

try to put some `console.log` in DateType in dao.js and in `fromColumnValue` to examine how it works.

[2017-04-26 00:29] kjdelisle commented on #149
With regard to #271 everything looks good except for the DATE format, which I think we knew was going to be problematic. Inserting basic dates from end-to-end can fall victim to the timezone which can roll them forwards/backwards. (ex. inserting 2017-02-04 from GMT-5 will give you 2017-02-03)

I've tested the `isDateString` change on a branch of juggler and it seems to provide the appropriate beha

[2017-04-26 11:11] darknos commented on #254
@dhmlau, @fridolin-koch I just committed PR with the fix #272

[2017-04-26 15:07] bbito commented on #149
@kjdelisle

Wow, I'm very surprised! I was sure that #271 would break all sorts of stuff I hadn't tested for. I've just been pounding on what happens when I send and retrieve Date types through REST API and checking MySQL rows. I thought changing the output of `toColumnValue` from String to Date Object would break stuff I wasn't looking at...

Concerning DATEs, I plan to continue to use `"dateStri

[2017-04-26 17:09] kjdelisle commented on #149
@bbito Ah, sorry! To clarify: "looks good" means that I was manually verifying it to make sure that it's doing what I expect in combination with the other changes in my PR (I'm not going to merge one to test the other, so I linked them locally to play around with it). It does have a few failing tests, but they look unrelated.

The strongloop/loopback-datasource-juggler#1356 PR will allow you to pa

[2017-04-26 17:15] bbito commented on #149
@kjdelisle Addressing your earlier comment:

I find this very confusing. Currently I can do this at the DataSource level - not the field/model level as you propose, but the behavior seems fairly transparent to me from the settings below.

- Set `"dateStrings": ["DATE"]` in datasources.json
  - This forces mysqljs/mysql to return a String exactly as read from MySQL for all DATE columns of the form

[2017-04-26 17:23] kjdelisle commented on #149
@bbito
Technically, you can set the datatype of the field on the Model as a string, and then set a connector-specific mapping behaviour (This is the workaround from further up the thread):
[code]

But this means that you lose validation of the date at LoopBack level; nothing's stopping you from sending in a non-Date string!
This new feature would let you set the type to "Date" (as far as LoopBack

[2017-04-26 17:24] darknos commented on #149
I'm agree with @bbito but notice that `dataType` should be on upper level for correct migrations:
[code]

[2017-04-26 17:42] bbito commented on #149
@kjdelisle I like the sound of this feature, but I'm suspicious of how SELECTs through mysqljs/mysql will pull the DATE String from MySQL. The only way I know to be sure I'll get the same DATE whether I'm in -12:00 or +14:00 is by passing `"dateStrings": ["DATE"]` to mysqljs/mysql.

[2017-04-26 17:50] kjdelisle commented on #149
What I'm saying is that the `isDateString` property is complementary to the use of `dateStrings`. `isDateString` keeps your value the same on the way into the database from LB, and `dateStrings` keeps it the same on the way back out.

[2017-04-26 18:08] bbito commented on #149
@kjdelisle Thanks for the clarification, that squashes my concern about the data!  Great!
I do still find the attribute names confusing though. I would always assume `type: Date` is referring to a js Date Object. Instead of the 2 attributes: `{ type: Date, isDateString: true }` could the `type` be something new? e.g.: `{ type: DateAsString }`

[2017-04-26 18:31] kjdelisle commented on #149
If I did that, I'd have to create a new Type throughout the model-builder and dao classes. Doing that might be the "nicer" way, but I'm not really convinced that we gain anything by doing that (or lose anything by not doing that).

[2017-04-26 18:48] bbito commented on #149
@kjdelisle While I'll admit I was hoping you'd say "I've been itching to create a new Type!" I understand if it's not a good use of resources. I think the gain is that Loopback has cool tools like ARC > Discover Models where it would be nice to select `DateAsString` from the dropdown and be done with the config rather than having to go into the generated model.json files and add `isDateString: tru

[2017-04-26 20:52] kjdelisle commented on #149
Giving it some thought, I do want this to be an easier process for others, and having it as a separate type would be a heck of a lot easier. Let's see how that goes.

[2017-04-27 16:14] darknos commented on #250
I met with this issue 5 minutes ago in my code. :(

and this fix is not full yet (especially for 3.x branch).

look here:

[code]

@ssh24 can I provide PR for it?

[2017-04-27 16:17] stelescuraul commented on #250
@darknos this is not fixed in 3.x. i will fix it in a few hours when i get home

[2017-04-27 16:17] darknos commented on #250
@ssh24 Lets rename #272 to "fix autoupdate issues" and I'll fix this.

[2017-04-27 16:18] ssh24 commented on #250
@stelescuraul @darknos Either one of you can do a PR for the fix on 3.x.

[2017-04-27 16:25] darknos commented on #250
@ssh24 I'll fix this and also #259 in #272

[2017-04-27 16:26] ssh24 commented on #250
@darknos I suggest creating two different PR's for this (#250) and #259. PR #272 is good as it should be.

[2017-04-27 16:28] darknos commented on #250
ok. I just already fixed it locally but is not yet committed. :) I'll make branches for the issues.

[2017-04-27 16:49] darknos commented on #250
done. look at #273

[2017-04-27 21:32] ssh24 commented on #250
Fixed in both `2.x` and `3.x`. Closing this issue as a result.

[2017-04-27 21:32] #250 closed

[2017-04-28 12:44] bajtos commented on #269
IIRC, the last time I was looking into this issue, there was no generally accepted consensus on how to order lat+lng in an array.

For example, Google Maps uses `(lat, long)` format - see https://developers.google.com/maps/documentation/javascript/reference#LatLng
[code]

I believe we have modelled our GeoPoint API using Google's approach. Changing the order of lat/lng now would be a huge breaking

[2017-05-01 15:25] Zvax commented on #221
I would chime in and argue that not only should a null value being passed still produce valid sql, but also it should actually search for null values. Querying a table for rows where a value `IS NULL` is a valid requirement when dealing with parent/children hierarchies, where the top level elements would have a null parentId.

Which is actually my use case and how I stumbled here. I have a model t

[2017-05-01 23:23] ssh24 commented on #264
@Mayeu I was not successful on reproducing your issue. I have created my own sample script and app, and it works as expected.

This my `datasources.json` file:
[code]

Here is my script:
[code]

Now when I run the above script with my attached datasource as `mysqlDS1` the autoupdate function works. However, if I change my the attached datasource and point it to `mysqlDS2` it fails.

[code]

**Why

[2017-05-02 08:30] Mayeu commented on #264
Thank you for your response, I am going to take a look at that today.

[2017-05-02 15:19] Mayeu commented on #264
I appreciate your response, and I am wondering about this point:

Were you unable to reproduce the issue with my provided example repository, or did you create a new project from scratch ? (You can find the repository at [Mayeul/oopback-two-mysql-datasource-not-working](/https://github.com/Mayeu/loopback-two-mysql-datasource-not-working)) Because this repository provide the exact version and setup

[2017-05-02 23:04] kjdelisle commented on #149
All the relevant PRs are merged, closing.

[2017-05-02 23:04] #149 closed

[2017-05-03 11:48] nicolaspernoud commented on #114
Elaborating on jesusbv proposal : that is possible by creating and using mixins (sorry for the comments in French)

/common/mixins/BelongsToIntegrityCheck.js
[code]
/common/mixins/HasManyIntegrityCheck.js
[code]
And in your models :
Parent Model :
[code]
Children Model :
[code]

[2017-05-04 16:56] ssh24 commented on #264
@Mayeu Looks like your script is doing something wrong. This [commit](https://github.com/Mayeu/loopback-two-mysql-datasource-not-working/commit/f221371ef8058aa61b4ed14240122e0e07a30029#diff-cf1e8c14e54505f60aa10ceb8d5d8ab3) only adds the datasource to the `datasources.json`, however the `modelconfig.json` file has all models pointing to `dbone` which is not what you want.
[code]

[2017-05-05 21:10] joostdebruijn commented on #183
I purposed a pull request for this. I'm awaiting feedback of the maintainers now.

[2017-05-05 21:17] jannyHou commented on #183
I will take a look asap

[2017-05-08 15:12] ssh24 commented on #183
Should be fixed in https://github.com/strongloop/loopback-connector-mysql/pull/274

[2017-05-08 15:12] #183 closed

[2017-05-09 23:15] jcq opened #277 "Autoupdate Doesn't Honor MySQL 5.7 "JSON" Data Type"
# Description/Steps to reproduce

Add property with "dataType": "JSON"

# Expected result

Creates a field with "JSON" type on MySQL 5.7

# Actual result
Creates field of type "TEXT"

Is this due to backwards compatibility with prior versions of MySQL that don't support JSON? Could we simply query for support and fallback to TEXT if version < 5.7?

Making it more annoying, it will alter columns th

[2017-05-09 23:42] bbito commented on #277
I'd like MySQL JSON type support as well, but today, neither loopback-connector-mysql nor the underlying mysqljs/mysql driver offer first-class support for MySQL JSON columns.
https://github.com/strongloop/loopback-connector-mysql#type-mappings
https://github.com/mysqljs/mysql#type-casting
Until mysqljs/mysql provides first-class support for JSON, there is a workaround, but it requires passing a c

[2017-05-11 20:05] ssh24 commented on #233
Closing this issue as there has been no update. Feel free to reopen if needed.

[2017-05-11 20:05] #233 closed

[2017-05-12 03:08] dhmlau commented on #101
@ssh24, is it fixed by your recent PRs?

[2017-05-15 13:52] juancaacuna commented on #45
Hi @benmarten ! What DataType are you using on SQL for the location column?
I like your approach!

Thanks!

[2017-05-15 17:29] benmarten commented on #45
"location": {
    "type": "geopoint",
    "required": true
  },

[2017-05-15 23:37] ssh24 commented on #264
Closing this as it is not an issue. Feel free to reopen if needed.

[2017-05-15 23:37] #264 closed

[2017-05-18 12:48] aaalsubaie commented on #57
any update on this?

[2017-05-18 13:36] Mayeu commented on #264
I am sorry but this is not the issue.

The second database (`dbtwo`) won't be part of the migration, it will only be used to read data from a database not controlled by LoopBack. Thus, it won't be part of the migration.

Adding a model using the DB still lead to the migration script to hang:

[code]

The fact that this is not in the demo repository is because the demo repository present the commit

[2017-05-19 15:59] ssh24 commented on #259
Closing this ticket. Issue should be fixed on the next available mysql connector release.

[2017-05-19 15:59] #259 closed

[2017-05-21 01:49] ssh24 opened #281 "MySQL does not honour explicit dataTypes"
# Description/Steps to reproduce
If you have a model definition with the following properties,
[code]
Upon auto-migration of the model to the database, it creates the `Amount` field for the
respective table as an `int` rather than a `decimal`.

[code]
Results in:
[code]

# Expected result
[code]

[2017-05-21 01:56] ssh24 commented on #254
Issue should be fixed in https://github.com/strongloop/loopback-connector-mysql/pull/272. Closing this is as a result.

[2017-05-21 01:56] #254 closed

[2017-05-29 17:42] kjdelisle commented on #277
@bbito From what I understand, this is a more general issue with the automigrate and autoupdate functions not using the mysql-specific column settings. (#281)

cc @ssh24

[2017-05-29 18:20] kjdelisle commented on #263
@kodepareek Sorry about the super late reply, we're churning through quite a large backlog here!

Do you have an example repository that we can use to reproduce? I can try to recreate the problem myself, but having an example that you know demonstrates the issue would definitely speed this up.

[2017-05-29 20:20] kjdelisle commented on #263
@kodepareek An update:

I've recreated the scenario above, but I can't reproduce a failure of the application itself.
[code]
I still receive the 500 Internal Server Error, but the application continues on as normal (subsequent requests to the API succeed).

I do agree that this should be returning `422 Unprocessable Entity`, since the request is syntactically valid, it's just semantically incorrec

[2017-05-30 07:43] kodepareek commented on #263
Sorry this has been a while and my code has changed completely in the meantime. Will take a lot of looking to find where things are.

I might have mistaken a 500 for a server restart. Would be my bad in that case.

[2017-05-30 13:44] b-admike commented on #269
@tma-isbx This should be fixed in the next released version of this connector. Thanks!

[2017-05-30 17:39] dhmlau commented on #70
@amenadiel , closing this issue since the tests are passing.
FYI - we've added some information in how to run tests in a docker image.  Please see: https://github.com/strongloop/loopback-connector-mysql/blob/master/README.md

[2017-05-30 17:39] #70 closed

[2017-05-30 19:13] tma-isbx commented on #269
Sounds good!

Though this isn't a breaking change API-wise. It will be a pretty significant breaking change for users that already use GeoPoint with MySQL and have POINTs in their database.

We will lock our version of the connector and manually upgrade it in sync with a database migration. But I assume this could cause some surprises for other users.

[2017-05-30 22:22] kjdelisle commented on #163
Answered, closing.

[2017-05-30 22:22] #163 closed

[2017-05-30 22:25] kjdelisle commented on #158
Closing as inactive.

[2017-05-30 22:25] #158 closed

[2017-05-30 22:41] kjdelisle commented on #147
You can define a unique index for the column.
[code]

Closing this ticket. Terribly sorry for the late reply. If you're still interested, and this doesn't help, please let us know.

[2017-05-30 22:41] #147 closed

[2017-05-31 07:35] bajtos commented on #269
I agree. IMO, we should release the change as a semver-major version and provide a migration guide explaining how to upgrade the existing data in the database.

[2017-05-31 14:33] b-admike commented on #269
@tma-isbx @bajtos Agreed, my apologies. I have a PR up to revert the changes, and the code will live in a branch for next major release.

[2017-05-31 19:15] #281 closed

[2017-05-31 19:21] ssh24 commented on #277
Closing this. It should be fix on the upcoming release of MySQL.

PR https://github.com/strongloop/loopback-connector-mysql/pull/283

[2017-05-31 19:21] #277 closed

[2017-05-31 21:09] kjdelisle commented on #263
Fix merged and should be out in 2.x! Thanks for the report and, again, sorry it took so long to get to this. Your help is greatly appreciated!

[2017-05-31 21:09] #263 closed

[2017-06-06 13:58] b-admike commented on #269
@tma-isbx Actually, I've merged the code into our master branch based on our branching strategy described [here](https://github.com/strongloop/loopback-connector-mysql/pull/286#issuecomment-305713309). However, we still need a migration guide, and I could use help in drafting it.

[2017-06-07 05:31] mikafri opened #289 "Any plans on updating to use mysql2?"
Hi,

We have an problem with our client who is willing to use Azure PaaS MySQL which version is 5.7, and not allowed to connect using that protocol 41, old-password thingie which is used by default mysql lib for node.

Tested out the new mysql2 and it is supporting up-to-date authentication method, was just wondering do you have any plans to update connector to use that?

If not, I'm probably star

[2017-06-07 14:13] b-admike opened #290 "Add migration guide for MySQL Connector 5.x release"
Let our users know what's changed in loopback-connector-mysql@5.x.

Acceptance Criteria:
- Tag PR with `breaking-change` label
- Describe the migration guide in README
- Test the upgrade path according to migration guide

[2017-06-07 14:18] b-admike commented on #269
Should be fixed in master. PR #286.

[2017-06-07 14:18] #269 closed

[2017-06-08 16:32] ssh24 commented on #188
Closing this issue. All tests cases pass on CI for MySQL in both CIS-jenkins and CI-strongloop.

CIS uses mysql version 5.7 and CI strongloop uses 5.6. The tests are supported to detect and run on both 5.6 and 5.7.

[2017-06-08 16:32] #188 closed

[2017-06-08 16:35] kjdelisle commented on #234
The remaining test skips are from the inherited loopback-datasource-juggler, or are tests that are not supported by current connector functionality.

I've merged a PR against juggler to automatically indicate which tests are unsupported by a connector, which will mark the test-group or individual tests with the `[UNSUPPORTED]` prefix. See https://github.com/strongloop/loopback-datasource-juggler/p

[2017-06-08 16:35] #234 closed

[2017-06-08 20:09] ssh24 commented on #152
@jgleman This issue should be fixed on the latest version of mysql. Please npm install the latest mysql and try again.

Please note, `blob` types don't have lengths so your initial property definition will fail.

Here is my model definition:
[code]

Here is my boot script:
[code]

After running `autoupdate`, it was able to create the table successfully in mysql.
[code]

Hopefully this fixes your i

[2017-06-08 20:25] #152 closed

[2017-06-12 16:41] ssh24 opened #291 "Add `like` and `nlike` support"
# Description

Currently, our connector does not support `like` and `nlike` operations. Add the support such that it will allow users to filter using those operations.

Please note: **In MySQL, SQL patterns are case-insensitive by default.** Hence, we do not need to implement `ilike` and `nilike`. More info [here](https://dev.mysql.com/doc/refman/5.7/en/pattern-matching.html)

# Expected result
Cu

[2017-06-12 17:15] ssh24 commented on #291
Closing this issue. Was trying with an older version of mysql which did not have `like` and `nlike`.

[2017-06-12 17:15] #291 closed

[2017-06-12 18:41] ssh24 opened #292 "Allow regexp operation with case sensitvity"
# Description/Steps to reproduce
MySQL's regexp query is not case sensitive. More info [here](https://dev.mysql.com/doc/refman/5.7/en/regexp.html). This feature allows regexp operation with case sensitivity.

**Note:** MySQL uses `BINARY` flag to allow regexp query with case sensitivity because the default regexp query is not case sensitive.

# Expected result
This code snippet will return `My Pos

[2017-06-13 05:42] haotangio opened #294 "Add docs on foreign key support for automigrate/autoupdate"
Current the `automigrate` and `autoupdate` methods do not create foreign keys in the database. Do we have any plan to proceed with it?

[2017-06-13 15:43] #292 closed

[2017-06-14 17:13] #221 closed

[2017-06-14 17:15] b-admike commented on #221
@stringbeans This issue should be resolved in the next release of this connector. Thank you.

[2017-06-14 19:42] ssh24 commented on #294
@haotangio It does create foreign keys in the database when specified. Look at https://github.com/strongloop/loopback-connector-mysql/blob/master/lib/migration.js#L68

[2017-06-15 04:36] haotangio commented on #294
This is my `automigrate.js` script applying to https://github.com/strongloop/loopback-example-relations repo:
[code]

But there is still no foreign key created, do I need to add something to the code?
![upload](https://user-images.githubusercontent.com/8952752/27165557-a45fde2c-51cf-11e7-9edc-484cb0b3ef27.PNG)

[2017-06-15 06:43] haotangio commented on #294
After a deep reverse engineering for the source coe, I figured out the way to achieve the purpose:

[code]

But it's very very strange as why loopback didn't put this information in any documents.
Or is there any document that I missed?

[2017-06-15 13:46] ssh24 commented on #294
@haotangio Good catch with the docs. I will add a quick PR for the fix.

[2017-06-15 18:16] ssh24 commented on #208
The docs have been updated in [here](http://loopback.io/doc/en/lb2/MySQL-connector.html#type-mappings). Closing this issue.

[2017-06-15 18:16] #208 closed

[2017-06-15 18:40] ssh24 commented on #52
Can confirm this bug is fixed. Closing this issue.

[2017-06-15 18:40] #52 closed

[2017-06-15 18:44] ssh24 commented on #177
Closing this as it is not an issue anymore. Feel free to reopen if needed.

[2017-06-15 18:44] #177 closed

[2017-06-15 18:57] ssh24 commented on #294
Docs and example landed on MySQL specific readme and should be accessible in [loopback.io](http://loopback.io/doc/) with the next release of docs.

[2017-06-15 18:57] #294 closed

[2017-06-15 20:11] ssh24 commented on #51
This issue should be fixed on the latest version of the connector. The user can specify a **default** value of a property on the model definition, and the `create` method will honour the default value if the property is not specified upon the `create` request.

Here is a sample code snippet:

**model-definition.json**
[code]

**boot-script.js**
[code]

**console output**
[code]

**database output*

[2017-06-15 20:11] #51 closed

[2017-06-16 11:20] haotangio commented on #294
Thank you.
Btw, is there any `secret options` which are helpful but not documented there? :)

[2017-06-16 14:47] ssh24 commented on #85
After doing some research, I can confirm it is a bug.

To have a `AUTO_INCREMENT PK`, in loopback model definition, specify the **generated: true** flag. However, it always uses `int(11)` as the datatype even when the user specifies the specific datatype.

[2017-06-16 20:07] #290 closed

[2017-06-16 20:09] ssh24 commented on #151
Should be fixed in this PR https://github.com/strongloop/loopback-connector-mysql/pull/232. Closing this issue. Feel free to reopen if needed.

[2017-06-16 20:09] #151 closed

[2017-06-16 20:20] ssh24 commented on #46
The SSL option can be passed through the datasource configs. Should have been fixed on this [PR](https://github.com/strongloop/loopback-connector-mysql/pull/43/files#diff-fd1940159a592c074df64da530d394e3R59). Closing this issue as a result. Feel free to reopen if needed.

[2017-06-16 20:20] #46 closed

[2017-06-16 20:23] ssh24 commented on #289
/cc @raymondfeng

Here is the mysql2 driver: https://github.com/sidorares/node-mysql2

[2017-06-17 00:49] ssh24 commented on #294
Yup. Look in this [doc](https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html) for all the options available globally on each connector module.

[2017-06-19 06:57] mikafri commented on #289
Yes, but do you have plans to switch loopback-connector-mysql to use mysql2? Or maybe there should be fork of this project and implement it using mysql2?

[2017-06-19 14:26] ssh24 commented on #119
Our connector serializes the array data before inserting into the database. Since mysql **does not support** array data type, we stringify the data and insert into the database. Upon getting the data back from the database, we convert it into an array.

Here is an example code snippet:
**model-definition.json**
[code]

**boot-script.js**
[code]

Hope this answers your question.

Closing this issue

[2017-06-19 14:26] #119 closed

[2017-06-19 18:01] ssh24 commented on #133
You can specify the specific mysql column type for a particular field in the swagger definition. And upon `autoupdate/automigrate`, it will create the table column with that explicit datatype.

Here is an example code snippet:

**model-definition.json**
[code]

**boot-script.js**
[code]

**database output**
[code]

Closing this as the issue has been resolved. Feel free to reopen if needed.

[2017-06-19 18:01] #133 closed

[2017-06-20 11:01] dionisisZyg commented on #294
I tried the example at the link below (in Discovery and auto-migration section) and still no foreign keys are created.
https://github.com/strongloop/loopback-connector-mysql#auto-migration

![fk](https://user-images.githubusercontent.com/29570517/27329812-aba20702-55bf-11e7-94e0-2797c96d78be.png)

Am i missing something?

![code](https://user-images.githubusercontent.com/29570517/27330068-9f24b442

[2017-06-20 16:24] ssh24 commented on #294
@dionisisZyg Good catch. There was a bug in that example. I have updated the example. Please take a look and try again.

[2017-06-21 10:29] dionisisZyg commented on #294
@ssh24 Thanks for your reply. I updated the code but still, the foreign key is missing. I made no changes to the example.
![workbench](https://user-images.githubusercontent.com/29570517/27379762-40621b78-5685-11e7-8330-50f6c224c74e.png)

![models](https://user-images.githubusercontent.com/29570517/27379771-48fbbe2e-5685-11e7-983a-45f5d872f9d8.png)

![sample-models](https://user-images.githubuserco

[2017-06-21 11:06] ssh24 commented on #294
It is working for me. Which of version of the connector are you using?

[2017-06-21 11:09] dionisisZyg commented on #294
"loopback-connector-mysql": "^2.4.1"

[2017-06-21 13:12] ssh24 commented on #294
Ah, that is the issue. Foreign key migration is not supported in the older versions. Please upgrade to a latest build by doing `npm i loopback-connector-mysql` and try again.

[2017-06-21 14:20] dionisisZyg commented on #294
Thank you, everything now is working as expected!

[2017-06-22 11:47] ssageghi opened #304 "inq querry return blank"
Hi
I used mongoDb previously then I migrate to mysql
I filter my request with inq and it's ok in mongoDb but now i always get blank
this is my filter value in strongloop explorer

{"where": {"tags"{"inq":["kitchen"]}}}
 do you now where I was wrong?

[2017-06-23 14:58] ssh24 commented on #304
Looks like your filter is wrong. Should be `{"where": {"tags": {"inq":["kitchen"]}}}` instead.

Can confirm `inq` operation works in mysql.

Here is a sample code snippet:

**model-definition.json**
[code]

**boot-script.js**
[code]

**output**
[code]

Closing this as resolved. Feel free to reopen if needed.

[2017-06-24 05:13] ssageghi commented on #304
it's ok to use it in persian language?
I still get blank

[2017-06-24 05:23] ssageghi commented on #304
@ssh24
I still get blank
 {"where": {"tags": {"inq":["kitchen"]}}}

my model properties:
`  "properties": {
    "date": {
      "type": "date",
      "required": true
    },
    "title": {
      "type": "string",
      "required": false
    },
    "tags": {
      "type": [
        "string"
      ]
    }
  },`

and i want to filter model by tags property
I don't have a problem with mongoDb and my q

[2017-06-24 07:04] ssh24 commented on #304
@ssageghi After some investigation, this is happening because MySQL **does not** support Array types. We store the array input as a serialized string (i.e if you input `['Sam', 'Bob']`, we store in the database as `"['Sam', 'Bob']"`.

If you want to use the inq filter you have query the whole **stringified** array. In your case, `{"where": {"tags": {"inq":['["kitchen"]']}}}`.

Thank you for this c

[2017-06-24 07:33] ssageghi commented on #304
thank you for helping me
I try your suggestion and explorer give me this error
`"message": "invalid value for argument 'filter' of type 'object': {\"where\": {\"tags\": {\"inq\":['[\"kitten\"]']}}}. Received type was string. Error: Unexpected token ' in JSON at position 27"`

[2017-06-24 08:04] ssh24 commented on #304
@ssageghi Try this:
[code]

[2017-06-24 08:24] ssageghi commented on #304
Now it's giving me blank again
![capture](https://user-images.githubusercontent.com/24605214/27507041-4a01c18e-58dc-11e7-9041-d273d9a64eb7.PNG)

[2017-06-24 08:25] ssageghi commented on #304
this is result when I don't use filter

[2017-06-24 08:33] ssageghi commented on #304
If i give the photo just one tag (kitchen) it's working
but when i gave him 2 tags , it's giving me blank

[2017-06-24 13:15] ssh24 commented on #304
That is the expected behavior. The `inq` filter checks for the exact string `"["kitchen"]"` and will return the instance that has only `"["kitchen"]"`. If you have another instance with `"["kitchen", "living room"]"`, it will not work.

This is a short coming in our connector because of the way we handle Array types to insert into mysql which doesn't have an array data type. It has a `json` data t

[2017-06-24 13:57] ssageghi commented on #304
thanks

what change I have to do to this code to accomplish that
`"properties": { "date": { "type": "date", "required": true }, "title": { "type": "string", "required": false }, "tags": { "type": [ "string" ] } },`
make [string] to json?

[2017-06-24 17:08] ssh24 opened #305 "Allow Array storage in MySQL"
# Description
MySQL [stores array](https://dev.mysql.com/doc/refman/5.7/en/json.html) as a `JSON` field. Currently, we are just **stringifying** the whole array passed as input and storing in the database as a `TEXT` type. This is not helpful because the stored data cannot be queried by any means.

# Acceptance Criteria
- Allow storage of loopback **array** data types as an actual array in MySQL
-

[2017-06-24 17:11] ssh24 commented on #304
At this moment everything of loopback data type **array** will be stored in MySQL as `TEXT` field. So it is not convenient to make CRUD calls on it. I have created a feature request and put it in our backlog. Thank you for your patience. https://github.com/strongloop/loopback-connector-mysql/issues/305

[2017-06-28 12:16] mrnetforge commented on #294
Yes solution by @haotangio works fine. But i have question.. what if my foreign key need to SET NULL on DELETE. Its any solution for this? For now all keys that i created are set to RESTRICT.

[2017-06-29 05:13] ssageghi opened #307 "DATA too long"
Hi
I have an editor that store image as base64 format and make long text
and when I try to store in mysql I get this error
`"500 - {"error":{"name":"Error","status":500,"message":"ER_DATA_TOO_LONG: Data too long for column 'content' at row 1","code":"ER_DATA_TOO_LONG","errno":1406,"sqlState":"22001","index":0,"stack":"Error: ER_DATA_TOO_LONG: Data too long for column 'content' at row 1\n    at Que

[2017-06-30 06:04] go2smartphone commented on #57
any progreess?

[2017-06-30 15:04] loay commented on #307
Hi @ssageghi
You can use the `dataType/dataLength` in mysql in order to increase the length of the `img_url`. Please have a look at this example:
https://loopback.io/doc/en/lb2/MySQL-connector.html#using-thedatatypefieldcolumn-option-with-mysql

[2017-07-01 05:37] ssageghi commented on #307
@loay I changed the properties like this
`  "properties": {
    "img_url": {
      "type": "string"
    },
    "content": {
      "type": "string",
      "required": true,
      "length": 20,
      "mysql": {
        "dataType": "LONGTEXT",
        "dataLength": 20,
        "nullable": "N"
      }
    }
  },`

and I get this error
`
Error: ER_PARSE_ERROR: You have an error in your SQL syntax; chec

[2017-07-05 14:48] loay commented on #307
@ssageghi
Would it be possible to provide a sample repo with ur issue so I can debug?
Thanks

[2017-07-07 09:15] lehni commented on #57
I've managed to make this work from a bootstript, e.g. `00-database.js` for postgresql, but looking at https://github.com/strongloop/loopback-connector, I don't see a reason why it shouldn't work here either:

[code]

`dbName()`, if present is being used for the processing of the names of tables and columns, e.g.:

https://github.com/strongloop/loopback-connector/blob/ffa776cf6a0e401ee0427ce42e9f5

[2017-07-07 09:34] lehni commented on #57
Update: I just implemented this proposal through the boot-script, and it works:
#### 00-database.js
[code]

#### datasources.json
[code]

I've added "lowercase" because that's what loopback-connector-postgresql uses by default:
https://github.com/strongloop/loopback-connector-postgresql/blob/ef6466063d128c3a381b637c59bbb66b71e94890/lib/postgresql.js#L325

Let's use this as the base for discussion

[2017-07-11 19:13] ssh24 commented on #305
Related to https://github.com/strongloop/loopback-connector-mysql/issues/304. This feature implemented shall fix that issue.

[2017-07-11 19:26] ssh24 commented on #307
@ssageghi You don't need to specify the `dataLength` for a *LONGTEXT* data type.

Just specify the `dataType` itself for types that do not require explicit lengths:
[code]
Closing this issue as resolved. Feel free to reopen if needed.

[2017-07-11 19:26] #307 closed

[2017-07-11 19:34] ssh24 commented on #289
/cc @dhmlau @kjdelisle

[2017-07-11 20:50] ssh24 commented on #64
You need to set the `nullable` property on the property level rather than on the database config. If a property is **required**, the property is by default **not nullable**.

Here is a sample reproduction:

**model-definition.json**

[code]

**database output**
[code]

Hopefully this answered the question. Closing this issue as a result.

[2017-07-11 20:50] #64 closed

[2017-07-11 21:02] ssh24 commented on #73
You could also use `async.each` to iterate through each of the `oldServerData` and perform an **upsert**.

Here is an example:
[code]

Closing this story as resolved. Feel free to reopen if needed.

[2017-07-11 21:02] #73 closed

[2017-07-12 01:53] b-admike commented on #36
I believe this issue is fixed. I am unable to reproduce all the types of issues mentioned in this thread.
- `credentials` and `challenges` properties are no longer part of the `User` base model class.
[code]
- properties which had `VARCHAR(4096)` column definitions in `Application` base model are now `VARCHAR(512)`
[code]
- `id` property for `AccessToken` base model is now `VARCHAR(255)` in the My

[2017-07-12 05:50] ssageghi commented on #307
@ssh24 I use the way that you mentioned and content column still is varchar(512) and I still get error